/*  --------------------
	Button up styles
--------------------  */
.scroll_block{
	.scroll_to_top{
		z-index: 3;
		position: fixed;
		width: 40px;
		height: 40px;
		right: 50px;
		bottom: -50px;
		border-width: 2px;
		border-style: solid;
		font-size: 32px;
		cursor: pointer;
		text-align: center;
		opacity: 0;
		background-color: #fff;
		@include border-radius(50%);
		@include transition(bottom .3s linear, opacity .3s ease, background-color .2s ease, color .2s ease);
		&.fadeIn{
			bottom: 50px;
			opacity: 1;
		}
		&:hover{
			color: #fff;
		}
		&:before{
			content: '\f106';
			font-family: "FontAwesome";
			position: absolute;
			left: 50%;
			top: 48%;
			@include transform(translate(-50%, -50%));
		}
	}
}

@media screen and (max-width: 767px){
	.scroll_block{
		.scroll_to_top{
			right: 20px;
			&.fadeIn{
				bottom: 20px;
			}
		}
	}
}