/*  ====================
	Default styles
====================  */
body {
	min-width: 320px;
	overflow-x: hidden;
	&.oveflow-hidden,
	&.side_panel_show,
	&.menu-visible,
	&.search-on-wrap,{
		overflow: hidden;
	}
}
a{
	text-decoration: none;
	@include transition(color .3s ease);
}
a[rel="v:url"]{
	display: inline-block;
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:before, *:after {
	box-sizing: border-box;
}
iframe, .wp-caption, select{
	max-width: 100%;
}
input, textarea{
	-webkit-border-radius: 0;
	border-radius: 0;
}
button, input[type="button"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.container,
.page_content > main .grid_row_cont,
.page_content > main .grid_row, .page_content > main .benefits_cont,
.page_content:not(.single_sidebar):not(.double_sidebar) .fw_row_content_wrapper{
	width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

/*  --------------------
	Normalize
--------------------  */
html{
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@include box-sizing();
}
article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
	display: block;
}
hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	overflow: visible;
}
pre{
	font-family: monospace, monospace;
	font-size: 1em;
}
a{
	position: relative;
}
abbr[title]{
	text-decoration: none;
}
b, strong{
	font-weight: 700;
}
code, kbd, samp{
	font-family: monospace;
	font-size: .9375em;
	padding: 2px 5px;
}
mark{
	background-color: #eee;
	color: #222;
}
small{
	font-size: .8em;
}
sub, sup{
	font-size: .75em;
	line-height: 0;	
	position: relative;
	vertical-align: baseline;
}
sub{
	bottom: -0.25em;
}
sup{
	top: -0.5em;
}
audio, video, canvas{
	display: inline-block;
}
audio:not([controls]){
	display: none;
	height: 0;
}
button, input, optgroup, select, textarea{
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button{
	overflow: visible;
	text-transform: none;
}
input{
	overflow: visible;
}
select{
	text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-moz-focus-inner{
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring{
		outline: 1px dotted ButtonText;
	}
}
fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	@include box-sizing;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	@include box-sizing;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: none;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: none;
	font: inherit;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/*  --------------------
	Accessibility (not)
--------------------  */
.screen-reader-text{
	display: none;
}

/*  --------------------
	Alignments
--------------------  */
.alignleft{
	text-align: left;
}
.alignright{
	text-align: right;
	margin-right: auto;
}
.aligncenter{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

/*  --------------------
	Clearings
--------------------  */
.clear,
.clearfix,
.entry-content,
.entry-footer,
.comment-content,
.site-header,
.site-content,
.site-footer,
.nav-links,
.pagination,
.comment-author,
.widget-area,
.widget,
.comment-meta{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after{
	margin: 0 !important;
}

/*  --------------------
	Definition Lists
--------------------  */
dl{
	&:not(:last-child){
		margin-bottom: 20px;
	}
	dt{
		&:not(:first-child){
			margin-top: 0.6em;
		}
	}
	dd{
		padding-left: 1.2em;
		font-style: italic;
	}
}

/*  --------------------
	Typography
--------------------  */
body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
	font-weight: 500;
}

h1{
	font-size: 2.67em;
	&:not(:first-child){
		margin-top: 0.67em;
	}
	&:not(:last-child){
		margin-bottom: 0.67em;
	}
}
h2{
	font-size: 2.335em;
	&:not(:first-child){
		margin-top: 0.83em;
	}
	&:not(:last-child){
		margin-bottom: 0.5em;
	}
}
h3{
	font-size: 1.95em;
	&:not(:first-child){
		margin-top: 1em;
	}
	&:not(:last-child){
		margin-bottom: 0.6em;
	}
}
h4{
	font-size: 1.45em;
	&:not(:first-child){
		margin-top: 1.4em;
	}
	&:not(:last-child){
		margin-bottom: 0.64em;
	}
}
h5{
	font-size: 1.235em;
	&:not(:first-child){
		margin-top: 1.67em;
	}
	&:not(:last-child){
		margin-bottom: 0.62em;
	}
}
h6{
	font-size: 1.05em;
	&:not(:first-child){
		margin-top: 2.4em;
	}
	&:not(:last-child){
		margin-bottom: 0.615em;
	}
}
p{
	&:not(:last-child){
		margin: 0 0 1.25em;
		padding: 0;
	}
}
dfn,
cite,
em{
	font-style: italic;
}
i{
	font-style: normal;
}
s,
strike,
del{
	text-decoration: line-through;
}
.single{ //Remove from structure
	blockquote{
		margin-left: -65px;
		max-width: calc(100% - 65px);
		background-color: transparent;
		font-size: 24px;
		line-height: initial;
		padding: 0;
		&:before{
			display: none;
		}
	}
}
blockquote {
	position: relative;
	padding: 30px 45px 30px 80px;
	color: #fff;
	text-align: left;
	font-size: 20px;
	line-height: 32px;
	margin: 30px 0;
	&:before{
		content: '\201C';
		font-size: 100px;
		position: absolute;
		left: 35px;
		top: 57px;
		color: inherit;
	}
	p{
		margin: 0;
	}
	a{
		color: #fff;
		font-weight: 700;
	}
}
blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: calc(100vw - 30px);
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark {
	text-decoration: none;
	background-color: #eee;
}
u{
	text-decoration: underline;
}
ins {
	padding: 2px;
}
big {
	font-size: 1.25em;
}
q {
	font-style: italic;
	&:before{
		content: "\201c\0020";
	}
	&:after{
		content: "\0020\201d";
	}
}
:focus {
	outline: none;
}

/*  --------------------
	Forms
--------------------  */
label {
	display: block;
}
fieldset {
	margin-bottom: 1em;
}
select {
	border: 1px solid #bbb;
	@include border-radius(3px);
	height: 3em;
	max-width: 100%;
	padding: 0 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid #ddd;
	display: block;
	padding: 10px;
	width: 100%;
	@include transition(all .2s ease);
	resize: none;
	@include border-radius(4px);
	&:focus{
		color: #222;
	}
}
input[type="radio"],
input[type="checkbox"]{
	margin-right: 0.5em;
	&+label{
		font-weight: 400;
	}
}
button,
.button,
.cws_button,
input[type="button"],
input[type="submit"] {
	display: inline-block;
	position: relative;
	font-weight: 400;
	font-size: 1.07em;
	color: #fff;
	padding: .7em 2.5em;
	@include border-radius(4px);
	margin-top: 10px;
	border-width: 2px;
	border-style: solid;
	white-space: pre-wrap;
	@include transition(all .2s linear);
	&:hover{
		background-color: #fff;
	}
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-ms-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

/*  --------------------
	Formatting
--------------------  */
hr{
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*  --------------------
	Tags
--------------------  */
address{
	font-style: italic;
}

/*  --------------------
	Lists
--------------------  */
ol{
	margin-left: 20px;
	> li{
		list-style-type: decimal;
	}
	li{
		line-height: 1.882em;
	}
}
ul,
ol{
	padding: 0;
}
// .grid_row,
// .item{
// 	ul{ //Remove from structure
// 		position: relative;
// 		> li{
// 			position: relative;
// 			padding-left: 20px;
// 			line-height: 1.882em;
// 			&:before{
// 				content: '';
// 				width: 10px;
// 				height: 10px;
// 				position: absolute;
// 				left: 0;
// 				top: 10px;
// 				@include border-radius(50%);
// 				@include box-shadow(3px 3px 3px 1px rgba(0,0,0, .05));
// 			}
// 		}
// 	}
// }

/*  --------------------
	Tables
--------------------  */
table{
	border-collapse: collapse;
	margin: 0 0 1.5em;
}
thead th {
	padding-bottom: 0.5em;
}
tbody{
	tr{
		background-color: transparent;
		@include transition(background-color .2s linear);
		&:hover{
			background-color: rgb(253,253,253);
		}
	}
	th{
		a{
			@include transition(color .2s linear);
		}
	}
}
th,
td {
	border-collapse: collapse;
	border: 1px solid #F3F3F3;
	padding: 10px;
}
tr {
	border-bottom: 1px solid #eee;
}

/*  --------------------
	Links
--------------------  */
a{
	text-decoration: none;
}

/*  --------------------
	Featured Image Hover
--------------------  */
.post-thumbnail {
	margin-bottom: 1em;
	a{
		&:hover,
		&:focus{
			img{
				opacity: 0.7;
			}
		}
		img{
			-webkit-backface-visibility: hidden;
			@include transition(opacity .2s linear);
		}
	}
}

/*  --------------------
	Layout
--------------------  */
*,
*:before,
*:after{
	@include box-sizing;
}
#page{
	position: relative;
}

/*  --------------------
	Layout - reg.content
--------------------  */
.site-content-contain {
	background-color: #fff;
	position: relative;
}
.site-content {
	padding: 2.5em 0 0;
}

/*  --------------------
	Layout - posts
--------------------  */
.sticky{
	position: relative;
	.icon-thumb-tack{
		display: block;
		height: 18px;
		left: -1.5em;
		position: absolute;
		top: 1.65em;
		width: 20px;
	}
}
.post:not(.sticky){
	.icon-thumb-tack{
		display: none;
	}
}
.page .panel-content .entry-title,
.page-title{
	color: #222;
	font-size: 0.875em;
	font-weight: 800;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}
.entry-header{
	.entry-title{
		margin-bottom: 0.25em;
		&:not(:first-child){
			padding-top: 0;
		}
		a{
			color: #333;
			text-decoration: none;
			margin-left: -2px;
		}
	}
}
.entry-meta{
	color: #767676;
	font-size: 0.687em;
	font-weight: 800;
	letter-spacing: 0.18em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
	a{
		color: #767676;
	}
}
.byline,
.updated:not(.published){
	display: none;
}
.single .byline,
.group-blog .byline{
	display: inline;
}
.comments-pagination{
	border: 0;
}
.page-numbres{
	display: none;
	padding: 0.5em 0.75em;
	&.current{
		color: #767676;
		display: inline-block;
	}
}
.taxonomy-description{
	color: #666;
	font-size: 0.8125em;
}

/* Single Post */
.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
	margin-left: auto;
	margin-right: auto;
	max-width: 740px;
}
.single-featured-image-header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	img{
		display: block;
		margin: auto;
	}
}
.page-links{
	font-size: 0.875em;
	font-weight: 800;
	padding: 2em 0 3em;
	.page-number{
		color: #767676;
		display: inline-block;
		padding: 0.5em 1em;
	}
	a{
		display: inline-block;
		.page-number{
			color: #222;
		}
	}
}

/* Post Formats */
.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
.format-quote blockquote {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	overflow: visible;
	position: relative;
	&:last-child{
		margin-bottom: 10px;
	}
	.icon{
		display: block;
		height: 20px;
		left: -1.25em;
		position: absolute;
		top: 0.4em;
		@include transform(scale(-1, 1));
		width: 20px;
	}
}

/* Post Navigation */
.post-navigation{
	font-weight: 800;
	margin: 3em 0;
	.nav-links{
		padding: 1em 0;
	}
	.nav-next{
		margin-top: 1.5em;
	}
}
.nav-subtitle{
	background: transparent;
	color: #767676;
	display: block;
	font-size: 0.6875em;
	letter-spacing: 0.18em;
	margin-bottom: 1px;
	text-transform: uppercase;
}
.nav-title{
	color: #333;
	font-size: .9375em;
}
.nav-links{
	.nav-next{
		.nav-title{
			.nav-title-icon-wrapper{
				margin-left: 0.5em;
			}
		}
	}
	.nav-previous{
		.nav-title{
			.nav-title-icon-wrapper{
				margin-right: 0.5em;
			}
		}
	}
}
/*  --------------------
	Layout - pages
--------------------  */
.page-links{
	clear: both;
	margin: 0 0 1.5em;
}
.page:not(.home) #content{
	padding-bottom: 1.5em;
}

/* 404 page */
.error404 .page-content {
	padding-bottom: 4em;
}
.error404 .page-content .search-form,
.search .page-content .search-form {
	margin-bottom: 3em;
}

/* Search page */
.search{
	.item{
		.ce_title{
			font-size: 1.95em;
			font-weight: 500;
			margin: 10px 0 15px;
			a{
				-ms-word-wrap: break-word;
					word-wrap: break-word;
			}
		}
	}
}

/*  --------------------
	Media
--------------------  */
img,
video{
	height: auto;
	max-width: 100%;
}
embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}
p{
	> embed:only-child,
	> iframe:only-child,
	> object:only-child{
		margin-bottom: 0;
	}
}
.pic{
	position: relative;
}
.hover-effect{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include transition(opacity .3s ease);
	opacity: 0;
	@include border-radius(4px);
	&:hover{
		opacity: 1;
	}
}
.wp-caption,
.gallery-caption {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.mejs-container {
	margin-bottom: 1.5em;
}
.mejs-controls{
	a.mejs-horizontal-volume-slider{
		background: transparent;
		border: 0;
		&:focus,
		&:hover{
			background: transparent;
			border: 0;
		}
	}
}
.site-content{
	.wp-playlist-light{
		background-color: #eee;
		color: #222;
		.wp-playlist-current-item{
			.wp-playlist-item-album{
				color: #333;
			}
			.wp-playlist-item-artist{
				color: #767676;
			}
		}
		.wp-playlist-item{
			border-bottom: 1px #eee dotted;
			@include transition(background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out);
			&:hover,
			&:focus{
				color: #fff;
				background-color: #767676;
				border-bottom-color: rgba(0,0,0,0);
				a{
					color: #fff;
				}
			}
		}
		a.wp-playlist-caption{
			&:hover{
				color: #fff;
			}
		}
	}
	.wp-playlist-dark{
		background-color: #222;
		border-color: #333;
		.mejs-container{
			.mejs-controls{
				background-color: #333;
			}
		}
		.wp-playlist-current-item{
			.wp-playlist-item-album{
				color: #eee;
			}
			.wp-playlist-item-artist{
				color: #aaa;
			}
		}
		.wp-playlist-playing{
			background-color: #333;
		}
		.wp-playlist-item{
			border-bottom: 1px #555 dotted;
			@include transition(background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out);
			&:hover,
			&:focus{
				color: #222;
				background-color: #fff;
				border-bottom-color: rgba(0,0,0,0);
				a{
					color: #222;
				}
			}
		}
		.wp-playlist-caption{
			color: #fff;
		}
	}
	.wp-playlist{
		padding: 0.625em 0.625em 0.3125em;
	}
	.wp-playlist-current-item{
		.wp-playlist-item-title{
			font-weight: 700;
		}
		.wp-playlist-item-album{
			font-style: normal;
		}
		.wp-playlist-item-artist {
			font-size: 0.625em;
			font-weight: 800;
			letter-spacing: 0.18em;
			text-transform: uppercase;
		}
	}
	.wp-playlist-item{
		padding: 0 0.3125em;
		cursor: pointer;
		&:last-of-type{
			border-bottom: 0;
		}
		a{
			padding: 0.3125em 0;
			border-bottom: 0;
			background: transparent;
			@include box-shadow(none);
			&:focus,
			&:hover{
				@include box-shadow(none);
				background: transparent;
			}
		}
	}
	.wp-playlist-item-length{
		top: 5px;
	}
}
.icon{
	display: inline-block;
	height: 1em;
	width: 1em;
	position: relative;
	vertical-align: middle;
	top: -0.0625em;
}

/*  --------------------
	Galleries
--------------------  */
.gallery-item{
	padding: 0 15px;
	margin: 30px 0 0 !important;
	a,
	a:hover,
	a:focus{
		background: none;
		display: inline-block;
		max-width: 100%;
		@include box-shadow(none);
	}
	a{
		&:hover,
		&:focus{
			img{
				-webkit-filter: opacity(60%);
						filter: opacity(60%);
			}
		}
		img{
			display: block;
			@include transition(filter .2s ease-in);
		}
	}
}
.gallery-columns-1 .gallery-item {
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-caption{
	display: block;
	text-align: center;
	margin: 0 0 20px;
	padding: 0;
}

/*  --------------------
	SVGs Fallbacks
--------------------  */
.svg-fallback{
	display: none;
}
.no-svg{
	.svg-fallback{
		display: inline-block;
	}
	.dropdown-toggle{
		padding: 0.5em 0 0;
		right: 0;
		text-align: center;
		width: 2em;
		&.toggled-on{
			.svg-fallback{
				&.icon-angle-down{
					@include transform(rotate(0));
					@include transition(transform(rotate .3s linear));
				}
			}
		}
		.svg-fallback{
			&.icon-angle-down{
				font-size: 1.25em;
				font-weight: 400;
				line-height: 1;
				@include transform(rotate(180deg));
				&:before{
					content: '\005E';
				}
			}
		}
	}
	.social-navigation{
		a{
			background: transparent;
			color: #222;
			height: auto;
			width: auto;
		}
	}
}

/*  --------------------
	Fancybox styles
--------------------  */
.fancybox-skin{
	padding: 3px !important;
}
.fancy{
	font-size: 0;
	display: block;
}

/*  --------------------
	Owl-custom styles
--------------------  */
.owl-carousel{
	.owl-dots{
		margin-top: 10px;
		text-align: center;
		.owl-dot{
			position: relative;
			width: 8px;
			height: 8px;
			opacity: .5;
			margin: 0 5px;
			font-size: 0px;
			line-height: 0;
			@include border-radius(50%);
			@include transition(opacity .2s ease);
			-webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
		    -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
		    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
			&.active{
				opacity: .8;
			}
		}
	}
	.owl-nav{
		.owl-prev,
		.owl-next{
			margin: 0;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			height: 40px;
			width: 40px;
			cursor: pointer;
			overflow: hidden;
			@include transition(left .2s ease, right .2s ease);
			@include border-radius(50%);
			border: 0;
			&:before{
				color: #fff;
				font-family: 'FontAwesome';
				position: absolute;
				top: 52%;
				font-size: 18px;
				@include transform(translate(-50%, -50%));
				@include transition(color .3s ease);
			}
			&.disabled{
				opacity: .5;
				cursor: default;
			}
			span{
				font-size: 0px;
			}
		}
		.owl-prev{
			left: -30px;
			&:before{
				content: '\f053';
			}
		}
		.owl-next{
			right: -30px;
			&:before{
				content: '\f054';
			}
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev{
				left: 0;
			}
			.owl-next{
				right: 0;
			}
		}
	}
}

.widget_carousel{
	&.controls_round{
		.owl-dots{
			.owl-dot{
				span{
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					width: 100%;
					height: 100%;
					border: 1px solid #545454;
					padding: 5px;
					@include border-radius(50%);
				}
			}
		}
	}
	&.controls_square{
		.owl-dots{
			.owl-dot{
				@include border-radius(0);
				span{
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					width: 100%;
					height: 100%;
					border: 1px solid #545454;
					padding: 5px;
				}
			}
		}
	}
}

/*  --------------------
	Round divider
--------------------  */
.round-divider{ //Remove from structure
	content: '';
	width: 8px;
	height: 8px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
}

/*  --------------------
	Unitest header styles
--------------------  */
.single.cws_default{
	.default_page_title{
		padding: 100px 15px 50px;
	}
}
.cws_default{
	.default_menu_box{
		padding: 12px 0;
		.header_nav_part{
			@include order(initial);
		}
		.header_site_title{
			padding: 0;
			font-weight: 500;
			text-align: left;
		}
	}
	.title_box{
		.title{
			text-align: center;
			h1{
				position: relative;
				z-index: 2;
			}
		}
	}
	.default_page_title{
		padding: 100px 15px;
		.stat_img_cont,
		.bg_layer{
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bg_layer{
			background-size: contain;
		}
		.stat_img_cont{
			background-size: cover;
		}
	}
	.post{
		font-weight: 300;
		ul{
			&:not(:last-child){
				margin-bottom: 1.3em;
			}
		}
		li{
			ul{
				margin-bottom: 0;
				margin-left: 0;
			}
		}
	}
	.site_header{
		.container{
			.menu_right_icons{
				@include flex(row, nowrap, flex-end, center);
				-webkit-flex-grow: 1;
				-moz-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-webkit-order: 3;
				-ms-order: 3;
				order: 3;
				text-align: right;
				> *{
					padding: 10px 15px;
				}
				.search_menu{
					&:before{
						content: '\f002';
						font-family: 'FontAwesome';
						color: inherit;
					}
				}
			}
		}
	}
	.main-nav-container{
		.sub-menu{
			.menu-item{
				> a{
					font-size: .9em;
				}
			}
		}
		.menu-item{
			font-size: 18px;
		}
	}
	.copyrights_area{
		.copyrights_container{
			height: 60px;
		}
	}
}