/*  ====================
	Default media styles
====================  */
@media(max-width: 1199px){
	.container,
	.page_content > main .grid_row_cont,
	.page_content > main .grid_row, .page_content > main .benefits_cont,
	.page_content:not(.single_sidebar):not(.double_sidebar) .fw_row_content_wrapper{
		width: 992px;
	}
	.cws_default{
		.site_header{
			.container{
				.header_nav_part{
					display: none;
				}
				.mobile_menu_hamburger{
					display: block;
				}
			}
			.mobile_menu_wrapper{
				.mobile_menu_container{
					background-color: #fff;
					.mobile_menu li a,
					.mobile_menu li .cws_megamenu_item_title{
						color: #000;
					}
				}
				.close_menu{
					&:after,
					&:before{
						background-color: #000;
					}
				}
			}
		}
		.default_page_title{
			padding: 75px 15px 75px;
		}
	}
}
@media(max-width: 991px){
	html{
		body{
			font-size: 16px;
		}
	}
	.container,
	.page_content > main .grid_row_cont,
	.page_content > main .grid_row, .page_content > main .benefits_cont,
	.page_content:not(.single_sidebar):not(.double_sidebar) .fw_row_content_wrapper{
		width: 768px;
	}
	.single.cws_default{
		.default_page_title{
			padding: 70px 15px 35px;
		}
	}
	.cws_default{
		.default_page_title{
			padding: 45px 15px 45px;
		}
	}
	.page_grid, //Remove from structure
	.item{ //Remove from structure
		ul{
			> li{
				padding-left: 16px;
				&:before{
					width: 8px;
					height: 8px;
				}
			}
		}
	}
	.single{ //Remove from structure
		blockquote{
			margin-left: -30px;
			max-width: calc(100% - 30px);
		}
	}
	blockquote{
		font-size: 18px;
		margin: 20px 0;
	}
}
@media(max-width: 767px){
	html{
		body{
			font-size: 15px;
		}
	}
	.container,
	.page_content > main .grid_row_cont,
	.page_content > main .grid_row, .page_content > main .benefits_cont,
	.page_content:not(.single_sidebar):not(.double_sidebar) .fw_row_content_wrapper{
		width: 100%;
	}
	.single.cws_default{
		.default_page_title{
			padding: 50px 15px 20px;
		}
	}
	.cws_default{
		.default_page_title{
			padding: 30px 15px 30px;
		}
	}
	th,
	td{
		padding: 5px;
	}
	ul{
		> li{
			line-height: 1.6em;
			&:before{
				top: 8px;
			}
		}
	}
	p{
		&:not(:last-child){
			margin: 0 0 1em;
		}
	}
	h1{
		font-size: 2.4em;
	}
	h2{
		font-size: 2.15em;
	}
	h3{
		font-size: 1.7em;
	}
	h4{
		font-size: 1.5em;
	}
	h5{
		font-size: 1.3em;
	}
	h6{
		font-size: 1.1em;
	}
	.single{ //Remove from structure
		blockquote{
			margin-left: 0px;
			max-width: 100%;
			font-size: 16px;
		}
	}
	blockquote{
		font-size: 16px;
		margin: 15px 0;
		padding: 10px 10px 10px 40px;
		&:before{
			left: 6px;
			top: 33px;
			font-size: 80px;
		}
	}
	pre{
		padding: 1em;
	}
	.format-quote{
		blockquote{
			font-size: 16px;
		}
	}
	.gallery-item{
		width: 100% !important;
		.gallery-caption{
			margin: 0;
		}
	}
}