@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin order($order){
	-ms-flex-order: $order;
	 -webkit-order: $order;
			 order: $order;
}

@mixin flex($direction, $wrap, $justify, $align){
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-direction: $direction;
	   -moz-flex-direction: $direction;
		-ms-flex-direction: $direction;
			flex-direction: $direction;

	-webkit-flex-wrap: $wrap;
	   -moz-flex-wrap: $wrap;
		-ms-flex-wrap: $wrap;
			flex-wrap: $wrap;

	-webkit-justify-content: $justify;
	   -moz-justify-content: $justify;
		-ms-justify-content: $justify;
			justify-content: $justify;

	-webkit-align-items: $align;
	   -moz-align-items: $align;
		-ms-align-items: $align;
			align-items: $align;
}

@mixin flex-direction($direction){
	-webkit-flex-direction: $direction;
	   -moz-flex-direction: $direction;
		-ms-flex-direction: $direction;
			flex-direction: $direction;
}

@mixin justify-content($justify){
	-webkit-justify-content: $justify;
	   -moz-justify-content: $justify;
		-ms-justify-content: $justify;
			justify-content: $justify;
}

@mixin flex-wrap($wrap){
	-webkit-flex-wrap: $wrap;
	   -moz-flex-wrap: $wrap;
		-ms-flex-wrap: $wrap;
			flex-wrap: $wrap;
}

@mixin flex-grow($grow){
	-webkit-flex-grow: $grow;
	   -moz-flex-grow: $grow;
		-ms-flex-grow: $grow;
			flex-grow: $grow;
}

@mixin align-items($align){
	-webkit-align-items: $align;
	   -moz-align-items: $align;
		-ms-align-items: $align;
			align-items: $align;
}

@mixin simple-flex($flex){
	-ms-flex-wrap: $flex;
	 -webkit-flex: $flex;
	 	 -ms-flex: $flex;
	 		 flex: $flex;
}

@mixin filter($filter){
	-webkit-filter: $filter;
			filter: $filter;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
			border-radius: $radius;
}

@mixin linear-gradient($direction, $col1, $col2){
	background: -webkit-linear-gradient(to $direction, $col1, $col2);
	background: 		linear-gradient(to $direction, $col1, $col2);
}

@mixin box-sizing{
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

@mixin box-shadow($param){
	-webkit-box-shadow: $param;
	   -moz-box-shadow: $param;
			box-shadow: $param;
}

@mixin transition($transition...){
	-webkit-transition: #{$transition};
			transition: #{$transition};
}


@mixin transition-property($property){
	-webkit-transition-property: $property;
    		transition-property: $property;
}

@mixin transition-duration($duration){
	-webkit-transition-duration: $duration;
    		transition-duration: $duration;
}

@mixin transition-timing-function($timing){
	-webkit-transition-timing-function: $timing;
    		transition-timing-function: $timing;
}

@mixin transition-delay($delay){
	-webkit-transition-delay: $delay;
    		transition-delay: $delay;
}

@mixin transform($transform){
	-webkit-transform: $transform;
		-ms-transform: $transform;
			transform: $transform;
}