/*  --------------------
	Pagination styles
--------------------  */
.pagination{
	margin-top: 45px !important;
	font-size: 0px;
	clear: both;
	text-align: center;
	.page_links{
		display: inline-block;
		> *{
			display: inline-block;
			font-size: 18px;
			font-weight: 300;
			width: 38px;
			height: 38px;
			line-height: 38px;
			@include border-radius(50%);
			margin: 0px 5px;
			background: -webkit-linear-gradient(135deg, rgba(220,220,220,1), rgba(255,255,255,1));
			background: -o-linear-gradient(135deg, rgba(220,220,220,1), rgba(255,255,255,1));
			background: linear-gradient(135deg, rgba(220,220,220,1), rgba(255,255,255,1));
			vertical-align: bottom;
			@include box-shadow(3px 3px 4px 0 rgba(0,0,0, .2));
		}
		span{
			text-align: center;
			&.current,
			&.dots{
				color: #fff;
			}
		}
		a{
			text-align: center;
			@include transition(0s);
			&:hover{
				color: #fff;
			}
		}
	}
}
/*  --------------------
	Pagination Load Circle styles
--------------------  */
.cws_loader_holder{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 1;
	display: none;
	&.active{
		display: block;
	}
	&.pagination_action,
	&.load_more_action{
		.cws_loader{
			top: auto;
			bottom: 0;			
		}
	}
	&.load_more_scroll{
		.cws_loader{
			width: 100%;
			svg{
				position: absolute;
				width: 100px;
				height: 100px;
				left: 50%;
				bottom: 0px;
			}
		}
	}
	&.filter_action{
		.cws_loader{
			top: 0;			
		}
	}
	.cws_loader{
		svg{
			width: 38px;
			height: 38px;
			@include transform(translateX(-50%));
		}
	}
}
/*  --------------------
	Load More styles
--------------------  */
.load_more_wrapper{
	.cws_load_more{
		&.load_on_scroll{
			opacity: 0;
			pointer-events: none;
		}
	}
}