/*  ====================
	Preloader
====================  */
.cws_loader_container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99;
	opacity: 1;
	@include transition(opaciry .3s ease);
	.cws_loader{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		width: 100px;
		height: 100px;
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			@include border-radius(50%);
			background-color: #fff;
			margin: 2px;
		}
		.inner{
			-webkit-animation-name: rotate-inner;
					animation-name: rotate-inner;
			-webkit-animation-duration: 1s;
					animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
					animation-timing-function: linear;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			&:before,
			&:after{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
			}
			&:before{
				left: 0;
				right: 50%;
				@include border-radius(72px 0 0 72px);
			}
			&:after{
				left: 50%;
				right: 0;
				@include border-radius(0 72px 72px 0);
			}
		}
	}
}

@keyframes rotate-inner {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}