/*  --------------------
	Widgets media styles
--------------------  */
@media(max-width: 1199px){
	.cws-widget{
		font-size: 15px;
		padding: 25px 0;
		.widget-title{
			font-size: 1.2em;
			padding-left: 25px;
			margin-bottom: 25px;
			&:before{
				width: 15px;
				height: 15px;
				top: 50%;
			}
		}
		&.widget-woocommerce_layered_nav, /*Remove from structure all below*/
		&.widget-archives,
		&.widget-categories,
		&.widget-meta,
		&.widget-pages,
		&.widget-nav_menu,
		&.widget-woocommerce_product_categories,
		&.widget-woocommerce_product_tag_cloud,
		&.widget-recent-comments,
		&.widget-recent-posts,
		&.widget-search,
		&.widget-woocommerce_product_search{
			.widget-title{
				margin-bottom: 15px;
			}
		}
		&.widget-cws-testimonials, /*Remove from structure all below*/
		&.widget-cws-recent-posts,
		&.widget-cws-recent-comments{
			.widget-title{
				margin-bottom: 10px;
			}
		}
		&:not(.widget-recent-comments){ //Remove from structure
			&:not(.widget-woocommerce_products){
				&:not(.widget-woocommerce_top_rated_products){
					&:not(.widget-woocommerce_recent_reviews){
						&:not(.widget-woocommerce_recently_viewed_products){
							&:not(.widget-rev-slider-widget){
								&:not(.widget-woocommerce_widget_cart){
									&:not(.widget-woocommerce_layered_nav){
										&:not(.widget-woocommerce_rating_filter){
											ul{
												li{
													a,
													.cws_megamenu_item_title{
														padding: 11px 25px 11px 20px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.widget-cws-banner{
			.cws_widget_banner{
				padding: 35px 20px;
			}
		}
		&.widget-woocommerce_product_categories,
		&.widget-nav_menu{
			.product-categories,
			.menu{
				.cat-item,
				.menu-item{
					.widget_archive_opener,
					.opener{
						right: 10px;
						opacity: 1;
					}
				}
			}
		}
		.calendar_wrap{
			#wp-calendar{
				caption{
					padding: 15px 0;
				}
				tr{
					th,
					td{
						padding: 7px;
						font-weight: 300;
					}
				}
			}
		}
	}
}

.widget-woocommerce_top_rated_products,
.widget-woocommerce_recently_viewed_products,
.widget-woocommerce_recent_reviews,
.widget-woocommerce_products,
.widget_shopping_cart_content{
	ul{
		li{
			.star-rating{
				margin-right: 50px;
			}
		}
	}
}

@media(max-width: 991px){
	.sidebar-tablet-trigger{
		display: block;
		position: fixed;
		top: 50%;
		@include transform(translateY(-50%));
		background-color: #fff;
		padding: 20px 15px;
		font-style: normal;
		z-index: 5;
		@include transition(all .3s ease-in-out);
		&.trigger_sb_right{
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			right: 0px;
			@include box-shadow(-1px 1px 4px 2px rgba(0,0,0,.15));
			&:before{
				@include transform(translate(-50%, -50%));
			}
			&.active{
				right: 0;
			}
		}
		&.trigger_sb_left{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			left: 0px;
			@include box-shadow(1px 1px 4px 2px rgba(0,0,0,.15));
			&:before{
				@include transform(translate(-50%, -50%) rotate(180deg));
			}
			&.active{
				left: 0;
			}
		}
		&:before{
			content: '\f142';
			font-family: 'FontAwesome';
			position: absolute;
			left: 50%;
			top: 50%;
			line-height: 21px;
			font-size: 21px;
			@include transition(all .3s linear);
		}
	}
	.cws-widget{
		.calendar_wrap{
			#wp-calendar{
				tr{
					th,
					td{
						padding: 10px;
					}
				}
			}
		}
	}
}

@media(max-width: 767px){
	.sidebar-tablet-trigger{
		display: none;
	}
}