/*  ====================
	Widgets styles
====================  */
.sidebar-tablet-trigger{
	display: none;
}
aside{
	.widget-cws-about{
		.cws_textwidget_content{
			text-align: center;
		}
	}
}
.cws-widget{
	&:first-child{
		padding-top: 0;
	}
	padding: 35px 0;
	position: relative;
	font-size: 16px;
	line-height: initial;
	overflow: hidden;
	&:not(.widget-calendar){
		&:not(.widget-media_audio){
			word-break: break-word;
		}
	}
	label{
		display: none;
	}
	img{
		@include border-radius(4px);
	}
	.post_count{
		margin-left: 10px;
	}
	.widget-title{
		font-size: 1.625em;
		font-weight: 500;
		padding-left: 30px;
		position: relative;
		margin-bottom: 40px;
		margin-top: -5px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			@include transform(translateY(-50%));
			width: 20px;
			height: 20px;
			@include border-radius(50%);
			@include box-shadow(3px 3px 3px 1px rgba(0, 0, 0, 0.05));
		}
		&.hide-mark{
			padding: 0;
			&:before{
				display: none;
			}
			.widget_title_icon_section{
				display: none;
			}
		}
		&.has_icon{
			padding: 0;
			&.align-center{
				text-align: center;
				.widget_title_box{
					-webkit-justify-content: center;
					   -moz-justify-content: center;
						-ms-justify-content: center;
							justify-content: center;
				}
			}
			&.align-left{
				text-align: left;
				.widget_title_box{
					-webkit-justify-content: flex-end;
					   -moz-justify-content: flex-end;
						-ms-justify-content: flex-end;
							justify-content: flex-end;
				}
			}
			&.align-right{
				text-align: right;
				.widget_title_box{
					-webkit-justify-content: flex-start;
					   -moz-justify-content: flex-start;
						-ms-justify-content: flex-start;
							justify-content: flex-start;
				}
			}
			&:before{
				display: none;
			}
			.widget_title_box{
				-webkit-flex-direction: row;
				   -moz-flex-direction: row;
					-ms-flex-direction: row;
						flex-direction: row;
				-webkit-justify-content: flex-start;
			  	   -moz-justify-content: flex-start;
					-ms-justify-content: flex-start;
						justify-content: flex-start;
			}
			.widget_title_icon_section{
				margin-left: 0;
				margin-right: 10px;
			}
		}
		.inherit-wt{
			font-weight: 500;
			margin-bottom: 10px;
			font-size: .35em;
			line-height: initial;
		}
		.widget_title_box{
			@include flex(row-reverse, nowrap, flex-end, center);
			.widget_title_icon_section{
				i{
					&:before{
						padding: 0 2px;
					}
				}
			}
		}
		.widget_title_icon_section{
			margin-left: 15px;
		}
	}
	&.widget-woocommerce_layered_nav, /*Remove from structure all below*/
	&.widget-archives,
	&.widget-categories,
	&.widget-meta,
	&.widget-pages,
	&.widget-nav_menu,
	&.widget-woocommerce_product_categories,
	&.widget-woocommerce_product_tag_cloud,
	&.widget-recent-comments,
	&.widget-recent-posts,
	&.widget-search,
	&.widget-woocommerce_product_search{
		.widget-title{
			margin-bottom: 25px;
		}
	}
	&.widget-cws-testimonials, /*Remove from structure all below*/
	&.widget-cws-recent-posts,
	&.widget-cws-recent-comments{
		.widget-title{
			margin-bottom: 20px;
		}
	}
	&:not(.widget-recent-comments){ //Remove from structure
		&:not(.widget-woocommerce_products){
			&:not(.widget-woocommerce_top_rated_products){
				&:not(.widget-woocommerce_recent_reviews){
					&:not(.widget-woocommerce_recently_viewed_products){
						&:not(.widget-rev-slider-widget){
							&:not(.widget-woocommerce_widget_cart){
								&:not(.widget-woocommerce_layered_nav){
									&:not(.widget-woocommerce_rating_filter){
										ul{
											li{
												position: relative;
												&:not(:last-child){
													border-bottom: 1px solid #EDEDED;
												}
												&:before,
												&:after{
													content: '\f054';
													font-family: 'FontAwesome';
													font-size: 12px;
													position: absolute;
													top: 50%;
													@include transform(translateY(-50%));
												}
												&:before{
													left: 0;
												}
												&:after{
													right: 25px;
													opacity: 0;
												}
												&.cat-parent,
												&.menu-item-has-children{
													&:before,
													&:after{
														top: 21px;
													}
												}
												&:hover{
													&:before{
														opacity: 0;
													}
													&:after{
														opacity: 1;
														right: 10px;
														@include transition(right .2s linear .1s, opacity .2s linear .1s);
													}
													> .cws_megamenu_item_title,
													> a{
														@include transition(color .2s linear .1s, padding-left .2s linear .1s);
														padding-left: 23px;
														&:before{
															width: 3px;
															@include transition(width .2s linear .1s);
														}
													}
												}
												&:last-child{
													margin-bottom: 0;
												}
												a,
												.cws_megamenu_item_title{
													padding: 13px 25px 13px 20px;
													display: block;
													position: relative;
													z-index: 1;
													&:before{
														content: '';
														width: 0;
														left: 0;
														top: 0;
														height: 100%;
														position: absolute;
													}
												}
											}
											&.children,
											&.sub-menu{
												li{
													&:hover{
														&:before{
															opacity: 1;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.widget-recent-comments{ //Remove from structure
		.recentcomments{
			padding: 10px 0 10px 25px;
			line-height: 1.5;
			&:not(:last-child){
				border-bottom: 1px solid #EDEDED;
			}
			> span{
				position: relative;
				font-weight: 500;
				&:before{
					content: '\f10d';
					font-family: 'FontAwesome';
					font-size: 18px;
					position: absolute;
					left: -25px;
					top: -2px;
					opacity: .7;
				}
			}
			> a{
				display: block;
				font-weight: 500;
				@include transition(0s);
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&.widget-cws-about{
		.cws_textwidget_content{
			.about_me{
				.user_avatar{
					img{
						&.grayscale{
							filter: grayscale(100%);
							@include transition(filter .3s ease);
							&:hover{
								filter: grayscale(0);
							}
						}
					}
				}
			}
		}
	}
	&.widget-cws-banner{
		.cws_widget_banner{
			position: relative;
			min-height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			@include border-radius(4px);
			padding: 35px;
			.banner_wrapper_overlay{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				@include border-radius(4px);
			}
			.banner_wrapper{
				@include flex(column, nowrap, flex-start, flex-start);
				&.a-center{
					text-align: center;
					-webkit-align-items: center;
					   -moz-align-items: center;
						-ms-align-items: center;
							align-items: center;
					.banner_content{
						.banner_desc:not(:empty){
							&:before{
								left: 50%;
								@include transform(translateX(-50%));
							}
						}
					}
				}
				&.a-right{
					text-align: right;
					-webkit-align-items: flex-end;
					   -moz-align-items: flex-end;
						-ms-align-items: flex-end;
							align-items: flex-end;
					.banner_content{
						.banner_desc:not(:empty){
							&:before{
								left: auto;
								right: 0;
							}
						}
					}
				}
				.banner_content{
					position: relative;
					.banner_title{
						margin: 0;
						font-size: 1.4em;
						color: inherit;
					}
					.banner_desc{ //Remove from structure
						display: inline-block;
						&:not(:empty){
							padding-top: 32px;
							position: relative;
							&:before{
								content: '';
								position: absolute;
								top: 16px;
								left: 0;
								width: 35px;
								height: 2px;
							}
						}
					}
				}
				.banner_button{
					margin-top: 15px;
					position: relative;
					.cws_button{
						display: inline-block;
						padding: .7em 1em;
					}
				}
			}
		}
	}
	&.widget-cws-categories{
		.category-block{
			position: relative;
			display: block;
			font-size: 0px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				@include border-radius(4px);
			}
			img{
				@include border-radius(4px);
			}
			.category-label{
				display: inline-block;
				position: absolute;
				left: 50%;
				top: 50%;
				text-align: center;
				@include transform(translate(-50%, -50%));
				text-transform: uppercase;
				font-weight: 500;
				font-size: 16px;
				color: #fff;
				@include transition(color .2s ease);
				word-break: normal;
			}
		}
	}
	&.widget-cws-ourteam{
		.ourteam_item_thumb{
			&.round{
				.hover-effect,
				img{
					@include border-radius(50%);
				}
			}
		}
	}
	&.widget-cws-recent-comments{
		.widget_wrapper{
			.widget_carousel{
				.item{
					position: relative;
					padding-left: 40px;
					.post_item{
						&:before{
							content: '\f148';
							font-family: 'Flaticon';
							position: absolute;
							left: -40px;
							top: 17px;
							font-size: 24px;
						}
					}
				}
			}
			.comment_wrapper{
				> * {
					&:not(:first-child){
						margin-top: 5px;
					}
				}
				.author_name,
				.comment_date{
					font-size: 13px;
				}
			}
		}
	}
	&.widget-cws-testimonials,
	&.widget-cws-recent-posts{
		.widget_wrapper{
			&.text_left{
				text-align: right;
				.post_content,
				.post_title{
					text-align: left;
				}
			}
			&.text_center{
				text-align: center;
			}
			&.text_right{
				text-align: right;
			}
			.post_item{
				&.wide{
					.post_thumb{
						float: none;
						width: 100%;
						height: auto;
						a{
							img{
								@include border-radius(0);
							}
						}
					}
				}
			}
			.quote_author{
				margin-top: 5px;
				position: relative;
				.testimonials_category,
				.testimonials_tags{
					display: inline-block;
					vertical-align: middle;
				}
				.round-divider{
					margin: 0 5px;
					display: inline-block;
					opacity: .8;
				}
			}
			.post_date{
				display: inline-block;
				margin-top: 5px;
			}
			.post_comments{
				display: inline-block;
				position: relative;
				top: -2px;
				margin-left: 10px;
				i{
					&:before{
						margin-left: 0;
						font-size: 24px;
					}
				}
			}
		}
	}
	&.widget-cws-testimonials{
		.widget_wrapper{
			&.rectangle,
			&.square{
				.post_thumb{
					a{
						img{
							@include border-radius(4px);
						}
					}
				}
			}
			&.text_left{
				.post_title{
					text-align: right;
					margin-top: 10px;
				}
			}

		}
	}
	&.widget-cws-recent-posts{
		.widget_wrapper{
			.post_title{
				font-weight: 500;
			}
		}
	}
	&.widget-cws-text{
		.text{
			line-height: 1.5;
		}
		.link{
			.cws_button{
				margin-top: 20px;
				display: inline-block;
			}
		}
	}
	&.widget-woocommerce_product_categories,
	&.widget-nav_menu{
		li{ /*Remove from structure */
			&:after{
				display: none;
			}
		}
		.product-categories,
		.menu{
			.cat-item,
			.menu-item{
				position: relative;
				> .children,
				> .sub-menu{
					margin: 10px 0;
					padding-left: 15px;
				}
				li{
					padding-left: 0;
					a{
						&:before{
							display: none;
						}
					}
				}
				&:hover{
					> .widget_archive_opener,
					> .opener{
						opacity: 1;
						right: 10px;
					}
				}
				.widget_archive_opener,
				.opener{
					position: absolute;
					right: 30px;
					top: 9px;
					font-size: 12px;
					padding: 8px 15px;
					cursor: pointer;
					opacity: 0;
					z-index: 2;
					@include transform(rotate(0));
					@include transition(transform .3s ease, opacity .2s linear, right .2s linear);
					&.active{
						@include transform(rotate(90deg));
						right: 10px;
						opacity: 1;
					}
					&:before{
						content: '\f054';
					}
				}
			}
		}
	}
	&.widget-woocommerce_rating_filter{
		.wc-layered-nav-rating{
			padding: 10px 0;
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				padding-bottom: 0;
			}
			.star-rating{
				margin-right: 5px;
			}
		}
	}
	&.widget-rss{
		.inherit-wt{
			@include flex(row-reverse, nowrap, flex-end, center);
			.rsswidget{
				&:first-child{
					&:after{
						content: '\f09e';
						font-family: 'FontAwesome';
						display: inline-block;
						font-size: 22px;
						margin-left: 10px;
					}
				}
				&[href='']{
					pointer-events: none;
				}
				img{
					display: none;
				}
			}
		}
	}
	.item{
		margin-bottom: 0;
		&:not(:last-child){
			padding-bottom: 20px;
		}
	}
	.calendar_wrap{
		#wp-calendar{
			caption{
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				color: #fff;
				padding: 25px 0;
			}
			tbody{
				a{
					position: relative;
					z-index: 1;
					color: #fff;
					@include transition(color .1s linear);
					&:hover{
						&:before{
							opacity: 1;
						}
					}
					&:before{
						opacity: 0;
						content: '';
						width: 28px;
						height: 28px;
						position: absolute;
						left: 50%;
						top: 48%;
						@include transform(translate(-50%, -50%));
						@include border-radius(50%);
						@include transition(opacity .1s linear);
						z-index: -1;
					}
				}
			}
			tfoot{
				tr{
					td{
						text-align: left;
						a{
							color: #fff;
						}
					}
				}
			}
			tr{
				border: 0;
				th,
				td{
					padding: 8px;
					text-align: center;
					cursor: default;
					border: 0;
					color: #fff;
					a{
						@include transition(color .3s ease);
					}
				}
			}
		}
	}
	.woocommerce-mini-cart__empty-message{
		padding: 0;
	}
	.cws_textwidget_content{
		.about_me{
			.user_avatar{
				&.round{
					img{
						@include border-radius(50%);
						@include transition(filter .3s ease);
						&.grayscale{
							@include filter(grayscale(100%));
							&:hover{
								@include filter(grayscale(0));
							}
						}
					}
				}
			}
			.user_name{
				padding: 15px 0 10px;
				font-size: 1.2em;
				margin: 0;
			}
			.user_position{
				font-size: 1em;
				margin: 0;
			}
			.user_description{
				position: relative;
				padding-top: 32px;
				margin: 0;
				&.custom_divider{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						@include transform(translateX(-50%));
						top: 16px;
						width: 35px;
						height: 2px;
					}
				}
			}
			.user_signature{
				margin-top: 15px;
				font-size: 0px;
			}
		}
		.text_description{
			p{
				margin: 5px 0;
			}
		}
		.information_group{
			p{
				margin: 0;
				padding: 10px 0;
				position: relative;
				border-width: 1px 0;
				border-style: solid;
				border-color: #EDEDED;
				&:first-child{
					margin-top: 15px;
				}
				&:not(:first-child){
					border-top: 0;
				}
				i.fa{
					margin-right: 10px;
				}
			}
		}
		.cws_social_links{
			margin-top: 15px;
			text-align: center;
		}
		p{
			line-height: 1.4;
		}
		.gallery{
			// add styles
		}
	}
	.cws_widget_columns{
		&.widget_carousel{
			width: 100%;
			border-bottom: 0;
			&.col-1{
				.cws_item{
					width: 100%;
				}
			}
			&.col-2{
				.cws_item{
					width: 50%;
				}
			}
			&.col-3{
				.cws_item{
					width: 33.3%;
				}
			}
			&.col-4{
				.cws_item{
					width: 25%;
				}
			}
			.cws_item{
				float: left;
			}
		}
		&.cws_widget_grid{
			@include flex(row, wrap, flex-start, stretch);
			&.col-1{
				.cws_item{
					width: 100%;
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
			&.col-2{
				.cws_item{
					width: 50%;
					&:nth-of-type(odd){
						padding-left: 0 !important;
					}
					&:nth-of-type(even){
						padding-right: 0 !important;
					}
				}
			}
			&.col-3{
				.cws_item{
					width: 33.3%;
				}
			}
			&.col-4{
				.cws_item{
					width: 25%;
				}
			}
		}
		.cws_item{
			font-size: 0;
			line-height: 0;
		}
	}
	.post_item{
		padding: 15px 0;
		position: relative;
		.post_preview{
			max-width: 283px;
		}
		.post_thumb{
			display: inline-block;
			margin-right: 10px;
			height: 70px;
			width: 70px;
			float: left;
			a{
				display: block;
				font-size: 0;
			}
		}
		.quote_author{
			font-size: 13px;
		}
		.post_date{
			margin-top: 10px;
			font-size: 13px;
			display: block;
		}
		.post_content{
			margin-top: 10px;
			text-overflow: ellipsis;
		}
	}
	.cws_tweets{
		.cws_tweet{
			position: relative;
			padding-left: 55px;
			&:before{
				content: '\f099';
				font-family: 'FontAwesome';
				position: absolute;
				left: 0;
				top: 3px;
				font-size: 20px;
				color: #fff;
				width: 40px;
				height: 40px;
				@include border-radius(50%);
				line-height: 40px;
				text-align: center;
			}
			&:not(:last-child){
				margin-bottom: 15px;
				padding-bottom: 10px;
				border-bottom: 1px solid #fff;
			}
			.tweet_date{
				font-size: 13px;
				opacity: .5;
				margin-top: 10px;
			}
			.tweet_content{
				margin-top: 10px;
				max-width: 283px;
				line-height: 1.5;
			}
		}
	}
	.gallery{
		.gallery-item{
			font-size: 0;
			line-height: 0;
			padding: 2px;
			margin-top: 0 !important;
			a{
				display: block;
			}
		}
	}
	.wpml-ls-legacy-dropdown{
		display: inline-block;
		width: auto !important;
		ul{
			li{
				white-space: nowrap;
				a{
					@include transition(color .3s ease);
					&:before{
						display: none;
					}
				}
				&:hover{
					ul{
						top: 100%;
					}
				}
				ul{
					@include transition(top .3s ease);
					top: 0;
				}
			}
		}
	}
	.product-categories{
		.cat-item{
			position: relative;
			.count{
				float: none;
			}
			.widget_archive_opener{
				position: absolute;
				right: 0;
				top: 0;
				padding: 3px 10px;
				cursor: pointer;
				@include transform(rotate(0));
				@include transition(transform .3s ease);
				&.active{
					@include transform(rotate(90deg));
				}
			}
			.children{
				margin: 10px 0;
				padding-left: 15px;
				.cat-item{
					padding-left: 0;
					a{
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
	.product_list_widget{
		li{
			a{
				display: block;
			}
		}
	}
	.woocommerce-product-search,
	.search-form{
		position: relative;
		&:before{
			content: '\f002';
			font-family: 'FontAwesome';
			position: absolute;
			right: 0;
			top: 46%;
			padding-left: 1px;
			opacity: .65;
			font-size: 22px;
			@include transform(translateY(-50%) rotate(0deg));
			@include transition(transform .2s ease);
		}
		input{
			display: block;
			width: 100%;
			height: 50px;
			padding-right: 50px;
			border: 0;
			border-bottom-width: 1px;
			border-style: solid;
			@include border-radius(0);
			padding-left: 0;
			color: inherit;
			&::-webkit-input-placeholder{
				color: inherit;
			}
		}
		button,
		.search-submit{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 50px;
			border: 0;
			background-color: transparent;
			font-size: 0;
		}
	}
	.tagcloud{
		margin-left: 10px;
		a{
			position: relative;
			font-size: 16px !important;
			display: inline-block;
			padding: 5px 10px 5px 25px;
			margin-bottom: 4px;
			&:before{
				content: '';
				font-size: 0px;
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
				left: 5px;
				width: 10px;
				height: 10px;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
			    -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
			    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
			}
		}
	}
	.reviewer{
		font-size: 14px;
	}
	.textwidget{
		line-height: 1.5;
		ul{
			margin-top: 15px;
			li{
				position: relative;
				padding-left: 20px;
				&:before{
					content: '\f111';
				    font-family: 'FontAwesome';
				    position: absolute;
				    left: 5px;
				    top: 50%;
				    @include transform(translateY(-50%));
				    color: #fff;
				    background-color: transparent;
				    font-size: 7px;
				}
			}
		}
	}
	.rev_slider_wrapper{
		left: auto !important;
		width: 100% !important;
		height: 200px !important;
	}
	.tp-fullwidth-forcer{
		height: 200px !important;
	}
	.rsswidget{
		display: inline-block;
	}
}

@import "_woo-widgets";