	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/07/2018 08:52
  	*/

@font-face {
  font-family: "cwsicon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "cwsicon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="cwsicon-"]:before, [class*=" cwsicon-"]:before,
[class^="cwsicon-"]:after, [class*=" cwsicon-"]:after {   
  font-family: cwsicon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.cwsicon-bookmark-2:before { content: "\f100"; }
.cwsicon-bookmark-1:before { content: "\f101"; }
.cwsicon-bookmark:before { content: "\f102"; }
.cwsicon-black-shop-tag:before { content: "\f103"; }
.cwsicon-tag-1:before { content: "\f104"; }
.cwsicon-price-1:before { content: "\f105"; }
.cwsicon-right-quote-sign:before { content: "\f106"; }
.cwsicon-play-button-1:before { content: "\f107"; }
.cwsicon-play-button:before { content: "\f108"; }
.cwsicon-zcash-1:before { content: "\f109"; }
.cwsicon-ripple-1:before { content: "\f10a"; }
.cwsicon-dash-1:before { content: "\f10b"; }
.cwsicon-monero-2:before { content: "\f10c"; }
.cwsicon-bitcoin-70:before { content: "\f10d"; }
.cwsicon-ethereum-3:before { content: "\f10e"; }
.cwsicon-bitcoin-69:before { content: "\f10f"; }
.cwsicon-ethereum-2:before { content: "\f110"; }
.cwsicon-litecoin-1:before { content: "\f111"; }
.cwsicon-share:before { content: "\f112"; }
.cwsicon-cart-1:before { content: "\f113"; }
.cwsicon-supermarket:before { content: "\f114"; }
.cwsicon-shopping-carts:before { content: "\f115"; }
.cwsicon-cart:before { content: "\f116"; }
.cwsicon-unlink:before { content: "\f117"; }
.cwsicon-link-1:before { content: "\f118"; }
.cwsicon-link-button:before { content: "\f119"; }
.cwsicon-search:before { content: "\f11a"; }
.cwsicon-list-3:before { content: "\f11b"; }
.cwsicon-list-2:before { content: "\f11c"; }
.cwsicon-menu-6:before { content: "\f11d"; }
.cwsicon-menu-5:before { content: "\f11e"; }
.cwsicon-circles:before { content: "\f11f"; }
.cwsicon-menu-4:before { content: "\f120"; }
.cwsicon-menu-3:before { content: "\f121"; }
.cwsicon-list-1:before { content: "\f122"; }
.cwsicon-menu-2:before { content: "\f123"; }
.cwsicon-menu-1:before { content: "\f124"; }
.cwsicon-menu:before { content: "\f125"; }
.cwsicon-info:before { content: "\f126"; }
.cwsicon-danger:before { content: "\f127"; }
.cwsicon-no-waiting:before { content: "\f128"; }
.cwsicon-checkmark:before { content: "\f129"; }
.cwsicon-edit:before { content: "\f12a"; }
.cwsicon-right-arrow:before { content: "\f12b"; }
.cwsicon-up-chevron:before { content: "\f12c"; }
.cwsicon-briefcase-2:before { content: "\f12d"; }
.cwsicon-exchange-3:before { content: "\f12e"; }
.cwsicon-diamond:before { content: "\f12f"; }
.cwsicon-bitcoin-68:before { content: "\f130"; }
.cwsicon-bitcoin-67:before { content: "\f131"; }
.cwsicon-bitcoin-66:before { content: "\f132"; }
.cwsicon-bitcoin-65:before { content: "\f133"; }
.cwsicon-briefcase-1:before { content: "\f134"; }
.cwsicon-bitcoin-64:before { content: "\f135"; }
.cwsicon-worldwide-1:before { content: "\f136"; }
.cwsicon-idea:before { content: "\f137"; }
.cwsicon-leadership:before { content: "\f138"; }
.cwsicon-teamwork-1:before { content: "\f139"; }
.cwsicon-loupe:before { content: "\f13a"; }
.cwsicon-objective:before { content: "\f13b"; }
.cwsicon-clock:before { content: "\f13c"; }
.cwsicon-consulting:before { content: "\f13d"; }
.cwsicon-seminar:before { content: "\f13e"; }
.cwsicon-wrong:before { content: "\f13f"; }
.cwsicon-blockchain:before { content: "\f140"; }
.cwsicon-bitcoin-63:before { content: "\f141"; }
.cwsicon-price:before { content: "\f142"; }
.cwsicon-reply:before { content: "\f143"; }
.cwsicon-send:before { content: "\f144"; }
.cwsicon-wall-clock:before { content: "\f145"; }
.cwsicon-pin:before { content: "\f146"; }
.cwsicon-qr-code:before { content: "\f147"; }
.cwsicon-chat:before { content: "\f148"; }
.cwsicon-eye:before { content: "\f149"; }
.cwsicon-upload-1:before { content: "\f14a"; }
.cwsicon-bitcoin-62:before { content: "\f14b"; }
.cwsicon-bitcoin-61:before { content: "\f14c"; }
.cwsicon-consultant:before { content: "\f14d"; }
.cwsicon-driver:before { content: "\f14e"; }
.cwsicon-financial-analyst:before { content: "\f14f"; }
.cwsicon-at:before { content: "\f150"; }
.cwsicon-smartphone-1:before { content: "\f151"; }
.cwsicon-link:before { content: "\f152"; }
.cwsicon-telephone:before { content: "\f153"; }
.cwsicon-heart-1:before { content: "\f154"; }
.cwsicon-left-arrow-angle:before { content: "\f155"; }
.cwsicon-bitcoin-60:before { content: "\f156"; }
.cwsicon-tag:before { content: "\f157"; }
.cwsicon-star-1:before { content: "\f158"; }
.cwsicon-star:before { content: "\f159"; }
.cwsicon-move-to-the-next-page-symbol:before { content: "\f15a"; }
.cwsicon-left-arrow-chevron:before { content: "\f15b"; }
.cwsicon-team:before { content: "\f15c"; }
.cwsicon-brainstorming:before { content: "\f15d"; }
.cwsicon-teamwork:before { content: "\f15e"; }
.cwsicon-users:before { content: "\f15f"; }
.cwsicon-laptop-1:before { content: "\f160"; }
.cwsicon-data:before { content: "\f161"; }
.cwsicon-chip:before { content: "\f162"; }
.cwsicon-tick:before { content: "\f163"; }
.cwsicon-bitcoin-59:before { content: "\f164"; }
.cwsicon-pay:before { content: "\f165"; }
.cwsicon-barcode:before { content: "\f166"; }
.cwsicon-wallet:before { content: "\f167"; }
.cwsicon-cross-remove-sign:before { content: "\f168"; }
.cwsicon-list:before { content: "\f169"; }
.cwsicon-strategy:before { content: "\f16a"; }
.cwsicon-gear-1:before { content: "\f16b"; }
.cwsicon-coffee-cup:before { content: "\f16c"; }
.cwsicon-rocket:before { content: "\f16d"; }
.cwsicon-store:before { content: "\f16e"; }
.cwsicon-business-and-finance:before { content: "\f16f"; }
.cwsicon-briefcase:before { content: "\f170"; }
.cwsicon-cogwheel:before { content: "\f171"; }
.cwsicon-bitcoin-58:before { content: "\f172"; }
.cwsicon-bitcoin-57:before { content: "\f173"; }
.cwsicon-bitcoin-56:before { content: "\f174"; }
.cwsicon-bitcoin-55:before { content: "\f175"; }
.cwsicon-bitcoin-54:before { content: "\f176"; }
.cwsicon-bitcoin-53:before { content: "\f177"; }
.cwsicon-bitcoin-52:before { content: "\f178"; }
.cwsicon-bitcoin-51:before { content: "\f179"; }
.cwsicon-bitcoin-50:before { content: "\f17a"; }
.cwsicon-bitcoin-49:before { content: "\f17b"; }
.cwsicon-bitcoin-48:before { content: "\f17c"; }
.cwsicon-bitcoin-47:before { content: "\f17d"; }
.cwsicon-bitcoin-46:before { content: "\f17e"; }
.cwsicon-bitcoin-45:before { content: "\f17f"; }
.cwsicon-bitcoin-44:before { content: "\f180"; }
.cwsicon-bitcoin-43:before { content: "\f181"; }
.cwsicon-bitcoin-42:before { content: "\f182"; }
.cwsicon-bitcoin-41:before { content: "\f183"; }
.cwsicon-bitcoin-40:before { content: "\f184"; }
.cwsicon-bitcoin-39:before { content: "\f185"; }
.cwsicon-bitcoin-38:before { content: "\f186"; }
.cwsicon-bitcoin-37:before { content: "\f187"; }
.cwsicon-bitcoin-36:before { content: "\f188"; }
.cwsicon-bitcoin-35:before { content: "\f189"; }
.cwsicon-bitcoin-34:before { content: "\f18a"; }
.cwsicon-bitcoin-33:before { content: "\f18b"; }
.cwsicon-bitcoin-32:before { content: "\f18c"; }
.cwsicon-bitcoin-31:before { content: "\f18d"; }
.cwsicon-bitcoin-30:before { content: "\f18e"; }
.cwsicon-bitcoin-29:before { content: "\f18f"; }
.cwsicon-upload:before { content: "\f190"; }
.cwsicon-check:before { content: "\f191"; }
.cwsicon-testing-glasses:before { content: "\f192"; }
.cwsicon-test-1:before { content: "\f193"; }
.cwsicon-test:before { content: "\f194"; }
.cwsicon-gear:before { content: "\f195"; }
.cwsicon-heart:before { content: "\f196"; }
.cwsicon-verification-mark:before { content: "\f197"; }
.cwsicon-zcash:before { content: "\f198"; }
.cwsicon-bitcoin-28:before { content: "\f199"; }
.cwsicon-bitcoin-27:before { content: "\f19a"; }
.cwsicon-bitcoin-26:before { content: "\f19b"; }
.cwsicon-bitcoin-25:before { content: "\f19c"; }
.cwsicon-bitcoin-24:before { content: "\f19d"; }
.cwsicon-monero-1:before { content: "\f19e"; }
.cwsicon-bitcoin-23:before { content: "\f19f"; }
.cwsicon-monero:before { content: "\f1a0"; }
.cwsicon-bitcoin-22:before { content: "\f1a1"; }
.cwsicon-dash:before { content: "\f1a2"; }
.cwsicon-ethereum-1:before { content: "\f1a3"; }
.cwsicon-bitcoin-21:before { content: "\f1a4"; }
.cwsicon-ripple:before { content: "\f1a5"; }
.cwsicon-exchange-2:before { content: "\f1a6"; }
.cwsicon-chains:before { content: "\f1a7"; }
.cwsicon-litecoin:before { content: "\f1a8"; }
.cwsicon-bitcoin-20:before { content: "\f1a9"; }
.cwsicon-ethereum:before { content: "\f1aa"; }
.cwsicon-bitcoin-19:before { content: "\f1ab"; }
.cwsicon-growth:before { content: "\f1ac"; }
.cwsicon-bitcoin-18:before { content: "\f1ad"; }
.cwsicon-bitcoin-17:before { content: "\f1ae"; }
.cwsicon-bitcoin-16:before { content: "\f1af"; }
.cwsicon-suitcase:before { content: "\f1b0"; }
.cwsicon-bitcoin-15:before { content: "\f1b1"; }
.cwsicon-bitcoin-14:before { content: "\f1b2"; }
.cwsicon-bitcoin-13:before { content: "\f1b3"; }
.cwsicon-bitcoin-12:before { content: "\f1b4"; }
.cwsicon-bitcoin-11:before { content: "\f1b5"; }
.cwsicon-safebox:before { content: "\f1b6"; }
.cwsicon-bitcoin-10:before { content: "\f1b7"; }
.cwsicon-pick-1:before { content: "\f1b8"; }
.cwsicon-bitcoin-9:before { content: "\f1b9"; }
.cwsicon-profits-1:before { content: "\f1ba"; }
.cwsicon-laptop:before { content: "\f1bb"; }
.cwsicon-bank:before { content: "\f1bc"; }
.cwsicon-credit-card:before { content: "\f1bd"; }
.cwsicon-network-1:before { content: "\f1be"; }
.cwsicon-keyword:before { content: "\f1bf"; }
.cwsicon-smartphone:before { content: "\f1c0"; }
.cwsicon-bitcoin-8:before { content: "\f1c1"; }
.cwsicon-worldwide:before { content: "\f1c2"; }
.cwsicon-bitcoin-7:before { content: "\f1c3"; }
.cwsicon-pick:before { content: "\f1c4"; }
.cwsicon-piggy-bank:before { content: "\f1c5"; }
.cwsicon-network:before { content: "\f1c6"; }
.cwsicon-exchange-1:before { content: "\f1c7"; }
.cwsicon-bitcoin-6:before { content: "\f1c8"; }
.cwsicon-bitcoin-5:before { content: "\f1c9"; }
.cwsicon-hacker:before { content: "\f1ca"; }
.cwsicon-shopping-cart:before { content: "\f1cb"; }
.cwsicon-exchange:before { content: "\f1cc"; }
.cwsicon-bitcoin-4:before { content: "\f1cd"; }
.cwsicon-money-bag:before { content: "\f1ce"; }
.cwsicon-bitcoin-3:before { content: "\f1cf"; }
.cwsicon-bitcoin-2:before { content: "\f1d0"; }
.cwsicon-bitcoin-1:before { content: "\f1d1"; }
.cwsicon-bitcoin:before { content: "\f1d2"; }
.cwsicon-profits:before { content: "\f1d3"; }