*
{margin:0%;
padding:0%;
}
#container {
margin: 0 auto;
width:1200px;
background: #898383;
background: -webkit-gradient(linear, left top, left bottom, from(#898383), to(#e2dddd) );
background: -moz-linear-gradient(-90deg, #898383, #e2dddd);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#898383', EndColorStr='#e2dddd');
border-left:white double 20px;
border-right:white double 20px;	
}
#header
{
width: 600px;
margin:0px 300px;
padding:30px 0px;
text-align:center;
background:url(/CSS/images/friends_header.png) no-repeat;
height:100px;
}
#button{
font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
font-weight:bold;
font-size:100%;
margin:0px 20px;
}
#template{
font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
font-weight:bold;
font-size:100%;
}
#content{
font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
font-weight:bold;
padding:0 300px;

}
#content img{
max-width:70px;
max-height:70px;
}
#content a{
text-decoration:none;
color:black;
}
#content a:hover{
text-decoration:none;
color:black;
}


td {
 border: 1px white solid;
 padding: 0.1em; 
}



#Horizontal {
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0;
	background: url(/CSS/images/bg-bubplastic.gif) top left repeat-x;
}

#Horizontal ul {
	list-style: none;
	padding: 0;
	margin:0 150px;
}

#Horizontal ul li {
	float: left;
	margin: 0;
	padding: 0;

}

#Horizontal ul li a {
	display: block;
	height: 27px;
	padding-left: 35px;
	float: left;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url(/CSS/images/bg-bubplastic-h-purple.gif) top left no-repeat;
	font-weight:bold;
}

#Horizontal ul li a span {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 35px;
	background: transparent url(/CSS/images/bg-bubplastic-h-purple.gif) top right no-repeat;
	cursor: pointer;
}


#Horizontal ul li a:hover{
background: transparent url(/CSS/images/bg-bubplastic-h-red.gif) top left no-repeat;
}

#Horizontal ul li a:hover span
{
background: transparent url(/CSS/images/bg-bubplastic-h-red.gif) top right no-repeat;
}
#footer{
	margin:0 auto;
	width:1200px;
  	background:url(/CSS/Logo.png) no-repeat;

	background-position: center;
	height:63px;
	border-left:white double 20px;
	border-right:white double 20px;
}