*{
margin:0%;
padding:0%;
}


#container {
margin: 0 auto;
width:1200px;
background: #898383;
background: -webkit-gradient(linear, left top, left bottom, from(#898383), to(#e2dddd) );
background: -moz-linear-gradient(-90deg, #898383, #e2dddd);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#898383', EndColorStr='#e2dddd');
border-left:white double 20px;
border-right:white double 20px;	
}
#Horizontal {
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0;
	background: url(images/bg-bubplastic.gif) top left repeat-x;
}

#Horizontal ul {
	list-style: none;
	padding: 0;
	margin:0 150px;
}

#Horizontal ul li {
	float: left;
	margin: 0;
	padding: 0;

}

#Horizontal ul li a {
	display: block;
	height: 27px;
	padding-left: 35px;
	float: left;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url(images/bg-bubplastic-h-red.gif) top left no-repeat;
	font-weight:bold;
}

#Horizontal ul li a span {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 35px;
	background: transparent url(images/bg-bubplastic-h-red.gif) top right no-repeat;
	cursor: pointer;
}


#Horizontal ul li a:hover{
background: transparent url(images/bg-bubplastic-h-lime.gif) top left no-repeat;
}

#Horizontal ul li a:hover span
{
background: transparent url(images/bg-bubplastic-h-lime.gif) top right no-repeat;
}

td {
 border: 1px white solid;
 padding: 0.1em; 
}



#avatar
{
width:298px;
height:298px;
margin:5 20px;
text-align:center;
}

#avatar img 
{
max-width:298px;
max-height:298px;
border: white solid 1px;
}

#footer{
	margin:0 auto;
	width:1200px;
  	background:url(Logo.png);

	background-position: center;
	height:63px;
	border-left:white double 20px;
	border-right:white double 20px;
}