	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/07/2018 08:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bookmark-2:before { content: "\f100"; }
.flaticon-bookmark-1:before { content: "\f101"; }
.flaticon-bookmark:before { content: "\f102"; }
.flaticon-black-shop-tag:before { content: "\f103"; }
.flaticon-tag-1:before { content: "\f104"; }
.flaticon-price-1:before { content: "\f105"; }
.flaticon-right-quote-sign:before { content: "\f106"; }
.flaticon-play-button-1:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-zcash-1:before { content: "\f109"; }
.flaticon-ripple-1:before { content: "\f10a"; }
.flaticon-dash-1:before { content: "\f10b"; }
.flaticon-monero-2:before { content: "\f10c"; }
.flaticon-bitcoin-70:before { content: "\f10d"; }
.flaticon-ethereum-3:before { content: "\f10e"; }
.flaticon-bitcoin-69:before { content: "\f10f"; }
.flaticon-ethereum-2:before { content: "\f110"; }
.flaticon-litecoin-1:before { content: "\f111"; }
.flaticon-share:before { content: "\f112"; }
.flaticon-cart-1:before { content: "\f113"; }
.flaticon-supermarket:before { content: "\f114"; }
.flaticon-shopping-carts:before { content: "\f115"; }
.flaticon-cart:before { content: "\f116"; }
.flaticon-unlink:before { content: "\f117"; }
.flaticon-link-1:before { content: "\f118"; }
.flaticon-link-button:before { content: "\f119"; }
.flaticon-search:before { content: "\f11a"; }
.flaticon-list-3:before { content: "\f11b"; }
.flaticon-list-2:before { content: "\f11c"; }
.flaticon-menu-6:before { content: "\f11d"; }
.flaticon-menu-5:before { content: "\f11e"; }
.flaticon-circles:before { content: "\f11f"; }
.flaticon-menu-4:before { content: "\f120"; }
.flaticon-menu-3:before { content: "\f121"; }
.flaticon-list-1:before { content: "\f122"; }
.flaticon-menu-2:before { content: "\f123"; }
.flaticon-menu-1:before { content: "\f124"; }
.flaticon-menu:before { content: "\f125"; }
.flaticon-info:before { content: "\f126"; }
.flaticon-danger:before { content: "\f127"; }
.flaticon-no-waiting:before { content: "\f128"; }
.flaticon-checkmark:before { content: "\f129"; }
.flaticon-edit:before { content: "\f12a"; }
.flaticon-right-arrow:before { content: "\f12b"; }
.flaticon-up-chevron:before { content: "\f12c"; }
.flaticon-briefcase-2:before { content: "\f12d"; }
.flaticon-exchange-3:before { content: "\f12e"; }
.flaticon-diamond:before { content: "\f12f"; }
.flaticon-bitcoin-68:before { content: "\f130"; }
.flaticon-bitcoin-67:before { content: "\f131"; }
.flaticon-bitcoin-66:before { content: "\f132"; }
.flaticon-bitcoin-65:before { content: "\f133"; }
.flaticon-briefcase-1:before { content: "\f134"; }
.flaticon-bitcoin-64:before { content: "\f135"; }
.flaticon-worldwide-1:before { content: "\f136"; }
.flaticon-idea:before { content: "\f137"; }
.flaticon-leadership:before { content: "\f138"; }
.flaticon-teamwork-1:before { content: "\f139"; }
.flaticon-loupe:before { content: "\f13a"; }
.flaticon-objective:before { content: "\f13b"; }
.flaticon-clock:before { content: "\f13c"; }
.flaticon-consulting:before { content: "\f13d"; }
.flaticon-seminar:before { content: "\f13e"; }
.flaticon-wrong:before { content: "\f13f"; }
.flaticon-blockchain:before { content: "\f140"; }
.flaticon-bitcoin-63:before { content: "\f141"; }
.flaticon-price:before { content: "\f142"; }
.flaticon-reply:before { content: "\f143"; }
.flaticon-send:before { content: "\f144"; }
.flaticon-wall-clock:before { content: "\f145"; }
.flaticon-pin:before { content: "\f146"; }
.flaticon-qr-code:before { content: "\f147"; }
.flaticon-chat:before { content: "\f148"; }
.flaticon-eye:before { content: "\f149"; }
.flaticon-upload-1:before { content: "\f14a"; }
.flaticon-bitcoin-62:before { content: "\f14b"; }
.flaticon-bitcoin-61:before { content: "\f14c"; }
.flaticon-consultant:before { content: "\f14d"; }
.flaticon-driver:before { content: "\f14e"; }
.flaticon-financial-analyst:before { content: "\f14f"; }
.flaticon-at:before { content: "\f150"; }
.flaticon-smartphone-1:before { content: "\f151"; }
.flaticon-link:before { content: "\f152"; }
.flaticon-telephone:before { content: "\f153"; }
.flaticon-heart-1:before { content: "\f154"; }
.flaticon-left-arrow-angle:before { content: "\f155"; }
.flaticon-bitcoin-60:before { content: "\f156"; }
.flaticon-tag:before { content: "\f157"; }
.flaticon-star-1:before { content: "\f158"; }
.flaticon-star:before { content: "\f159"; }
.flaticon-move-to-the-next-page-symbol:before { content: "\f15a"; }
.flaticon-left-arrow-chevron:before { content: "\f15b"; }
.flaticon-team:before { content: "\f15c"; }
.flaticon-brainstorming:before { content: "\f15d"; }
.flaticon-teamwork:before { content: "\f15e"; }
.flaticon-users:before { content: "\f15f"; }
.flaticon-laptop-1:before { content: "\f160"; }
.flaticon-data:before { content: "\f161"; }
.flaticon-chip:before { content: "\f162"; }
.flaticon-tick:before { content: "\f163"; }
.flaticon-bitcoin-59:before { content: "\f164"; }
.flaticon-pay:before { content: "\f165"; }
.flaticon-barcode:before { content: "\f166"; }
.flaticon-wallet:before { content: "\f167"; }
.flaticon-cross-remove-sign:before { content: "\f168"; }
.flaticon-list:before { content: "\f169"; }
.flaticon-strategy:before { content: "\f16a"; }
.flaticon-gear-1:before { content: "\f16b"; }
.flaticon-coffee-cup:before { content: "\f16c"; }
.flaticon-rocket:before { content: "\f16d"; }
.flaticon-store:before { content: "\f16e"; }
.flaticon-business-and-finance:before { content: "\f16f"; }
.flaticon-briefcase:before { content: "\f170"; }
.flaticon-cogwheel:before { content: "\f171"; }
.flaticon-bitcoin-58:before { content: "\f172"; }
.flaticon-bitcoin-57:before { content: "\f173"; }
.flaticon-bitcoin-56:before { content: "\f174"; }
.flaticon-bitcoin-55:before { content: "\f175"; }
.flaticon-bitcoin-54:before { content: "\f176"; }
.flaticon-bitcoin-53:before { content: "\f177"; }
.flaticon-bitcoin-52:before { content: "\f178"; }
.flaticon-bitcoin-51:before { content: "\f179"; }
.flaticon-bitcoin-50:before { content: "\f17a"; }
.flaticon-bitcoin-49:before { content: "\f17b"; }
.flaticon-bitcoin-48:before { content: "\f17c"; }
.flaticon-bitcoin-47:before { content: "\f17d"; }
.flaticon-bitcoin-46:before { content: "\f17e"; }
.flaticon-bitcoin-45:before { content: "\f17f"; }
.flaticon-bitcoin-44:before { content: "\f180"; }
.flaticon-bitcoin-43:before { content: "\f181"; }
.flaticon-bitcoin-42:before { content: "\f182"; }
.flaticon-bitcoin-41:before { content: "\f183"; }
.flaticon-bitcoin-40:before { content: "\f184"; }
.flaticon-bitcoin-39:before { content: "\f185"; }
.flaticon-bitcoin-38:before { content: "\f186"; }
.flaticon-bitcoin-37:before { content: "\f187"; }
.flaticon-bitcoin-36:before { content: "\f188"; }
.flaticon-bitcoin-35:before { content: "\f189"; }
.flaticon-bitcoin-34:before { content: "\f18a"; }
.flaticon-bitcoin-33:before { content: "\f18b"; }
.flaticon-bitcoin-32:before { content: "\f18c"; }
.flaticon-bitcoin-31:before { content: "\f18d"; }
.flaticon-bitcoin-30:before { content: "\f18e"; }
.flaticon-bitcoin-29:before { content: "\f18f"; }
.flaticon-upload:before { content: "\f190"; }
.flaticon-check:before { content: "\f191"; }
.flaticon-testing-glasses:before { content: "\f192"; }
.flaticon-test-1:before { content: "\f193"; }
.flaticon-test:before { content: "\f194"; }
.flaticon-gear:before { content: "\f195"; }
.flaticon-heart:before { content: "\f196"; }
.flaticon-verification-mark:before { content: "\f197"; }
.flaticon-zcash:before { content: "\f198"; }
.flaticon-bitcoin-28:before { content: "\f199"; }
.flaticon-bitcoin-27:before { content: "\f19a"; }
.flaticon-bitcoin-26:before { content: "\f19b"; }
.flaticon-bitcoin-25:before { content: "\f19c"; }
.flaticon-bitcoin-24:before { content: "\f19d"; }
.flaticon-monero-1:before { content: "\f19e"; }
.flaticon-bitcoin-23:before { content: "\f19f"; }
.flaticon-monero:before { content: "\f1a0"; }
.flaticon-bitcoin-22:before { content: "\f1a1"; }
.flaticon-dash:before { content: "\f1a2"; }
.flaticon-ethereum-1:before { content: "\f1a3"; }
.flaticon-bitcoin-21:before { content: "\f1a4"; }
.flaticon-ripple:before { content: "\f1a5"; }
.flaticon-exchange-2:before { content: "\f1a6"; }
.flaticon-chains:before { content: "\f1a7"; }
.flaticon-litecoin:before { content: "\f1a8"; }
.flaticon-bitcoin-20:before { content: "\f1a9"; }
.flaticon-ethereum:before { content: "\f1aa"; }
.flaticon-bitcoin-19:before { content: "\f1ab"; }
.flaticon-growth:before { content: "\f1ac"; }
.flaticon-bitcoin-18:before { content: "\f1ad"; }
.flaticon-bitcoin-17:before { content: "\f1ae"; }
.flaticon-bitcoin-16:before { content: "\f1af"; }
.flaticon-suitcase:before { content: "\f1b0"; }
.flaticon-bitcoin-15:before { content: "\f1b1"; }
.flaticon-bitcoin-14:before { content: "\f1b2"; }
.flaticon-bitcoin-13:before { content: "\f1b3"; }
.flaticon-bitcoin-12:before { content: "\f1b4"; }
.flaticon-bitcoin-11:before { content: "\f1b5"; }
.flaticon-safebox:before { content: "\f1b6"; }
.flaticon-bitcoin-10:before { content: "\f1b7"; }
.flaticon-pick-1:before { content: "\f1b8"; }
.flaticon-bitcoin-9:before { content: "\f1b9"; }
.flaticon-profits-1:before { content: "\f1ba"; }
.flaticon-laptop:before { content: "\f1bb"; }
.flaticon-bank:before { content: "\f1bc"; }
.flaticon-credit-card:before { content: "\f1bd"; }
.flaticon-network-1:before { content: "\f1be"; }
.flaticon-keyword:before { content: "\f1bf"; }
.flaticon-smartphone:before { content: "\f1c0"; }
.flaticon-bitcoin-8:before { content: "\f1c1"; }
.flaticon-worldwide:before { content: "\f1c2"; }
.flaticon-bitcoin-7:before { content: "\f1c3"; }
.flaticon-pick:before { content: "\f1c4"; }
.flaticon-piggy-bank:before { content: "\f1c5"; }
.flaticon-network:before { content: "\f1c6"; }
.flaticon-exchange-1:before { content: "\f1c7"; }
.flaticon-bitcoin-6:before { content: "\f1c8"; }
.flaticon-bitcoin-5:before { content: "\f1c9"; }
.flaticon-hacker:before { content: "\f1ca"; }
.flaticon-shopping-cart:before { content: "\f1cb"; }
.flaticon-exchange:before { content: "\f1cc"; }
.flaticon-bitcoin-4:before { content: "\f1cd"; }
.flaticon-money-bag:before { content: "\f1ce"; }
.flaticon-bitcoin-3:before { content: "\f1cf"; }
.flaticon-bitcoin-2:before { content: "\f1d0"; }
.flaticon-bitcoin-1:before { content: "\f1d1"; }
.flaticon-bitcoin:before { content: "\f1d2"; }
.flaticon-profits:before { content: "\f1d3"; }