.select2-container [class^="flaticon-"]:before,
.select2-container [class*=" flaticon-"]:before,
.select2-container [class^="flaticon-"]:after,
.select2-container [class*=" flaticon-"]:after
{
    margin: 0 5px 0 0;
    font-size: 15px;
}

/*CWS logo tab*/
.elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-tab-control-cws-tab a{
    font-size: 0px;
    position: relative;
    padding: 0px;
    min-height: 52px;
}
.elementor-panel .elementor-tab-control-cws-tab a:before {
    content: '';
    background: url(../img/cws.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 25px;
    background-size: contain;
    background-position: center;
    left: 0px;
    top: 15px;
}
/*CWS logo tab*/

/*Remove*/
/*Fix color picker*/
.elementor-panel #elementor-controls .elementor-control-type-color .elementor-control-content .wp-picker-container.wp-picker-active{
    right: -13px;
    top: -15px;
}
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-type-color .elementor-control-content .wp-picker-container.wp-picker-active{
    top: -10px;
}
/*Fix color picker*/

/*Disable Blog & Header order Repeator */
.elementor-panel #elementor-controls .elementor-control-elements_order .elementor-button-wrapper,
.elementor-panel #elementor-controls .elementor-control-elements_order .elementor-repeater-fields-wrapper .elementor-repeater-row-tool,

.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-button-wrapper,
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-repeater-fields-wrapper .elementor-repeater-row-tool
{
	display: none;
}

.elementor-panel #elementor-controls .elementor-control-elements_order .elementor-repeater-fields-wrapper .elementor-repeater-row-tools .elementor-repeater-row-item-title,
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-repeater-fields-wrapper .elementor-repeater-row-tools .elementor-repeater-row-item-title
{
	pointer-events: none;
}
/*Disable Blog Repeator */

/*Style header order*/
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-repeater-fields.cws_header_zone{
    pointer-events: none;
}
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-repeater-fields.cws_header_zone .elementor-repeater-row-tools{
    background-color: #71d7f7;
    height: 22px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.15), inset 0 0 3px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15), inset 0 0 3px rgba(0,0,0,.2);    
}
.elementor-panel #elementor-panel-page-settings-controls .elementor-control-header_order .elementor-repeater-fields.cws_header_zone .elementor-repeater-row-item-title{
    background-color: #71d7f7;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.2);
    text-align: center;
}
/*Style header order*/

.elementor-panel #elementor-controls .elementor-control.cws_hidden_control:not(.elementor-hidden-control){
	-webkit-animation: cws_hidden_control_bg 0.5s linear;
	animation: cws_hidden_control_bg 0.5s linear;
}

.elementor-panel #elementor-controls .elementor-control .cws_not_blink{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.elementor-panel #elementor-controls .elementor-control .elementor-control-content{
	position: relative;
}

@keyframes cws_hidden_control_bg{
	0% {background-color: #71d7f7;}
	100% {background-color: #fff;}
}
@-webkit-keyframes cws_hidden_control_bg{
	0% {background-color: #71d7f7;}
	100% {background-color: #fff;}
}

/*Fix WYSIWYG (Format) select*/
.elementor-panel .elementor-control-type-wysiwyg #mceu_9{
	display: none;
}

.grid_row ul > li:before, .item ul > li:before{
    display: none;
}

.elementor-panel .elementor-control-field-description.cws-elementor-info-text{
	color: #70d6f6;
}

.elementor-panel .elementor-repeater-fields .elementor-repeater-row-item-title img.patterns_img_thumb{
    max-width: 50px;
}

.elementor-control .elementor-control-content .cws_svg input{
    margin-bottom: 10px;
    margin-top: 10px;
}

.elementor-panel .elementor-repeater-row-item-title [class^="flaticon-"]:before,
.elementor-panel .elementor-repeater-row-item-title [class*=" flaticon-"]:before{
    font-size: initial;
    margin-left: 0px;
}

.elementor-control .elementor-control-content .cws_svg .cws_svg_icon
{
    line-height: 30px;
    border: 1px solid #a4afb7;
    text-align: center;
    background-color: #a4afb7;
    color: #fff;
    font-size: .8em;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
}

.elementor-control .elementor-control-content .cws_svg .cws_svg_icon:hover{
	background-color: #ffffff;
	color: #a4afb7;
}

.elementor-control .elementor-control-content .cws_svg .cws_svg_icon_remove
{
	line-height: 30px;
    border: 1px solid #b7084e;
    text-align: center;
    color: #b7084e;
    font-size: .8em;
    width: 50%;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    display: inline-block;
    width: 50%;
}

.elementor-control .elementor-control-content .cws_svg .cws_svg_icon_remove:hover{
	background-color: #b7084e;
	color: #ffffff;
}

.elementor-control .elementor-control-content .cws_svg .cws_controls_wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

