/*Improve Editor styles*/
.elementor-editor-active .elementor-widget{
    border: 1px solid transparent;
}

/*Remove*/
/*Fix icons*/
.elementor-editor-column-settings{
    width: 50px;
    z-index: 3;
}
.elementor-editor-section-settings:before {
    content: '';
    position: absolute;
    width: 100vw;
    left: -48vw;
    height: 24px;
    z-index: -1;
}
/*Fix icons*/

.elementor-slick-slider .slick-next:before,
.elementor-slick-slider .slick-prev:before{
    color: initial !important;
}

.elementor-editor-preview .elementor-element-empty{
    display: flex;
}

.elementor-editor-preview .elementor-element-empty .elementor-empty-view{
    display: none;
}

.elementor-editor-active .elementor-widget.elementor-element-editable,
.elementor-editor-active .elementor-widget.elementor-widget-can-edit:hover,
.elementor-editor-active .elementor-widget.elementor-element-edit-mode:hover
{
    outline: 0;
}

/*CWS Active Section, Column, Widget*/
.elementor-editor-active .elementor-widget.elementor-element-editable,
.elementor-editor-active .elementor-widget:hover{
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}
.elementor-editor-active .elementor-column.elementor-element-editable,
.elementor-editor-active .elementor-column:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.elementor-editor-active .elementor-section.elementor-element-editable,
.elementor-editor-active .elementor-section:hover{
    background-color: rgba(103, 212, 246, 0.1);
}
/*CWS Active Section, Column, Widget*/

/*Remove*/
.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings,
.elementor-editor-widget-settings .elementor-editor-element-setting:not(:hover){
    background-image: none;
}

.elementor-editor-widget-settings .elementor-editor-element-setting{
    background-color: #f44141;
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:hover {
    background-color: #f21010;
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings .elementor-editor-element-trigger:not(.elementor-active)~.elementor-editor-element-setting
{
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings .elementor-editor-element-trigger.elementor-active~.elementor-editor-element-setting{
    opacity: 1;
}

@media (min-width: 1025px){
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:first-child:not(.elementor-active), .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:last-child {
        padding-left: 0px;
    }
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:first-child {
        padding-right: 0px;
    }
}