/*  -------------------
	Mobile menu media
-------------------  */
@media screen and (min-width: 1366px){
	.menu_box{
		.container{
			.header_nav_part{
				.main-nav-container{
					.menu_box_wrapper{
						.main-menu{
							.menu-item{
								&:hover{
									> .sub-menu{
										margin-top: 25px;
										opacity: 1;
										visibility: visible;
										pointer-events: auto;
										z-index: 1;
									}
								}
								.sub-menu{
									.menu-item{
										&:hover,
										&.current-menu-item,
										&.current-menu-ancestor{
											> .cws_megamenu_item_title,
											> a{
												color: #fff;
											}
										}
										.button_open{
											position: absolute;
											right: 15px;
											top: 52%;
											@include transform(translateY(-50%));
											width: 12px;
											height: 12px;
											line-height: 10px;
											font-size: 20px;
											color: #fff;
											&:before{
												content: '\f105';
												font-family: 'FontAwesome';
												position: absolute;
												right: 0;
												top: 0;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1199px){
	body.admin-bar{
		.menu_box_wrapper{
			margin-top: 32px;
		}
	}
	.site_header{
		&.logo-in-menu{
			&.logo-center{
				.menu_box{
					.container{
						.header_nav_part{
							.main-nav-container{
								.menu_box_wrapper{
									@include justify-content(flex-start);
								}
							}
						}
					}
				}
			}
		}
	}
	.menu_box{
		.container{
			.header_nav_part{
				.menu-overlay{
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,.75);
					z-index: 4;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					@include transition(opacity .3s linear);
					&.active{
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
				.main-nav-container{
					.logo_mobile_wrapper{
						display: block;
						margin-right: 20px;
					}
					.menu_left_icons{
						@include flex-grow(1);
						@include justify-content(flex-end);
						> *:last-child{
							margin-right: 20px;
						}
						.mobile_menu_hamburger{
							width: 24px;
							margin-right: 0;
							top: 1px;
							&:last-child{
								margin-right: 20px;
							}
						}
					}
					.menu_right_icons{
						> *:first-child{
							margin-left: 0;
						}
						.mobile_menu_hamburger{
							width: 24px;
							margin-left: 0;
							top: 1px;
						}
					}
					.menu_box_wrapper{
						position: fixed;
						overflow-y: auto;
						left: -271px;
						top: 0;
						z-index: 5;
						width: 270px;
						height: 100vh;
						padding: 20px 25px 45px;
						background-color: #fff;
						@include flex-direction(column);
						@include align-items(flex-start);
						@include justify-content(flex-start);
						@include transition(left .3s ease-in-out);
						&.active{
							left: 0;
						}
						.menu-left-part,
						.menu-right-part{
							width: 100%;
						}
						.menu_logo_part{
							.logo{
								.logo_default_wrapper{
									display: none;
								}
								.logo_sticky_wrapper{
									display: none;
								}
							}
						}
						.main-menu{
							width: 100%;
							@include flex-direction(column);
							@include align-items(flex-start);
							> .menu-item{
								&.menu-item-object-megamenu_item,
								&.menu-item-has-children{
									> .cws_megamenu_item_title,
									> a{
										width: calc(100% - 35px);
										padding: 0;
										margin: 0;
										&:before,
										&:after{
											display: none;
										}
									}
								}
							}
							.menu-item{
								width: 100%;
								margin-bottom: 20px;
								&:not(:last-child){
									margin-right: 0;
								}
								&.sub_align_right{
									.sub-menu{
										right: auto;
										left: 0;
									}
								}
								&.active{
									> .button_open{
										&:before{
											@include transform(translate(-50%, -50%) rotate(180deg));
										}
									}
								}
								a,
								.cws_megamenu_item_title{
									display: block;
									position: relative;
									font-size: 22px;
									white-space: initial;
									word-break: break-word;
								}
								.button_open{
									position: absolute;
									right: -25px;
									top: -10px;
									width: 60px;
									height: calc(100% + 20px);
									max-height: 47px;
									font-size: 21px;
									&:before{
										content: '\f107';
										font-family: 'FontAwesome';
										position: absolute;
										left: 50%;
										top: 50%;
										@include transform(translate(-50%, -50%) rotate(0deg));
										@include transition(transform .3s ease);
									}
								}
								.sub-menu{
									display: none;
									margin-top: 0;
									opacity: 1;
									visibility: visible;
									pointer-events: auto;
									position: relative;
									left: 0;
									box-shadow: none;
									padding: 25px 0 0 15px;
									@include transition(none);
									@include border-radius(0);
									&:after,
									&:before{
										display: none;
									}
									.menu-item{
										margin-bottom: 15px;
										&:last-child{
											margin-bottom: 10px;
										}
										a{
											padding: 0;
										}
										.sub-menu{
											margin-top: 0;
											left: 0;
											.menu-item{
												&:last-child{
													margin-bottom: 25px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px){
	
}

@media screen and (max-width: 767px){
	
}