/*  -------------------
	CWS - Icons
-------------------  */
.cws_icon_lg{
	&[class^="flaticon-"],
	&[class*=" flaticon-"]{
		&:before{
			font-size: 1.33em;
		}
	}
	&:before{
		font-size: 1.33em;
	}
	i{
		&:before{
			font-size: 1.33em
		}
	}
}
.cws_icon_2x{
	&[class^="flaticon-"],
	&[class*=" flaticon-"]{
		&:before{
			font-size: 2em;
		}
	}
	&:before{
		font-size: 2em;
	}
	i{
		&:before{
			font-size: 2em
		}
	}
}
.cws_icon_3x{
	&[class^="flaticon-"],
	&[class*=" flaticon-"]{
		&:before{
			font-size: 3em;
		}
	}
	&:before{
		font-size: 3em;
	}
	i{
		&:before{
			font-size: 3em
		}
	}
}
.cws_icon_4x{
	&[class^="flaticon-"],
	&[class*=" flaticon-"]{
		&:before{
			font-size: 4em;
		}
	}
	&:before{
		font-size: 4em;
	}
	i{
		&:before{
			font-size: 4em
		}
	}
}
.cws_icon_5x{
	&[class^="flaticon-"],
	&[class*=" flaticon-"]{
		&:before{
			font-size: 5em;
		}
	}
	&:before{
		font-size: 5em;
	}
	i{
		&:before{
			font-size: 5em
		}
	}
}
.cws_social_links{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	   -moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
	text-align: center;
	&.position-left{
		-webkit-justify-content: flex-start;
		   -moz-justify-content: flex-start;
			-ms-justify-content: flex-start;
				justify-content: flex-start;
	}
	&.position-center{
		-webkit-justify-content: center;
		   -moz-justify-content: center;
			-ms-justify-content: center;
				justify-content: center;
	}
	&.position-right{
		-webkit-justify-content: flex-end;
		   -moz-justify-content: flex-end;
			-ms-justify-content: flex-end;
				justify-content: flex-end;
	}
	&.size-1x{
		.cws_social_link{
			height: 35px;
			width: 35px;
			line-height: 32px;
		}
	}
	&.size-lg{
		.cws_social_link{
			height: 45px;
			width: 45px;
			line-height: 45px;
		}
	}
	&.size-2x{
		.cws_social_link{
			height: 60px;
			width: 60px;
			line-height: 60px;
		}
	}
	&.size-3x{
		.cws_social_link{
			height: 80px;
			width: 80px;
			line-height: 80px;
		}
	}
	.cws_social_link{
		display: inline-block;
		position: relative;
		margin: 0 5px 5px 5px;
		overflow: hidden;
		&:after{
			content: '';
			left: -110%;
			top: 90%;
			width: 140%;
			height: 140%;
			position: absolute;
			@include transform(rotate(45deg)); 
			@include transition(all .35s);
			transition-timing-function: cubic-bezier(0.310, -0.105, 0.430, 1.590);
		}
		&:hover{
			&:after{
				top: -20%;
				left: -20%;
			}
		}
		&.none{
			width: auto;
			height: auto;
			line-height: initial;
			margin: 0 10px;
			&:after{
				display: none;
			}
		}
		&.squared{
			@include border-radius(4px);
			@include box-shadow(0 3px 4px 0px rgba(0,0,0,.15));
		}
		&.round{
			@include border-radius(50%);
			@include box-shadow(0 3px 4px 0px rgba(0,0,0,.15));
		}
		.social_icon{
			display: inline-block;
			vertical-align: middle;
			@include transform(scale(.8));
			@include transition(all .2s linear);
		}
	}
}