/*  --------------------
	Woocommerce widgets
--------------------  */
.widget-woocommerce_top_rated_products,
.widget-woocommerce_recently_viewed_products,
.widget-woocommerce_recent_reviews,
.widget-woocommerce_products,
.widget_shopping_cart_content{
	ul{
		li{
			position: relative;
			@include clearfix();
			&:not(:last-child){
				margin-bottom: 20px;
			}
			.remove{
				position: absolute;
				right: 0;
				top: -1px;
				color: #FF0000;
				font-size: 18px;
				font-weight: 700;
			}
			a{
				&:not(.remove){
					padding-right: 20px;
					font-weight: 500;
				}
				img{
					float: left;
					width: 70px;
					height: 70px;
					margin-right: 20px;
					@include border-radius(0);
				}
			}
			.star-rating{
				margin-right: 70px;
				margin-top: 5px;
			}
			.reviewer,
			del,
			ins{
				display: inline-block;
				margin-top: 5px;
			}
			del{
				margin-right: 5px;
			}
			ins{
				text-decoration: none;
				font-weight: 500;
			}
			.quantity{
				display: inline-block;
				margin-top: 5px;
			}
		}
	}
	.total{
		margin: 5px 0 0 0;
		padding: 10px 15px;
		text-align: right;
		> *{
			font-weight: 500;
		}
	}
	.buttons{
		@include flex(row, nowrap, space-betwenn, center);
		.button{
			display: inline-block;
			padding: 11px 0;
			margin-top: 10px;
			width: 100%;
			text-align: center;
			&:not(:last-child){
				margin-right: 10px;
			}
		}
	}
}

.widget-woocommerce_layered_nav{
	ul{
		li{
			position: relative;
			padding: 10px 20px;
			.color-box{
				position: absolute;
				left: 0;
				top: 48%;
				@include transform(translateY(-50%));
				width: 8px;
				height: 8px;
				@include border-radius(50%);
			}
		}
	}
}

/*  --------------------
	Star rating
--------------------  */
.star-rating:before,
.star-rating>span:before,
.comment-form-rating .stars:before,
.comment-form-rating .stars .stars-active{
    display: block;
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    letter-spacing: 2px;
    word-break: initial;
}
.wc-layered-nav-rating{
	> a{
		line-height: 14px;
	}
}
.star-rating,
.comment-form-rating .stars{
    font-size: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.star-rating:before,
.comment-form-rating .stars:before{
   color: #e5e5e5;
}
.star-rating > span,
.comment-form-rating .stars .stars-active{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-rating>span:before,
.comment-form-rating .stars .stars-active{
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

/*  --------------------
	Filter by price
--------------------  */
.price_slider_wrapper{
	border-radius: 10px 0;
	.price_slider{
		height: 4px;
	    position: relative;
	    background-color: #eaeaea;
	    width: calc(100% - 14px);
	    margin-left: 7px;
	    .ui-slider-range{
			height: 100%;
		    top: 50%;
		    position: absolute;
		    @include transform(translateY(-50%));
		}
		.ui-slider-handle{
    		width: 0px;
		    height: 3px;
		    position: absolute;
		    -webkit-transition: all 0s ease;
		    -moz-transition: all 0s ease;
		    -ms-transition: all 0s ease;
		    transition: all 0s ease;
		    &:before{
		    	content: '';
			    position: absolute;
			    bottom: 50%;
			    z-index: 2;
			    -webkit-transform: translateX(-50%);
			    -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			    transform: translateY(50%);
			    width: 14px;
			    height: 14px;
			    border-radius: 50%;
			    margin-left: -7px;
		    }
		    .price_label{
				color: #333e4f;
			    margin-top: 6px;
			    transform: translateX(-50%);
			    -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    sup{
			    	font-size: 0.7em;
			    }
		    }
		}
	}
	.price_slider_amount{
		margin-top: 10px;
		@include flex(row-reverse, nowrap, space-between, center);
		.button{
			padding: 5px 25px;
		}
		.price_label{
			display: inline-block;
		    margin-top: 10px;
		    font-size: 16px;
		    font-weight: 300;
		}
		.clear{
			display: none;
		}
	}
}