/*========================================================
====================== THEME COLOR 1 =====================
========================================================*/
.cws_default .default_menu_box .header_site_title,
.post .inline_date,
a,
p > i,
.scroll_to_top,
.item .post_bottom_wrapper .post_meta i,
.nav_post_links .nav_prev,
.nav_post_links .nav_next,
.comment-respond .comment-form label .required,
.post_meta_date,
.post_meta_date i,
aside .cws-widget .search-form,
aside .cws-widget .woocommerce-product-search,
aside .cws-widget .widget-title,
.cryptop-new-layout aside .cws-widget .widget-title, /*Remove from structure */
.cws-widget .testimonials_widget .post_content:before,
.widget_shopping_cart_content .mini_cart_item .quantity,
.single blockquote, /*Remove from structure */
.single blockquote a, /*Remove from structure */
aside .cws-widget ul li:before, /*Remove from structure */
aside .cws-widget ul li:after, /*Remove from structure */
aside .cws-widget ul li span:before, /*Remove from structure */
.cws-widget .cws_textwidget_content .custom_divider:before, /*Remove from structure */
.cws-widget .cws_textwidget_content .user_position, /*Remove from structure */
.main-nav-container .sub-menu .menu-item.menu-item-has-children:before, /*Remove from structure */
.main-nav-container .sub-menu .menu-item.menu-item-has-children:after, /*Remove from structure */
.star-rating span,
.comment-form-rating .stars span,
.sidebar-tablet-trigger,
.widget-cws-recent-comments .widget_wrapper .widget_carousel .item .post_item:before, /*Remove from structure */
.product .price,
.woo_products_media_side_links li a.button,
.woocommerce .woocommerce-tabs .comment-text .meta .woocommerce-review__author,
.woocommerce .checkout .order-total .woocommerce-Price-amount,
.cart-collaterals .cart_totals .shop_table .order-total .amount,
.top_bar_wrapper .container .top_bar_icons .top_bar_links_wrapper .top_bar_box_text i, /*Remove from structure */
.top_bar_wrapper .mini-cart .woo_mini_cart .total .amount,
.top_bar_wrapper .social_links_wrapper .social-btn-open-icon,
.top_bar_wrapper .social_links_wrapper .social-btn-open,
.top_bar_wrapper .top_bar_search .search_icon
{
	color: rgba(#theme-color-1#,1);
}

.woo_mini_cart .cart_list .mini_cart_item a:not(.remove),
.mini-cart .woo_mini_cart .buttons .button:hover
{
	color: rgba(#theme-color-1#,1) !important;
}

.wc-layered-nav-rating .star-rating:before,
.comment-form-rating .stars:before,
.rating_reviews .star-rating:before
{
	color: rgba(#theme-color-1#,.2);
}

blockquote,
button,
input[type="button"],
input[type="submit"],
.button,
.cws_button,
.post_meta a:before,
.bread-crumbs a:before,
.round-divider, /*Remove from structure */
aside .cws-widget ul li a:before, /*Remove from structure */
aside .cws-widget ul li .cws_megamenu_item_title:before, /*Remove from structure */
.cws-widget .cws_textwidget_content .custom_divider:before, /*Remove from structure */
aside .cws-widget .calendar_wrap #wp-calendar caption,  /*Remove from structure */
aside .cws-widget .calendar_wrap #wp-calendar tr td, /*Remove from structure */
aside .cws-widget .calendar_wrap #wp-calendar tr th, /*Remove from structure */
.widget-cws-banner .banner_desc:before, /*Remove from structure */
.owl-carousel button.owl-dot,
.price_slider_wrapper .price_slider .ui-slider-range,
.price_slider_wrapper .price_slider .ui-slider-handle:before,
.widget-cws-twitter .cws_tweet:before,
.product .woo_banner.sale_bunner,
.woocommerce-cart-form .shop_table thead th
{
	background-color: rgba(#theme-color-1#,1);
}

.comments-area .comment_list .comment.parent.even > .comment-body{
	background-color: rgba(#theme-color-1#,.08);
}

/*.item ul li:before,
ul li:before,*/
.item .post_bottom_wrapper.meta-top.bottom-part .post_tags .post_terms a:before,
.pagination .page_links > span,
aside .cws-widget .widget-title:before,
.hover-effect,
.cws-widget .tagcloud a:before
{
	background: rgba(#theme-color-1#,.6);
}

.comments-area .comment_list .comment.parent.even > .comment-body:before{
	border-bottom-color: rgba(#theme-color-1#,.08);
}

aside .cws-widget .search-form input,
aside .cws-widget .woocommerce-product-search input{
	border-bottom-color: rgba(#theme-color-1#,.8);
}

aside .cws-widget ul li{
	border-left-color: rgba(#theme-color-1#,.8);
}

.search_menu_wrap .search_menu_cont .search-form .search-field:focus,
.scroll_to_top,
button,
input[type="button"],
input[type="submit"],
.cws_button,
.button,
input:focus,
textarea:focus{
	border-color: rgba(#theme-color-1#,1);
}

.widget-cws-twitter .cws_tweet:before{
	-webkit-box-shadow: 4px 4px 10px 1px rgba(#theme-color-1#,.5);
	   -moz-box-shadow: 4px 4px 10px 1px rgba(#theme-color-1#,.5);
			box-shadow: 4px 4px 10px 1px rgba(#theme-color-1#,.5);
}

.menu_box .main-nav-container .main-menu .menu-item .sub-menu{
	-webkit-box-shadow: 0 0 20px 0 rgba(#theme-color-1#,.5);
	   -moz-box-shadow: 0 0 20px 0 rgba(#theme-color-1#,.5);
			box-shadow: 0 0 20px 0 rgba(#theme-color-1#,.5);	
}


/*========================================================
====================== THEME COLOR 2 =====================
========================================================*/
.top_bar_wrapper .top_bar_search.show-search .search_icon,
.summary .woocommerce-product-rating .star-rating span, /*Remove from structure */
.woocommerce .woocommerce-tabs .commentlist .star-rating span, /*Remove from structure */
.woocommerce .woo_products_media_side_links li a.added_to_cart,
.woocommerce-info .showcoupon,
.top_bar_wrapper .social-btn-open.active
{
	color: rgba(#theme-color-2#,1);
}
.cws_default thead,
.cws_default ins,
.mini-cart .woo_icon i span,
aside .cws-widget .calendar_wrap #wp-calendar tbody a:before /*Remove from structure */
{
	background-color: rgba(#theme-color-2#,1);
}
#cws_page_loader:before{
	border-bottom-color: rgba(#theme-color-2#,1);
	border-left-color: rgba(#theme-color-2#,1);
}


/*========================================================
====================== Media Colors ======================
========================================================*/
@media only screen and (min-width: 1200px){
	/*  -----------------------
		Media - Theme color 1
	-----------------------  */
	.site_header .search_menu:hover,
	.header_container .header_zone .side_panel_icon:hover,
	.item .post_bottom_wrapper .btn-read-more .more-link:hover,
	button:hover, input[type="button"]:hover, input[type="submit"]:hover,
	.post_bottom_wrapper a:hover,
	.nav_post_links a:hover,
	a[rel="v:url"]:hover,
	.mini-cart:hover:before,
	aside .cws-widget ul li a:hover, /*Remove from structure */
	aside .cws-widget .calendar_wrap #wp-calendar tbody a:hover, /*Remove from structure */
	.button:hover,
	.cws_button:hover
	{
		color: rgba(#theme-color-1#,1);
	}

	.main-nav-container .main-menu > .menu-item .menu-item:hover,
	.main-nav-container .main-menu > .menu-item .menu-item.current-menu-item,
	.main-nav-container .main-menu > .menu-item .menu-item.current-menu-ancestor,
	.scroll_block .scroll_to_top:hover{
		background-color: rgba(#theme-color-1#,1);
	}

	.pagination .page_links a:hover{
		background: rgba(#theme-color-1#,.6);
	}

	button:hover, input[type="button"]:hover, input[type="submit"]:hover{
		background-color: rgba(#theme-color-1#,0);
	}

	.page_content .news .sticky-post:hover{
		-webkit-box-shadow: 0 1px 2px 0 rgb(#theme-color-1#);
		   -moz-box-shadow: 0 1px 2px 0 rgb(#theme-color-1#);
				box-shadow: 0 1px 2px 0 rgb(#theme-color-1#);
	}

	/*  -----------------------
		Media - Theme color 2
	-----------------------  */
	.top_bar_wrapper .top_bar_search .search_icon:hover,
	.search_menu_wrap .search_menu_cont .search_back_button:hover:before,
	a:hover,
	.cws_default blockquote a:hover,
	.info span.post_author a:hover,
	.cws-widget.widget-cws-categories .category-block:hover .category-label, /*Remove from structure */
	aside .cws-widget .calendar_wrap #wp-calendar tfoot a:hover, /*Remove from structure */
	.woo_products_media_side_links li a.button:hover,
	.products .product .cryptop_shop_loop_item_content_wrapper .woo_product_post_title a:hover,
	.elementor-shortcode .cryptop_shop_loop_item_content_wrapper:hover .woocommerce-loop-category__title,
	.elementor-shortcode .cryptop_shop_loop_item_content_wrapper:hover mark,
	.top_bar_wrapper .social_links_wrapper .social-btn-open:hover
	{
		color: rgba(#theme-color-2#,1);
	}
	
	.woo_mini_cart .cart_list .mini_cart_item a:not(.remove):hover
	{
		color: rgba(#theme-color-2#,1) !important;
	}
}

@media only screen and (max-width: 1199px){
	/*  -----------------------
		Media - Theme color 1
	-----------------------  */
	.menu_box .main-nav-container .menu_box_wrapper .main-menu .menu-item > a,
	.menu_box .main-nav-container .menu_box_wrapper .main-menu .menu-item > .cws_megamenu_item_title,
	.menu_box .main-nav-container .menu_box_wrapper .main-menu .menu-item .button_open{
		color: rgb(#theme-color-1#);
	}

	/*  -----------------------
		Media - Theme color 2
	-----------------------  */
	.menu_box .main-nav-container .menu_box_wrapper .main-menu .menu-item.current-menu-item > a,
	.menu_box .main-nav-container .menu_box_wrapper .main-menu .menu-item.current-menu-ancestor > a{
		color: rgb(#theme-color-2#)
	}
}