/*!
 * Bootstrap v3.3.0 kbd by Serega MoST
 */

kbd{
  font-family: monospace, monospace;
  font-size: 1em;
}

kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}