/*  -------------------
	Search media
-------------------  */
@media(max-width: 1199px){
	.search_menu_wrap{
		.search_menu_cont{
			.search-form{
				.search-field{
					font-size: 38px;
					height: 85px;
				}
			}
		}
	}
}
@media(max-width: 767px){
	.search_menu_wrap{
		.search_menu_cont{
			.search_back_button{
				top: 25px;
				right: 25px;
			}
			.search-form{
				.search-field{
					font-size: 22px;
					height: 60px;
				}
			}
		}
	}
}