/*  -------------------
	Site title media
-------------------  */
@media screen and (max-width: 1199px){
	body.page,
	body.single{
		.page_title{
			.title{
				h1{
					font-size: .7em;
				}
			}
			.bread-crumbs{
				margin-top: 25px;
			}
		}
	}
	.bg_page_header{
		.page_title{
			.title{
				h1{
					font-size: .85em;
				}
			}
		}
	}
}

@media screen and (max-width: 991px){
	body.page,
	body.single{
		.page_title{
			.title{
				h1{
					font-size: .5em;
				}
			}
			.bread-crumbs{
				margin-top: 20px;
			}
		}
	}
	.bg_page_header{
		.page_title{
			.title{
				h1{
					font-size: .65em;
				}
			}
		}
	}
}

@media screen and (max-width: 767px){
	body.page,
	body.single{
		.page_title{
			.title{
				h1{
					font-size: .4em;
				}
			}
			.bread-crumbs{
				margin-top: 15px;
			}
		}
	}
	.bg_page_header{
		.page_title{
			.title{
				h1{
					font-size: .5em;
				}
			}
		}
	}
}