/*  -------------------
	Top bar media
-------------------  */
@media(max-width: 767px){
	.top_bar_wrapper{
		padding: 15px 0;
		display: none;
		.container{
			margin-bottom: -10px;
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(center);
			> * {
				margin-bottom: 10px;
			}
			.top_bar_content{
				text-align: center;
				@include order(1);
				width: 100%;
			}
			.social_links_wrapper{
				@include order(2);
				&.toogle-of{
					.social-btn-open-icon,
					.social-btn-open{
						display: none;
					}
					.cws_social_links{
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
						position: relative;
						padding: 0;
						&:after{
							display: none;
						}
						&.social-divider{
							&:before{
								display: none;
							}
						}
						&.active{
							left: 0;
							right: 0;
							.cws_social_link{
								z-index: auto;
							}
						}
						.cws_social_link{
							opacity: 1;
							@include transform(translateX(0));
							&:first-child{
								margin-left: 8px;
							}
							&:last-child{
								margin-right: 8px;
							}
						}
					}
				}
			}
			.mini-cart{
				@include order(3);
				margin: 0 8px 10px;
			}
			.top_bar_search{
				@include order(4);
				margin: 0 8px 10px;
			}
			.side_panel_icon_wrapper{
				@include order(5);
				margin: 0 8px 10px;
			}
			.top_bar_links_wrapper{
				width: 100%;
				@include order(6);
				-webkit-justify-content: center;
				   -moz-justify-content: center;
				    -ms-justify-content: center;
						justify-content: center;
				.top_bar_box_text{
					&:not(:first-child){
						margin-left: 15px;
					}
				}
			}
		}
	}
}