/*  --------------------
	CWS-Section-Overlay
--------------------  */
.elementor-section{
	.elementor-background-overlay-cws{
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
		}
		&:after{
			z-index: 1;
			pointer-events:none;
		}
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

