/*  --------------------
	CWS-Benefits Module
--------------------  */
.elementor-widget-cws_benefits{
	.elementor-widget-container{
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 3%;
			width: 100%;
			height: 104%;
			opacity: 0;
			visibility: hidden;
			background-color: rgba(255,255,255, 1);
			@include border-radius(5px);
			@include box-shadow(0 0 20px 0 rgba(32,141,226,.5));
		}
		&.active,
		&:hover{
			&:before{
				top: -2%;
				opacity: 1;
				visibility: visible;
				@include transition(opacity .2s linear, top .2s linear);
			}
			.cws_benefits_item{
				.benefits_icon_wrapper{
					&:before,
					&:after{
						opacity: 1;
						@include transition(opacity .2s ease .15s);
					}
				}
				.benefits_text_wrapper{
					margin-top: 85px;
					@include transition(margin-top .3s ease);
					.benefits_title{
						font-size: 30px !important;
						@include transition(font-size .2s linear .1s, color .2s linear);
					}
					.benefits_divider{
						top: 0;
						opacity: 1;
						@include transition(opacity .15s linear .1s, top .15s linear .1s);
					}
					.benefits_description{
						top: 0;
						opacity: 1;
						@include transition(opacity .15s linear .15s, top .15s linear .15s);
					}
				}
				.benefits_button_wrapper{
					top: 0;
					opacity: 1;
					@include transition(opacity .3s linear, top .25s linear .05s);
					.button{

					}
				}
			}
		}
		.cws_benefits_item{
			position: relative;
			.benefits_icon_wrapper{
				display: inline-block;
				text-align: center;
				position: relative;
				border: 4px solid #000;
				@include border-radius(50%);
				&:before,
				&:after{
					content: '';
					width: 20px;
					height: 20px;
					position: absolute;
					background-color: #fff;
					@include transform(rotate(45deg));
					opacity: 0;
				}
				&:before{
					left: 10%;
					bottom: 10%;
				}
				&:after{
					top: 10%;
					right: 10%;
				}
				i{
					line-height: inherit;
					position: relative;
					z-index: 2;
					&:before{
						font-size: inherit;
					}
				}
			}
			.benefits_text_wrapper{
				margin-top: 0;
				.benefits_title{
					margin: 0;
				}
				.benefits_divider{
					position: relative;
					opacity: 0;
					top: 15px;
					i{
						width: 35px;
						height: 2px;
						display: inline-block;
					}
				}
				.benefits_description{
					position: relative;
					opacity: 0;
					top: 15px;
				}
			}
			.benefits_button_wrapper{
				position: relative;
				opacity: 0;
				top: 35px;
				.button{
					width: 100%;
					display: block;
					text-align: center;
					padding: 20px 15px;
				}
			}
		}
	}
}