/*  --------------------
	CWS-Section-Accordion
--------------------  */
.elementor-section{
	.elementor-cws-accordion{
		&.cws_accordion_init{
			@include flex-direction(column);
		}
		&.uncollapsible{
			>.accordion-item{
				&.active{
					.accordion-header{
						cursor: default;
					}
				}
			}
		}
		>.accordion-item{
			&:last-child{
				&:not(.active) > .accordion-header,
				>.accordion-content{
					border-bottom-width: 0px;
				}
			}
			.accordion-header{
				border-bottom: 1px solid #DDE0E7;
				padding: 10px;
				cursor: pointer;
			}
			>.accordion-content{
				border-bottom: 1px solid #DDE0E7;
				>.elementor-column{
					width: 100%;
				}
			}
		}
	}
}