/*  --------------------
	CWS-Banner Module
--------------------  */
.elementor-widget-cws_banners{
	.elementor-widget-container{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			opacity: 0;
			@include transition(opacity .2s ease);
		}
		&:hover{
			&:before{
				opacity: 1;
			}
		}
		.cws_banners{
			position: relative;
			-webkit-word-wrap: break-word;
					word-wrap: break-word;
			@include flex(row, nowrap, space-between, center);
			&:not(.has_button){
				.banners_body{
					width: 100%;
				}
			}
			.banners_body{
				position: relative;
				p{
					&:not(:last-child){
						margin-bottom: 1em;
					}
				}
				.banners_title_wrapper{
					.banners_title{
						margin-bottom: .6em;
					}
					&.has_divider{
						.banners_title{
							margin-bottom: 10px;
						}
					}
				}
				.banner-divider{
					height: 2px;
					width: 35px;
					margin-bottom: 10px;
					font-size: inherit;
					display: inline-block;
				}
				.banners_content{
					&:not(.last-child){
						margin-bottom: 1em;
					}
					p{
						line-height: 1.5;
						margin: 0;
					}
				}
			}
			.banner_button{
				.button{
					margin-top: 0;
					display: inline-block;
					white-space: nowrap;
					border-style: solid;
					border-width: 2px;
					@include transition(all .2s ease);
				}
			}
		}
	}
}

@media(min-width: 1200px){
	.elementor-widget-cws_banners{
		.elementor-widget-container{
			.cws_banners{
				&.has_button{
					&.desktop_float-row,
					&.desktop_float-row-reverse{
						.banners_body{
							width: 70%;
						}
					}
					&.desktop_float-column{
						.banners_body,
						.banner_button{
							width: 100%;
						}
						.banner_button{
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1199px){
	.elementor-widget-cws_banners{
		.elementor-widget-container{
			.cws_banners{
				&.has_button{
					&.tablet_float-row,
					&.tablet_float-row-reverse{
						.banners_body{
							width: 60%;
						}
					}
					&.tablet_float-column{
						.banners_body,
						.banner_button{
							width: 100%;
						}
						.banner_button{
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 767px){
	.elementor-widget-cws_banners{
		.elementor-widget-container{
			.cws_banners{
				&.has_button{
					&.mobile_float-row,
					&.mobile_float-row-reverse{
						.banners_body{
							width: 50%;
						}
					}
					&.mobile_float-column{
						.banners_body,
						.banner_button{
							width: 100%;
						}
						.banner_button{
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}