/*  --------------------
	CWS-Milestone Module
--------------------  */
.cws_milestone{
	.cws_milestome_main{
		display: inline-block;
	}
	.cws_milestone_wrapper{
		@include flex(row, nowrap, flex-start, center);
		.cws_milestone_title{
			margin: 0;
			font-weight: 400;
		}
		.cws_milestome_icon_wrapper,
		.cws_milestome_info,
		.cws_milestone_number{
			margin: 8px;
		}
		.cws_milestone_desc{
			&:not(:first-child){
				margin-top: 5px;
			}
		}
		.cws_milestone_number{
			font-weight: 500;
			line-height: 0.75;
			&.odometer{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				.odometer-digit{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					.odometer-digit-spacer{
						display: inline-block;
						vertical-align: middle;
						visibility: hidden;		
					}
					.odometer-digit-inner{
						text-align: left;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						overflow: hidden;
						.odometer-ribbon{
							display: block;
							.odometer-ribbon-inner{
								display: block;
								-webkit-backface-visibility: hidden;
								.odometer-value{
									text-align: center;
									display: block;
									@include transform(translateZ(0));
									&.odometer-last-value{
										position: absolute;
									}
								}
							}
						}						
					}
				}
				&.odometer-animating-up{
					.odometer-ribbon-inner{
						@include transition(transform 2s);
					}
					&.odometer-animating{
						.odometer-ribbon-inner{
							@include transform(translateY(-100%));
						}
					}
				}
			}
		}
	}
}

@media(min-width: 1200px){
	.cws_milestone{
		.cws_milestone_wrapper{
			.cws_milestome_info{
				&.align-left_desktop{
					text-align: right;
				}
				&.align-center_desktop{
					text-align: center;
				}
				&.align-right_desktop{
					text-align: left;
				}
			}
		}
	}
}
@media(max-width: 1199px){
	.cws_milestone{
		.cws_milestone_wrapper{
			.cws_milestome_info{
				&.align-left_tablet{
					text-align: right;
				}
				&.align-center_tablet{
					text-align: center;
				}
				&.align-right_tablet{
					text-align: left;
				}
			}
		}
	}
}
@media(max-width:767px){
	.cws_milestone{
		.cws_milestone_wrapper{
			.cws_milestome_info{
				&.align-left_mobile{
					text-align: right;
				}
				&.align-center_mobile{
					text-align: center;
				}
				&.align-right_mobile{
					text-align: left;
				}
			}
		}
	}
}