/*  --------------------
	CWS-Section-Patterns
--------------------  */
.elementor-section{
	>.elementor-background-patterns-cws{
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		pointer-events: none;
		z-index: 1;
		~ .elementor-container{
			.elementor-column{
				.elementor-column-wrap{
					> .elementor-widget-wrap{
						z-index: 2;
					}
				}
			}
		}
		.cws_parallax_section{
			width: 100%;
			height: 100%;
			position: absolute !important;
			.layer{
				height: 100%;
			}		
		}
		.cws-background-pattern{
			height: 100%;
			width: 100%;
			position: absolute;
			img{
				@include transform(translate(-50%,-50%));
			}
		}
	}
}

@media(min-width: 1200px){
	.elementor-section{
		&.cws-pattern-hidden-desktop{
			.elementor-background-patterns-cws{
				display: none;
			}
		}
	}
}
@media screen and (max-width: 1199px) and (min-width: 768px){
	.elementor-section{
		&.cws-pattern-hidden-tablet{
			.elementor-background-patterns-cws{
				display: none;
			}
		}
	}
}
@media(max-width:767px){
	.elementor-section{
		&.cws-pattern-hidden-phone{
			.elementor-background-patterns-cws{
				display: none;
			}
		}
	}
}