/*  --------------------
	CWS-Text Module
--------------------  */
.elementor-widget-cws_text{
	.cws_textmodule{
		&.has_icon{
			.cws_textmodule_content_wrapper{
				.title_wrapper{
					.flex-title{
						@include flex(row, nowrap, flex-start, center);
					}
				}
			}
		}
		.cws_textmodule_content_wrapper{
			.widgetsubtitle{
				margin: 0;
				font-weight: 400;
			}
			.title_wrapper{
				display: inline-block;
				.widgettitle{
					margin: 0;
				}
			}
			.text-divider{
				display: inline-block;
				width: 35px;
				height: 2px;
				background-color: black;
			}
		}
	}
}