/*  --------------------
	CWS-Button Module
--------------------  */

@media(min-width: 1200px){
	.elementor-widget-button{
		.elementor-widget-container{
			.elementor-button-wrapper{
				.elementor-button{
					&.elementor-size-xs{
						padding: 10px 20px;
					}
					&.elementor-size-sm{
						padding: 12px 30px;
					}
					&.elementor-size-md{
						padding: 17px 43px;
					}
					&.elementor-size-lg{
						padding: 20px 77px;
					}
					&.elementor-size-xl{
						padding: 25px 100px;
					}
				}
			}
		}
	}
}
@media(max-width: 1199px){
	.elementor-widget-button{
		.elementor-widget-container{
			.elementor-button-wrapper{
				.elementor-button{
					&.elementor-size-xs{
						padding: 10px 18px;
					}
					&.elementor-size-sm{
						padding: 12px 25px;
					}
					&.elementor-size-md{
						padding: 17px 30px;
					}
					&.elementor-size-lg{
						padding: 20px 40px;
					}
					&.elementor-size-xl{
						padding: 20px 50px;
					}
				}
			}
		}
	}
}
@media(max-width:767px){
	.elementor-widget-button{
		.elementor-widget-container{
			.elementor-button-wrapper{
				.elementor-button{
					&.elementor-size-xs{
						padding: 10px 15px;
					}
					&.elementor-size-sm{
						padding: 12px 20px;
					}
					&.elementor-size-md{
						padding: 17px 25px;
					}
					&.elementor-size-lg{
						padding: 20px 30px;
					}
					&.elementor-size-xl{
						padding: 20px 35px;
					}
				}
			}
		}
	}
}