/*  --------------------
	CWS-Piechart Module
--------------------  */
.elementor-widget-cws_pie_chart{
	.elementor-widget-container{
		.cws_pie_char_wrapper{
			text-align: center;
			.cws_pie_char_circle{
				display: inline-block;
				position: relative;
				min-height: 200px;
				.cws_pie_char_value{
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					font-weight: 500;
					font-size: 50px;
				}
			}
			.cws_pie_char_title{
				display: block;
				margin-top: 15px;
				font-weight: 500;
				font-size: 22px;
			}
		}
	}
}

@media(max-width: 767px){
	.elementor-widget-cws_pie_chart{
		.elementor-widget-container{
			.cws_pie_char_wrapper{
				.cws_pie_char_circle{
					min-height: 100px;
					.cws_pie_char_value{
						font-size: 26px;
					}
				}
				.cws_pie_char_title{
					margin-top: 5px;
					font-size: 18px;
				}
			}
		}
	}
}