/*  --------------------
	CWS-Image
--------------------  */
.elementor-widget-image{
	.elementor-image{
		font-size: 0px;
		line-height: 0px;
		border-radius: inherit;
		.elementor-image-wrapper{
			border-radius: inherit;
			position: relative;
			display: inline-block;
			img{
				border-radius: inherit;
				width: 100%;
			}
			.elementor-image-overlay{
				border-radius: inherit;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
			}
		}
	}
}