/*  --------------------
	CWS-Progress Bar Module
--------------------  */
.elementor-widget-progress{
	.elementor-widget-container{
		.elementor-title{
			overflow: hidden;
		}
		.elementor-progress-wrapper{
			margin-top: 10px;
			min-height: 10px;
			line-height: 0;
			height: auto;
			@include border-radius(4px);
			.elementor-progress-bar{
				min-height: 10px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
				.elementor-progress-text{
					line-height: 30px;
				}
				.elementor-progress-percentage{
					position: relative;
					padding-left: 150px; //Сan be solved using a script.
					top: -20px;
					color: #000;
					font-size: 18px;
					padding-right: 0;
				}
			}
		}
	}
}