/*  --------------------
	CWS-Message-Box Module
--------------------  */
.elementor-widget-alert{
	.elementor-widget-container{
		.elementor-alert{
			position: static;
			padding-right: 10%;
			border-radius: inherit;
			padding: 15px 25px;
			color: #fff;
			&.elementor-alert-info{
				background-color: #2D74D3;
			}
			&.elementor-alert-success{
				background-color: #37C458;
			}
			&.elementor-alert-warning{
				background-color: #EC2B2B;
			}
			&.elementor-alert-danger{
				background-color: #FCB315;
			}
			.icon-wrapper{
				position: absolute;
				left: 25px;
				top: 50%;
				@include transform(translateY(-50%));
			}
			.elementor-alert-dismiss{
				height: 100%;
				width: 10%;
				top: 0;
				right: 0;
				margin: 0;
				padding: inherit;
				.close-button{
					position: absolute;
					right: 25px;
					top: 50%;
					@include transform(translateY(-50%));
					width: 30px;
					height: 30px;
					line-height: 30px;
					@include border-radius(50%);
					background-color: #fff;
					color: #000;
				}
			}
		}
	}
}

@media(max-width: 767px){
	.elementor-widget-alert{
		.elementor-widget-container{
			.elementor-alert{
				padding-right: 60px;
				.icon-wrapper{
					left: 15px;
				}
				.elementor-alert-dismiss{
					width: 60px;
					.close-button{
						right: 15px;
					}
				}
			}
		}
	}
}