/*  -------------------
	Logo box styles
-------------------  */
.logo_box{
	.container{
		.logo_mobile{
			display: none;
		}
	}
}

/* -----> Addiction from header classes <----- */
.site_header{
	&.logo-left{
		.logo_box{
			.container{
				@include justify-content(flex-start);
			}
		}
	}
	&.logo-center{
		.logo_box{
			.container{
				@include justify-content(center);
			}
		}
	}
	&.logo-right{
		.logo_box{
			.container{
				@include justify-content(flex-end);
			}
		}
	}
}

