/*  -------------------
	Search styles
-------------------  */
.search_menu_wrap{
	position: fixed;
	top: 0; right: 0;
	width: 100vw; height: 100vh;
	z-index: 99;
	overflow: visible;
	display: none;
	background-color: #fff;
	.search_menu_cont{
		width: inherit;
		height: inherit;
		.search_back_button{
			position: absolute;
			top: 40px; right: 40px;
			width: 40px; height: 40px;
			text-align: center;
			cursor: pointer;
			z-index: 1;
			&:hover{
				&:before{
					@include transform(rotate(90deg));
				}
			}
			&:before{
				content: '\f00d';
				font-family: 'FontAwesome';
				font-size: 20px;
				position: absolute;
				right: 0;
				width: 40px; height: 40px;
				line-height: 40px;
				@include transition(all .2s ease 0s);
				color: #d8d8d8;
			}
		}
		.container{
			height: inherit;
		}
		.screen-reader-text,
		.search-submit{
			display: none;
		}
		.search-form{
			width: calc(100% - 100px);
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			z-index: 1;
			.search-wrapper{
				position: relative;
			}
			.search-field{
				width: 100%;
				height: 120px;
				font-size: 50px;
				position: relative;
				background-color: #fff;
				border: none;
				padding: 7px 0;
				color: #797979;
				border-bottom: 2px solid #d8d8d8;
				@include border-radius(0);
				@include transition(all .3s cubic-bezier(.09,.79,.25,.98));
			}
		}
	}
}