/*  -------------------
	Sticky header
-------------------  */
body.admin-bar{
	.sticky_enable{
		&.sticky_smart{
			top: 32px;
		}
	}
}
body.browserIE,
body.browserSafari{
	.sticky_enable{
		&.sticky_active{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								.menu_logo_part{
									.logo{
										.logo_default_wrapper{
											@include transform(rotateX(0));
											display: none;
										}
										.logo_sticky_wrapper{
											@include transform(rotateX(0) translateY(0));
											display: inline-block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.header_container{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.logo{
								.logo_wrapper{
									backface-visibility: visible;
								}
								.logo_default_wrapper{
									z-index: 2;
								}
								.logo_sticky_wrapper{
									z-index: 1;
									@include transform(rotateX(0) translateY(0));
									display: none;
									position: relative;
									top: 0;
									left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
.sticky_enable{
	&.sticky_simple{
		&.sticky_active{
			.header_container{
				.menu_box{
					.container{
						.header_nav_part{
							.main-nav-container{
								.logo{
									.logo_default{
										@include transition(transform .15s linear);
									}
									.logo_sticky{
										@include transition(top .15s linear .15s);
									}
								}
							}
						}
					}
				}
			}
		}
		.header_container{
			.top_bar_wrapper{
				position: relative;
				z-index: 11;
			}
			.menu_box{
				@include transition(background-color .2s ease, border-bottom .2s ease, border-top .2s ease, top .7s ease);
				position: fixed;
				top: -200px;
				left: 0;
				width: 100%;
				z-index: 10;
				&.visible-sticky{
					top: 0;
				}
				.container{
					.header_nav_part{
						.main-nav-container{
							@include transition(padding .2s linear);
							.logo{
								.logo_default{
									@include transition(transform .15s linear .15s);
								}
								.logo_sticky{
									@include transition(top .15s linear);
								}
							}
						}
					}
				}
			}
		}
	}
	&.sticky_smart{
		position: fixed;
		width: 100%;
		z-index: 10;
		left: 0;
		top: 0;
		.menu_box{
			.logo{
				.logo_default{
					@include transition(transform .15s linear .1s);
				}
				.logo_sticky{
					@include transition(top .15s linear);
				}
			}
		}
	}
	&.sticky_active{
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						.menu_box_wrapper{
							.menu_logo_part{
								.logo{
									.logo_default_wrapper{
										@include transform(rotateX(180deg));
									}
									.logo_sticky_wrapper{
										@include transform(rotateX(0deg) translateY(-50%));
										z-index: 3;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.sticky_shadow{
		.menu_box{
			@include box-shadow(0px 0px 15px 2px rgba(0,0,0,.0));
		}
		&.sticky_active{
			.menu_box{
				@include box-shadow(5px 0px 15px 2px rgba(0,0,0,.25));
			}
		}
	}
	.header_container{
		.menu_box{
			@include transition(background-color .2s ease, border-bottom .2s ease, border-top .2s ease, box-shadow .2s ease);
			.container{
				.header_nav_part{
					.main-nav-container{
						@include transition(padding .2s linear);
						.logo{
							.logo_wrapper{
								@include transition(all .3s ease-in-out);
								backface-visibility: hidden;
							}
							.logo_default_wrapper{
								z-index: 2;
							}
							.logo_sticky_wrapper{
								z-index: 1;
								@include transform(rotateX(180deg) translateY(-50%));
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}