/*  --------------------
	Woocommerce media styles
--------------------  */
@media(max-width: 1199px){
	.site-main{
		> .products{
			&.columns-4{
				.product{
					width: 33.3%;
				}
			}
		}
	}
}
@media(max-width: 991px){
	.products{
		> .products{
			&.columns-3,
			&.columns-4{
				.product{
					width: 50%;
				}
			}
		}	
	}
	.woocommerce{
		.product{
			.woocommerce-tabs{
				.tabs{
					li{
						a{
							padding: 20px 40px 15px;
						}
					}
				}
			}
		}
	}
}
@media(max-width: 767px){
	.woo_panel{
		margin-bottom: 25px;
		.woocommerce-result-count,
		.woocommerce-ordering{
			margin-bottom: 10px;
		}
		.woocommerce-ordering{
			width: 100%;
			.orderby{
				width: 100%;
			}
		}
	}
	.products{
		.product{
			margin-bottom: 25px;
		}
	}
	.site-main{
		> .products{
			&.columns-3,
			&.columns-4{
				.product{
					width: 50%;
				}
			}
		}	
	}
	.woocommerce{
		.product{
			.woocommerce-product-gallery{
				max-width: 100%;
				float: none;
				margin-bottom: 45px;
				&:after{
					display: none;
				}
			}
			.summary{
				margin-bottom: 55px;
				padding-left: 0;
				width: 100%;
				float: none;
				&:after{
					display: none;
				}
				.cart{
					margin-top: 25px;
					&.variations_form{
						.single_variation_wrap{
							margin-top: 25px;
						}
					}
				}
			}
			.woocommerce-tabs{
				.tabs{
					-webkit-flex-wrap: wrap;
					-moz-flex-wrap: wrap;
					flex-wrap: wrap;
					li{
						width: 100%;
						text-align: center;
						a{
							padding: 10px 20px;
							font-size: 18px;
							display: block;
						}
					}
				}
				.panel{
					padding: 15px 20px;
				}
			}
			.related.products,
			.upsells.products{
				margin-top: 45px;
				padding-top: 35px;
			}
		}
	}
	.woocommerce-cart-form{
		@include clearfix();
		.shop_table{
			display: block;
			border: 0;
			thead{
				display: none;
			}
			tbody{
				display: block;
				.cart_item{
					border: 0;
					display: block;
					position: relative;
					@include clearfix();
					padding-bottom: 5px;
					td{
						padding: 0;
					}
					.product-thumbnail{
						width: 25%;
						margin-right: 15px;
						float: left;
					}
					.product-name{
						width: 65%;
						float: left;
						font-size: 18px;
						padding-bottom: 10px;
					}
					.product-quantity{
						width: 20%;
						input{
							width: 100%;
							padding: 2px 5px;
							font-size: 14px;
						}
					}
					.product-subtotal{
						font-weight: 700;
						text-align: right;
					}
					.product-remove{
						position: absolute;
						line-height: 23px;
						right: 0;
						top: 0;
					}
				}
			}
			.actions{
				padding: 0;
				display: block;
				margin-top: 20px;
			}
			.coupon{
				width: 100%;
				.input-text{
					width: 100%;
					margin-right: 15px;
					font-size: 14px;
				}
				.button{
					padding: .48em 2.15em;
				}
			}
			.button[name="update_cart"]{
				padding: .48em 2em;
				margin-top: 15px;
				width: 100%;
			}
		}	
	}
	.cart-collaterals{
		width: 100%;
		margin-top: 15px;
		.cart_totals{
			width: 100%;
			h2{
				padding-left: 0;
			}
			.shop_table{
				th, td{
					padding: 10px 0;
				}
				td{
					text-align: right;
				}
			}
		}
		.checkout-button{
			width: 100%;
			text-align: center;
			margin-top: 0;
		}
	}
	.woocommerce-info{
		-webkit-flex-wrap: wrap;
		   -moz-flex-wrap: wrap;
				flex-wrap: wrap;
		.showcoupon{
			margin-top: 5px;
		}
	}
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info{
		padding: 10px;
	}
	.woocommerce-checkout{
		input,
		textarea{
			font-size: 15px;
		}
	}
}
@media(max-width: 479px){
	.site-main{
		> .products{
			&.columns-2,
			&.columns-3,
			&.columns-4{
				.product{
					width: 100%;
				}
			}
		}
	}
	.products{
		> .products{
			&.columns-2,
			&.columns-3,
			&.columns-4{
				.product{
					width: 100%;
				}
			}
		}	
	}
}