/*  --------------------
	Woocommerce grid
--------------------  */
.woo_panel{
	@include flex(row, wrap, space-between, center);
	margin-bottom: 35px;
	position: relative;
	.woocommerce-result-count{
		margin: 0;
		font-size: 16px;
		color: #000;
	}
	.woocommerce-ordering{
		.orderby{
			border-color: #DDDDDD;
			padding: 0 45px 0 10px;
			color: #898989;
		}
	}
}

.products{
	@include flex(row, wrap, flex-start, stretch);
	&:not(.related){
		margin: 0 -15px;
	}
	&.columns-4{
		.product{
			width: 25%;
		}
	}
	&.columns-3{
		.product{
			width: 33.3%;
		}
	}
	&.columns-2{
		.product{
			width: 50%;
		}
	}
	.product{
		margin-bottom: 40px;
		padding: 0 15px;
		.cryptop_shop_loop_item_content_wrapper{
			@include transition(box-shadow .2s linear);
			@include border-radius(5px);
			padding-bottom: 20px;
			&:hover{
				@include box-shadow(0px 0px 10px 2px rgba(0,0,0,.15));
				.woo_product_post_media{
					.woo_products_media_side_links{
						right: 10px;
						opacity: 1;
					}
					.cws_star-rating{
						bottom: 0px;
						opacity: 1;
						@include box-shadow(0 -3px 8px 0 rgba(0,0,0,.15));
					}
				}
			}
			.woo_product_post_media{
				position: relative;
				overflow: hidden;
				.woo_banner_wrapper{
					position: absolute;
					z-index: 1;
					left: 10px;
					top: 10px;
					.woo_banner{
						&.sale_bunner{
							width: 60px;
							height: 60px;
							line-height: 58px;
							text-align: center;
							@include border-radius(50%);
							.woo_banner_text{
								color: #fff;
								text-transform: lowercase;
								font-size: 17px;
							}
						}
					}
				}
				.pic{
					font-size: 0px;
					img{
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
					}
				}
				.woo_products_media_side_links{
					position: absolute;
					right: -50px;
					top: 10px;
					margin: 5px 0;
					overflow: hidden;
					background-color: #fff;
					@include border-radius(4px);
					@include box-shadow(0 0 10px 1px rgba(0,0,0,.15));
					@include transition(right .25s ease, opacity .2s ease);
					li{
						&:first-child{
							a{
								padding-bottom: 6px;
								&.added_to_cart{
									padding-bottom: 8px;
								}
							}
						}
						&:last-child{
							a{
								padding-top: 6px;
							}
						}
						a{
							display: block;
							padding: 8px;
							&:before{
								font-size: 22px;
								display: inline-block;
							}
							&.button{
								position: relative;
								background-color: transparent;
								border: none;
								margin: 0;
								left: 0;
								@include border-radius(0);
								@include transition(all .25s ease);
								&:before{
									content: '\f113';
									font-family: 'cwsicon';
								}
							}
							&.product_type_variable{
								&:before{
									content: '\f11f';
								}
							}
							&.add_to_cart_button{
								&.loading{
									left: -50px;
									opacity: 0;
								}
								&.added{
									display: none;
								}
							}
							&.added_to_cart{
								font-size: 0px;
								text-align: center;
								&:before{
									content: '\f197';
									font-family: 'cwsicon';
									display: inline-block;
									font-size: 21px;
								}
							}
							&.cws_product_link{
								&:before{
									content: '\f117';
									font-family: 'cwsicon';
								}
							}
						}
					}
					.woocommerce-product-details__short-description{
						display: none;
					}
				}
				.cws_star-rating{
					position: absolute;
					left: 50%;
					bottom: -30px;
					padding: 5px 15px 0;
					background-color: #fff;
					@include transform(translateX(-50%));
					@include transition(bottom .25s ease, opacity .2s ease, box-shadow .25s ease);
					&:empty{
						display: none;
					}
				}
			}
			.woo_product_post_title{
				text-align: center;
				margin: 15px 0;
				line-height: initial;
				font-size: 22px;
				font-weight: 500;
				a{
					color: #000000;
				}
			}
			.cryptop_after_shop_loop_item_title_wrapper{
				text-align: center;
				.price{
					font-size: 22px;
					font-weight: 500;
					.amount{
						.woocommerce-Price-currencySymbol{
							vertical-align: super;
							font-size: 14px;
							position: relative;
							top: 2px;
							right: 3px;
						}
					}
					ins{
						padding: 0;
					}
					del{
						margin-right: 5px;
						font-size: 18px;
						color: #b3b3b3;
						font-weight: 400;
					}
				}
			}
		}
	}
}