footer {  
  position: fixed;  
  bottom: 0px;  
   
  width: 100%;
  text-align: center;
}

@font-face {
  font-family:'Most';
  src: url('../fonts/Most.ttf');
}

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('../fonts/SignPainter-HouseScript2.woff');
}

.most-text{
  font-family: 'Most';
  
}

.page-header {
  text-align: center;
  font-family: "SignPainter-HouseScript", "PT Sans Narrow", sans-serif;
  border-bottom: 1px solid #eeeeee;
}

table td{
  vertical-align: middle !important;
  /*color: red;*/
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}