.most{
color:white;
}

.user{
font-size: 15px;
padding-top: 8px;
color:white;
}

.post{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #5b5b5a;

height: 100%;

border: 1px solid white; /*#B3B3B3*/ /*#eee*/
margin-bottom: 10px;
background: white;
-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

.post h1{
    min-width: 206px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 12px 12px;
    background: #de4a4a;
    color: white;
    border: 0;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    outline: 0;
    margin: 10px;
}

.post h1:hover{
    background:#c64545;
    color:#fff
}

.post h2{
  font-family: inherit;
  font-size: 36px;

}

.post h3{
  font-family: inherit;
  font-size: 30px;
  margin: 2px 0 13px 0;
}

.post p{
  font-family: inherit;
  font-size: 12px;
  font-style: italic;
  color: #a2a2a2;
}

#page {
/*width: 100%;*/
width:640px;
margin: 10px auto;
}



/*элементы левой панели*/
.left_panel {
margin-left:-550px; /*обязательное свойство*/
padding:10px; 
width:500px; 
position:fixed; /*обязательное свойство*/
top:50px; /*обязательное свойство*/
left:0; /*обязательное свойство*/
background: #1B1B1B;
//border: 1px solid #E5E5E5;
z-index: 99;
color: white;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

label.open {
width:30px;
height:30px;
//color: white;
margin: 5px;
}	


/*Slide Notification*/
.message
{
		-webkit-background-size: 40px 40px;
		-moz-background-size: 40px 40px;
		background-size: 40px 40px;			
		background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
								color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
								to(transparent));
		background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
								
		 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 width: 100%;
		 border: 1px solid;
		 color: #fff;
		 padding: 15px;
		 position: fixed;
		 _position: absolute;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 /*-webkit-animation: animate-bg 5s linear infinite;
		 -moz-animation: animate-bg 5s linear infinite;*/
		 z-index: 9999;
}

.info
{
		 background-color: #4ea5cd;
		 border-color: #3b8eb5;
}

.error
{
		 background-color: #de4343;
		 border-color: #c43d3d;
}
		 
.warning
{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success
{
		 background-color: #61b832;
		 border-color: #55a12c;
}

.message h3
{
		 margin: 0 0 5px 0;													 
}

.message p
{
		 margin: 0;													 
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}




/*Slide Alerts*/
.alert-box {
	padding: 19px 15px;
	margin: 0px 0px 20px 0px;
	color: #fefefe;
	position: relative;
	font: 14px/20px Museo300Regular, Helvetica, Arial, sans-serif;
}
.alert-box .msg { padding: 0 20px 0 40px; }
.alert-box p { margin: 0;}
.alert-box .toggle-alert {
	position: absolute;
	top: 7px;
	right: 10px;
	display: block;
	text-indent: -10000px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
	background: rgba(0, 0, 0, 0.08) url(../img/alert.png) no-repeat 6px 6px;


}
.info-box {		background: #2fa9f6 url(../img/info.png) no-repeat 14px 14px;}
.success-box {	background: #7EB62E url(../img/success.png) no-repeat 14px 14px;}
.error-box {	background: #f64b2f url(../img/error.png) no-repeat 14px 14px;}
.warning-box {	background: #f6ca2f url(../img/warning.png) no-repeat 14px 14px;}
.download-box {	background: #a555ca url(../img/download.png) no-repeat 14px 14px;}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

/*Стрелка Вверх*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 5%;
    right: 1%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: medium none;
    z-index: 100;
}

/* Image style */
#scrollUp {
	bottom: 30px;
	right: 20px;
	

	width:40px; /* Width of image */
	height: 40px;  /* Height of image */
	background: url(../../img/top.png) no-repeat;
}