/*  ====================
	Header styles
====================  */
body.admin-bar{
	top: 32px;
	.header_wrapper{
		&.header_outside_slider{
			top: 32px;
		}
	}
}
.header_wrapper{
	&.header_outside_slider{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 6;
		width: 100%;
	}
}
.site_header{
	.container{
		@include flex(row, nowrap, space-between, center);
	}
}
.header_zone{
	position: relative;
	.header_overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.bg_page_header{
	position: relative;
	.page_title{
		position: relative;
		z-index: 1;
	}
	.stat_img_cont,
	.bg_layer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
/*  -------------------
	Header icons
-------------------  */
.search_icon{
	position: relative;
	cursor: pointer;
	z-index: 2;
	@include transition(color .3s ease);
	&:before{
		content: '\f11a';
		font-family: 'cwsicon';
		font-size: 21px;
	}
}

.side_panel_icon_wrapper{
	position: relative;
	.side_panel_trigger{
		display: inline-block;
		&:before{
			content: '\f11d';
			font-family: 'cwsicon';
			font-size: 21px;
		}
	}
}

@import "_logo-box";

@import "_menu-box";

@import "_search";

@import "_top-bar";

@import "_site-title";

@import "../cws/_cws-icons";

@import "_side-panel";

@import "_sticky-header";