/*  -------------------
	Menus styles
-------------------  */
.menu_box{
	position: relative;
	.container{
		.header_nav_part{
			width: 100%;
			.main-nav-container{
				@include flex(row, nowrap, space-between, center); //Change align items on CENTER
				.mobile_menu_hamburger{
					position: relative;
					height: 24px;
					width: 24px;
					cursor: pointer;
					&.active{
						.hamburger_icon{
							@include transform(translateX(-50%) rotate(135deg));
							&:before,
							&:after{
								width: 50%;
							}
							&:before{
								top:0;
    							@include transform(translateX(100%) rotate(-90deg));
							}
							&:after{
								bottom:0;
    							@include transform(translateX(-100%) rotate(-90deg));
							}
						}
					}
					.hamburger_icon{
						height: 2px;
						width: inherit;
						position: absolute;
						top: 10px;
						left: 50%;
						@include transform(translateX(-50%) rotate(0deg));
						@include border-radius(4px);
						@include transition(top .3s linear, bottom .3s linear, transform .3s linear, width .3s linear, background-color .2s ease);
						&:before,
						&:after{
							content: '';
							position: absolute;
							height: inherit;
							width: 100%;
							background-color: inherit;
							margin: auto;
							@include transition(top .3s linear, bottom .3s linear, transform .3s linear, width .3s linear);
							@include border-radius(5px);
						}
						&:before{
							top: -8px;
							left: 0;
							transform-origin: left;
						}
						&:after{
							bottom: -8px;
							right: 0;
							transform-origin: right;
						}
						&.active{
							transform:translate(-50%,-50%) rotate(135deg);
							&:before{
								top:0;
    							@include transform(translateX(100%) rotate(-90deg));
							}
							&:after{
								bottom:0;
    							@include transform(translateX(-100%) rotate(-90deg));
							}
						}
					}
				}
				.logo_mobile_wrapper{
					display: none;
				}
				.menu_left_icons{
					@include flex(row, nowrap, flex-start, center);
					> *:last-child{
						margin-right: 50px;
					}
					> *:not(:first-child) {
						margin-left: 20px;
					}
					.mobile_menu_hamburger{
						width: 0px;
						margin-right: -20px;
						&:last-child{
							margin-right: 0;
						}
					}
					.mini-cart{
 						right: auto;
						left: 0;
					}
				}
				.menu_box_wrapper{
					width: 100%;
					@include flex(row, nowrap, space-between, center); //Change align items on CENTER
					.menu_logo_part{
						position: relative;
						.logo{
							display: inline-block;
							font-size: 0;
							.logo_sticky_wrapper{
								display: none;
								position: relative;
							}
							.logo_default_wrapper{
								position: relative;
								display: inline-block;
							}
						}
					}
					.no-split-menu{
						width: 100%;
						@include flex(row, nowrap, initial, center);
					}
					.main-menu{
						@include flex(row, wrap, flex-start, center);
						> .menu-item{
							&:not(:last-child){
								margin-right: 55px;
							}
							&.menu-item-object-megamenu_item,
							&.menu-item-has-children{
								> .cws_megamenu_item_title,
								> a{
									position: relative;
									padding-right: 18px;
									margin-right: -18px;
									&:after,
									&:before{
										content: '\f12c';
										font-family: 'cwsicon';
										display: inline-block;
										position: absolute;
										font-size: 8px;
										right: 0px;
										top: 4px;
										@include transform(rotate(180deg));
									}
									&:before{
										@include transition(top .2s linear);
										opacity: .5;
									}
									&:hover{
										&:before{
											top: 9px;
										}
									}
								}
							}
						}
						.menu-item{
							position: relative;
							&.menu-item-object-megamenu_item{
								> .sub-menu{
									&:after{
										display: none;
									}
								}
							}
							&.sub_align_right{
								> .sub-menu{
									right: -43px;
									left: auto;
									&:after{
										right: 52px;
										left: auto;
									}
								}
							}
							a{
								white-space: nowrap;
								display: block;
							}
							.sub-menu{
								position: absolute;
								margin-top: 40px;
								opacity: 0;
								visibility: hidden;
								pointer-events: none;
								left: -25px;
								@include transition(all .2s ease);
								background-color: #fff;
								padding: 20px 0;
								@include border-radius(5px);
								&:before{
									content: '';
									position: absolute;
									left: -3px;
									width: 100%;
									height: calc(100% + 25px);
									top: -25px;
								}
								&:after{
									content: '';
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 8px 8px 8px;
									border-color: transparent transparent #fff transparent;
									position: absolute;
									top: -7px;
									left: 42px;
								}
								.menu-item{
									a{
										@include transition(none);
										padding: 10px 33px 10px 18px;
									}
									.sub-menu{
										margin-top: -20px;
										left: calc(100% + 3px);
										&:after{
											display: none;
										}
									}
								}
								.cws_megamenu_item{
									
								}
							}
							.cws_megamenu_item_title{

							}
						}
					}
				}
				.menu_right_icons{
					@include flex(row, nowrap, flex-end, center);
					> *:first-child{
						margin-left: 50px;
					}
					> *:not(:last-child) {
						margin-right: 20px;
					}
					.mobile_menu_hamburger{
						width: 0px;
						margin-left: -20px;
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

/* -----> Addiction from header classes <----- */
.site_header{
	&.menu-left{
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						.menu_box_wrapper{
							.no-split-menu{
								@include justify-content(flex-start);
							}
						}
					}
				}
			}
		}
	}
	&.menu-center{
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						.menu_box_wrapper{
							.no-split-menu{
								@include justify-content(center);
							}
						}
					}
				}
			}
		}
	}
	&.menu-right{
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						.menu_box_wrapper{
							.no-split-menu{
								@include justify-content(flex-end);
							}
						}
					}
				}
			}
		}
	}
	&.logo-in-menu{
		&.logo-left{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								.menu_logo_part{
									margin-right: 50px;
								}
							}
						}
					}
				}
			}
		}
		&.logo-center{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								@include justify-content(center);
								.menu_logo_part{
									margin: 0 55px;
								}
							}
						}
					}
				}
			}
		}
		&.logo-right{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								.menu_logo_part{
									@include order(2);
									margin-left: 50px;
								}
								.no-split-menu{
									@include order(1);
								}
							}
						}
					}
				}
			}
		}
		&.menu-right{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								@include justify-content(flex-end);
							}
						}
					}
				}
			}
		}
		&.menu-left{
			.menu_box{
				.container{
					.header_nav_part{
						.main-nav-container{
							.menu_box_wrapper{
								@include justify-content(flex-start);
							}
						}
					}
				}
			}
		}
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						.menu_left_icons,
						.menu_right_icons{
							&:empty{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	&.active-sandwich-menu{
		.menu_box{
			.container{
				.header_nav_part{
					.main-nav-container{
						&.active{
							.menu_box_wrapper{
								.main-menu{
									pointer-events: auto;
									> .menu-item{
										top: 0;
										opacity: 1;
									}
								}
							}
						}
						.menu_right_icons{
							.mobile_menu_hamburger{
								width: 24px;
								margin-left: 0;
								&:first-child{
									margin-left: 50px;
								}
							}
						}
						.menu_box_wrapper{
							.menu-left-part{
								.main-menu{
									> .menu-item{
										&:nth-child(2){
											@include transition-delay(.08s);
										}
										&:nth-child(3){
											@include transition-delay(.16s);
										}
										&:nth-child(n+4){
											@include transition-delay(.24s);
										}
									}
								}
							}
							.no-split-menu{
								.main-menu{
									> .menu-item{
										&:nth-child(2){
											@include transition-delay(.08s);
										}
										&:nth-child(3){
											@include transition-delay(.16s);
										}
										&:nth-child(4){
											@include transition-delay(.24s);
										}
										&:nth-child(5){
											@include transition-delay(.32s);
										}
										&:nth-child(n+6){
											@include transition-delay(.4s);
										}
									}
								}
							}
							.menu-right-part{
								.main-menu{
									> .menu-item{
										&:first-child{
											@include transition-delay(.30s);
										}
										&:nth-child(2){
											@include transition-delay(.38s);
										}
										&:nth-child(3){
											@include transition-delay(.46s);
										}
										&:nth-child(n+4){
											@include transition-delay(.52s);
										}
									}
								}
							}
							.main-menu{
								pointer-events: none;
								> .menu-item{
									top: 15px;
									opacity: 0;
									@include transition-property(all);
									@include transition-duration(.2s);
									@include transition-timing-function(linear);
								}
							}
						}
						.menu_left_icons{
							.mobile_menu_hamburger{
								width: 24px;
								margin-right: 0;
								&:last-child{
									margin-right: 50px;
								}
							}
						}
					}
				}
			}
		}
	}
}