/*  -------------------
	Top bar
-------------------  */
.top_bar_wrapper{
	position: relative;
	.container{
		-webkit-align-items: flex-start;
		   -moz-align-items: flex-start;
		    -ms-align-items: flex-start;
				align-items: flex-start;
		.top_bar_icons{
			margin-bottom: -10px;
			> * {
				margin-bottom: 10px;
			}
			&.left_icons{
				@include flex(row, wrap, flex-start, center);
				> * {
					&:not(:last-child){
						margin-right: 20px;
					}
				}
				&:not(:empty){
					margin-right: 20px;
				}
				.social_links_wrapper{
					&.toogle-of{
						.cws_social_links{
							padding-left: 30px;
							&:after{
								left: 0px;
								background: -webkit-linear-gradient(to right, #fff 85%, rgba(255,255,255,.1));
								background: -o-linear-gradient(to right, #fff 85%, rgba(255,255,255,.1));
								background: linear-gradient(to right, #fff 85%, rgba(255,255,255,.1));
							}
							&.social-divider{
								&:before{
									left: 0;
								}
							}
							.cws_social_link{
								@include transform(translateX(-12px));
							}
							&.active{
								left: calc(100% + 20px);
							}
						}
					}
				}
			}
			&.right_icons{
				@include flex(row, wrap, flex-end, center);
				> * {
					&:not(:first-child){
						margin-left: 20px;
					}
				}
				.social_links_wrapper{
					&.toogle-of{
						.cws_social_links{
							right: 0;
							padding-right: 30px;
							-webkit-flex-direction: row-reverse;
							   -moz-flex-direction: row-reverse;
									flex-direction: row-reverse;
								&:after{
									left: -50px;
									right: auto;
									background: -webkit-linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
									background: -o-linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
									background: linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
								}
							&.social-divider{
								&:before{
									right: 0;
									left: auto;
								}
							}
							.cws_social_link{
								@include transform(translateX(12px));
								&:last-child{
									margin-left: 0; //Parent row-reversed
									margin-right: 8px;
								}
								&:first-child{
									margin-right: 0; //Parent row-reversed
									margin-left: 8px;
								}
							}
							&.active{
								right: calc(100% + 20px);
							}
						}
					}
				}
			}
		}
		.top_bar_content{
			// font-size: 12px;
			// text-transform: uppercase;
		}
		.side_panel_icon_wrapper{
			top: 1px;
			// .side_panel_icon_wrapper --> header.scss |- Header icons -|
		}
		.social_links_wrapper{
			position: relative;
			&.toogle-of{
				.cws_social_links{
					opacity: 0;
					position: absolute;
					visibility: hidden;
					pointer-events: none;
					top: 1px;
					&:after{
						content: '';
						position: absolute;
						top: -5px;
						width: calc(100% + 50px);
						height: calc(100% + 10px);
						@include transition(opacity .3s ease);
						opacity: 0;
						z-index: 3;
					}
					&.social-divider{
						&:before{
							content: '';
							position: absolute;
							top: 0;
							height: 100%;
							width: 1px;
							z-index: 4;
							background-color: #e3e3e3;
						}
					}
					.cws_social_link{
						opacity: 0;
					}
					&.active{
						pointer-events: auto;
						visibility: visible;
						opacity: 1;
						&:after{
							opacity: 1;
						}
						.cws_social_link{
							opacity: 1;
							z-index: 4;
							position: relative;
							@include transform(translateX(0px));
							&:first-child{
								@include transition(all .25s linear 0s);
							}
							&:nth-child(2){
								@include transition(all .25s linear .08s);
							}
							&:nth-child(3){
								@include transition(all .25s linear .16s);
							}
							&:nth-child(4){
								@include transition(all .25s linear .24s);
							}
							&:nth-child(n+5){
								@include transition(all .25s linear .32s);
							}
						}
					}
				}
			}
			.social-btn-open-icon{
				position: relative;
				display: inline-block;
				vertical-align: middle;
				&:before{
					font-size: 21px;
					content: '\f112';
					font-family: 'cwsicon';
					display: inline-block;
					margin-right: 10px;
					@include transition(transform .3s ease);
				}
				&.active{
					&:before{
						@include transform(scaleX(-1));
					}
				}
			}
			.social-btn-open{
				position: relative;
				top: 1px;
				cursor: pointer;
				@include transition(color .2s ease);
				vertical-align: middle;
			}
			.cws_social_links{
				-webkit-flex-wrap: nowrap;
				   -moz-flex-wrap: nowrap;
						flex-wrap: nowrap;
				.cws_social_link{
					display: block;
					margin: 0 8px;
					overflow: visible;
					position: relative;
					&:last-child{
						margin-right: 0;
					}
					&:first-child{
						margin-left: 0;
					}
					&:after{
						display: none;
					}
					&:before{
						font-size: 21px;
					}
				}
			}
		}
		.mini-cart{
			top: 1px;
			// .side_panel_icon_wrapper --> woo-tipycal.scss |- Woocommerce mini-cart -|
		}
		.top_bar_search{
			position: relative;
			top: 1px;
			&.show-search{
				.row_text_search{
					display: block;
					right: calc(100% + 20px);
					z-index: 1;
					visibility: visible;
					opacity: 1;
					pointer-events: auto;
					&:before{
						content: '';
						position: absolute;
						left: -60px;
						top: -5px;
						width: calc(100% + 55px);
						height: calc(100% + 10px);
						background: -webkit-linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
						background: -o-linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
						background: linear-gradient(to left, #fff 85%, rgba(255,255,255,.1));
					}
				}
			}
			.row_text_search{
				position: absolute;
				right: 0;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				@include transition(opacity .2s ease, right .15s linear);
				.search-field{
					height: 100%;
					font-size: 14px;
					width: 175px;
					padding: 3px 8px;
					position: relative;
				}
				.search-submit{
					display: none;
				}
			}
			// .search_icon --> header.scss |- Header icons -|
		}
		.top_bar_links_wrapper{
			@include flex(row, wrap, flex-end, center);
			margin-bottom: 0;
			.top_bar_box_text{
				margin-bottom: 10px;
				&:not(:first-child){
					margin-left: 20px;
				}
				i{
					font-size: 17px;
					display: inline-block;
					margin-right: 7px;
					vertical-align: middle;
					width: 22px;
					height: 22px;
					line-height: 22px;
					text-align: center;
					&.fa-phone{
						@include transform(rotate(44deg));
						position: relative;
						margin-right: 5px;
					}
				}
				span{
					vertical-align: middle;
				}
			}
		}
	}
}