/*  --------------------
	Woocommerce single
--------------------  */
.woocommerce{
	.product{
		.woocommerce-product-gallery{
			position: relative;
			max-width: 40%;
			float: left;
			@include clearfix();
			margin-bottom: 105px;
			.woocommerce-product-gallery__trigger{
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 1;
				width: 40px;
				height: 40px;
				background-color: #fff;
				@include border-radius(50%);
				font-size: 0px;
				&:before{
					content: '\f002';
					font-family: 'FontAwesome';
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					font-size: 17px;
					line-height: 16px;
				}
				img{
					opacity: 0;
				}
			}
			.flex-viewport{
				.woocommerce-product-gallery__image{
					@include border-radius(5px);
					font-size: 0px;
				}
			}
			.flex-control-nav{
				font-size: 0px;
				margin: 20px -10px -20px -10px;
				@include flex(row, wrap, flex-start, center);
				li{
					width: 25%;
					padding: 0 10px 20px;
					-webkit-flex-shrink: 0;
							flex-shrink: 0;
					img{
						width: 100%;
						@include border-radius(5px);
					}
				}
			}
		}
		.summary{
			width: 60%;
			float: right;
			padding-left: 60px;
			@include clearfix();
			margin-bottom: 105px;
			.product_title{
				font-size: 35px;
				font-weight: 500;
			}
			.woocommerce-product-rating{
				.rating_reviews_divider{
					margin: 0 5px;
				}
			}
			.price{
				margin: 20px 0 0;
				font-size: 35px;
				font-weight: 500;
				del{
					color: #bbb;
					font-weight: 400;
					font-size: 25px;
				}
			}
			.woocommerce-product-details__short-description{
				margin-top: 30px;
			}
			.cart{
				@include flex(row, nowrap, flex-start, center);
				margin-top: 35px;
				.quantity{
					.input-text{
						width: 100px;
					}
				}
				.single_add_to_cart_button{
					margin: 0 0 0 30px;
					padding: .5em 2.5em;
				}
				&.variations_form{
					display: block;
					.variations{
						margin-bottom: 0;
						tr{
							border-bottom: 0;
							td{
								&:first-child{
									padding-left: 0;
									text-transform: capitalize;
								}
							}
						}
						th, td{
							border: 0;
							background-color: #fff;
						}
						.reset_variations{
							margin-left: 20px;
						}
					}
					.single_variation_wrap{
						margin-top: 35px;
						.variations_button{
							@include flex(row, nowrap, flex-start, center);
							margin-top: 10px;
						}
					}
				}
			}
			.product_meta{
				padding-top: 25px;
				margin-top: 35px;
				border-top: 1px solid #DDDDDD;
				font-size: 16px;
				color: #000;
				.posted_in{
					margin-right: 20px;
				}
			}
		}
		.woocommerce-tabs{
			clear: both;
			.tabs{
				@include flex(row, nowrap, flex-start, center);
				li{
					&.active{
						a{
							background-color: #EEF3F9;
						}
					}
					a{
						display: inline-block;
						font-size: 22px;
						font-weight: 500;
						color: #000;
						padding: 20px 50px 15px;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
					}
				}
			}
			.panel{
				background-color: #EEF3F9;
				padding: 35px 50px;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
				h2{
					display: none;
				}
				> p{
					font-size: 18px;
					line-height: 27px;
					opacity: .6;
				}
				.commentlist{
					margin: 0;
					li{
						list-style-type: none;
						&:not(:last-child){
							margin-bottom: 40px;
						}
						.comment_container{
							@include flex(row, nowrap, flex-start, flex-start);
							img{
								margin-right: 20px;
								@include border-radius(50%);
							}
							.comment-text{
								@include flex(row, wrap, flex-start, center);
								.star-rating{
									@include order(2);
								}
								.meta{
									margin: 0 20px 0 0;
									@include order(1);
									.woocommerce-review__author{
										text-transform: capitalize;
										opacity: .9;
									}
									.woocommerce-review__published-date{
										font-size: 17px;
									}
								}
								.description{
									width: 100%;
									@include order(3);
									p{
										opacity: .8;
										line-height: 27px;
									}
								}
							}
						}
					}
				}
				.comment-respond{
					margin-top: 55px;
					.ce_title{
						font-size: 35px;
						font-weight: 500;
					}
					.comment-form{
						.comment-form-rating{
							margin-top: 15px;
							label{
								color: #000;
							}
							.stars{
								margin-top: 5px;
								&:before{
									font-size: 20px;
								}
								span{
									position: absolute;
									width: 100%;
									height: 100%;
									@include flex(row, nowrap, flex-start, stretch);
									top: 0;
									left: 0;
									margin-top: 0;
									cursor: pointer;
									> a{
										width: 20%;
										position: relative;
										z-index: 2;
									}
									.stars-active{
										font-size: 20px;
									}
								}
							}
						}
						.comment-form-comment{
							margin-top: 15px;
							label{
								color: #000;
							}
						}
					}
				}
			}
		}
		hr{
			display: none;
		}
		.upsells.products{
			margin: 75px 0 0;
			padding-top: 75px;
			position: relative;
			&:not(:last-child){
				margin-bottom: -40px;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%));
				width: 100vw;
				height: 1px;
				background-color: #DDDDDD;
			}
			h2{
				font-size: 35px;
				font-weight: 500;
				margin-bottom: 45px;
			}
		}
		.related.products{
			margin-top: 75px;
			padding-top: 75px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%));
				width: 100vw;
				height: 1px;
				background-color: #DDDDDD;
			}
			.ce_title{
				font-size: 35px;
				font-weight: 500;
				margin-bottom: 45px;
			}
		}
	}
}