/*  --------------------
	Woocommerce typical
--------------------  */
/*  --------------------
	Woocommerce mini-cart
--------------------  */
.mini-cart{
	position: relative;
	&:hover{
		.woo_mini_cart{
			top: calc(100% + 10px);
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
		}
	}
	.woo_icon{
		i{
			position: relative;
			&:before{
				content: '\f113';
				font-family: 'cwsicon';
				font-size: 21px;
				@include transform(scaleX(-1)); //Remove from structure
				display: inline-block;
			}
			span{
				@include border-radius(50%);
				color: #000;
				font-size: 12px;
				width: 15px;
				height: 15px;
				line-height: 16px;
				display: inline-block;
				text-align: center;
				position: absolute;
				left: -7px;
				top: -7px;
			}
		}
	}
	.woo_mini_cart{
		width: 310px;
		padding: 20px;
		background-color: #fff;
		@include box-shadow(0 0 12px rgba(0,0,0,0.1));
		top: calc(100% + 20px);
		pointer-events: none;
		visibility: hidden;
		position: absolute;
		z-index: 10;
		right: 0;
		opacity: 0;
		@include transition(all .2s ease);
		@include border-radius(4px);
		&:before{
			content: '';
			height: 20px;
			width: 100%;
			position: absolute;
			top: -10px;
			left: 0;
		}
		.cart_list{
				.mini_cart_item{
					@include clearfix();
					padding-right: 20px;
					position: relative;
					&:not(:last-child){
						margin-bottom: 15px;
					}
					.remove{
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));
						color: red;
						font-size: 17px;
					}
					a{
						display: block;
						font-size: 16px;
						img{
							max-width: 65px;
							margin-right: 10px;
							float: left;
							position: relative;
							border: 1px solid #efefef;
						}
					}
					.quantity{
						font-size: 15px;
					}
				}
		}
		.total{
			margin-top: 25px;
			@include flex(row, nowrap, space-between, center);
			.amount{
				font-weight: 500;
			}
		}
		.buttons{
			margin-top: -10px;
			@include flex(row, wrap, space-between, center);
			.button{
				margin-top: 0;
				width: calc(50% - 7.5px);
				padding: 5px 0;
				text-align: center;
				color: #fff;
			}
		}
	}
}

/*  --------------------
	Checkout page
--------------------  */
.woocommerce{
	.checkout_coupon{
		margin-top: 20px;
		p{
			margin-bottom: 15px;
		}
		.button{
			padding: .5em 2em;
			margin-top: 0;
		}
	}
	.checkout{
		margin-top: 20px;
		h3{
			margin: 25px 0 15px
		}
		.form-row{
			label{
				margin-bottom: 5px;
			}
		}
		.select2-container{
			.select2-selection--single{
				height: 43px;
				.select2-selection__rendered{
					line-height: 43px;
				}
				.select2-selection__arrow{
					height: 43px;
				}
			}
		}
		table{
			width: 100%;
			text-align: left;
		}
		.place-order{
			.button{
				margin-top: 25px;
			}
		}
	}
}

/*  --------------------
	Woocommerce cart
--------------------  */
.woocommerce-cart-form{
	.shop_table{
		width: 100%;
		text-align: left;
		border: 1px solid #F3F3F3;
		thead{
			th{
				padding: 20px 10px;
				color: #fff;
			}
		}
		.cart_item{
			.product-thumbnail{
				img{
					width: 150px;
				}
			}
			.product-name{
				font-size: 22px;
			}
			.product-quantity{
				input{
					width: 100px;
				}
			}
			.product-remove{
				a{
					color: red;
					font-size: 25px;
				}
			}

		}
		tbody{
			@include clearfix();
		}
		.coupon{
			@include flex(row, nowrap, space-between, center);
			float: left;
			width: 400px;
			label{
				display: none;
			}
			.input-text{
				width: 150px;
				margin-right: 30px;
			}
			.button{
				margin-top: 0;
				padding: .45em 2.5em;
				-webkit-flex-shrink: 0;
						flex-shrink: 0;
			}
		}
		.button[name="update_cart"]{
			float: right;
			margin-top: 0;
			padding: .45em 2.5em;
			line-height: inherit;
			cursor: pointer;
		}
		th, td{
			border: 0;
		}
	}
}
.cart-collaterals{
	@include flex(row, nowrap, flex-end, flex-start);
	hr, 
	.cross-sells{
		display: none;
	}
	.cart_totals{
		h2{
			padding-left: 10px;
			border-bottom: 1px solid #eee;
			margin-bottom: 0;
			padding-bottom: 10px;
		}
		.shop_table{
			width: 100%;
			text-align: left;
			th, td{
				border: 0;
			}
		}
	}
	.checkout-button{
		white-space: initial;
		border-color: #37C458;
		background-color: #37C458;
		&:hover{
			background-color: #fff;
			color: #37C458;
		}
	}
}

/*  --------------------
	Woocommerce messages
--------------------  */
.woocommerce-message{
	@include flex(row-reverse, nowrap, space-between, center);
	background-color: #EDEDED;
	.button{
		margin-top: 0;
	}
}
.woocommerce-error{
	background-color: #EC2B2B;
	color: #fff;
	strong{
		font-weight: 500;
	}
	li{
		&:not(:last-child){
			margin-bottom: 5px;
		}
	}
}
.woocommerce-info{
	@include flex(row, nowrap, space-between, center);
	background-color: #2D74D3;
	color: #fff;
	.showcoupon{
		font-weight: 500;
	}
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info{
	margin: 20px 0;
	padding: 15px;
	@include border-radius(5px);
	&:first-child{
		margin-top: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

/*  --------------------
	Woocommerce shortcodes
--------------------  */
.shortcode_carousel{
	.woocommerce{
		.products{
			.product{
				width: 100%;
			}
		}
	}
}
.elementor-shortcode{
	.cryptop_shop_loop_item_content_wrapper{
		position: relative;
		> a{
			display: block;
			padding: 10px;
		}
		.woocommerce-loop-category__title{
			margin-top: 5px;
			font-size: 22px;
    		font-weight: 500;
    		padding: 5px;
    		text-align: center;
    		margin-bottom: -15px;
    		@include transition(color .2s ease);
    		mark{
    			background-color: #fff;
    			@include transition(color .2s ease);
    		}
		}
	}
}