/*  --------------------
	Blog styles
--------------------  */
.single{
	.item{
		.post_wrapper{
			> *:not(.post_media){
				margin: 0 170px; //Remove from stucture
			}
		}
		.post_media,
		.media_part{
			display: block;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.cws_blog{
	.item{
		&:not(:last-child){
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
		.inline_date{
			font-weight: 500;
			text-transform: uppercase;
		}
		.post_media,
		.media_part{
			position: relative;
			font-size: 0px;
			line-height: 0;
			margin-bottom: 30px;
			display: inline-block;
			.date{
				&.new_style{
					position: absolute;
					left: 0;
					top: 0;
					height: 100px;
					width: 150px;
					font-size: 18px;
					@include box-shadow(1px 1px 0 rgba(0,0,0,.15));
					.meta_date{
						display: inline-block;
						text-align: center;
						.date-content{
							.date-c{
								display: inline-block;
								&:first-child{
									display: block;
								}
							}
						}
					}
				}
			}
		}
		.post_bottom_wrapper{
			position: relative;
			@include flex(row, wrap, flex-start, baseline);
			padding: 10px 0;
			&.meta-top{
				> *{
					padding: 8px 0;
				}
				i{
					opacity: 0.6;
					&.flaticon-shapes{
						opacity: 1;
					}
				}
				&.top-part{
					color: #898989;
					font-size: 0.95em;
					.post_meta{
						@include flex(row, wrap, flex-start, center);
						a{
							&:before{
								background-color: #898989;
							}
						}
					}
					*:not(i){
						color: inherit;
					}
				}
				&.bottom-part{
					margin-top: 20px;
					.post_tags{
						.post_terms{
							@include flex(row, wrap, flex-start, center);
							i{
								display: none;
							}
							a{
								padding: 0 20px;
								position: relative;
								text-transform: capitalize;
								font-weight: 400;
								opacity: .8;
								@include transition(opacity .2s ease);
								&:hover{
									opacity: 1;
								}
								&:before{
									content: '';
									width: 10px;
									height: 10px;
									position: absolute;
									left: 0;
									top: 50%;
									opacity: 1;
									@include transform(translateY(-50%));
									@include border-radius(50%);
									@include box-shadow(3px 3px 3px 1px rgba(0,0,0, .05));
								}
							}
						}
					}
				}
			}
			&.meta-bottom{
				border-top-width: 1px;
				border-bottom-width: 1px;
				border-style: solid;
				border-color: #dedede;
				margin-top: 20px;
				> *{
					padding: 8px 0;
				}
				.post_meta{
					&.post_info{
						@include flex(row, nowrap, flex-start, baseline);
					}
					.post_author{
						a{
							&:before{ //Remove from structure
								display: none;
							}
							text-transform: capitalize;
							font-weight: 700;
						}
					}
				}
				.post_categories,
				.post_cats{
					@include flex(row, wrap, flex-start, center);
					-webkit-flex-grow: 1;
					   -moz-flex-grow: 1;
						-ms-flex-grow: 1;
							flex-grow: 1;
				}
				.like,
				.post_categories,
				.post_cats,
				.post_comments{
					font-weight: 300;
				}
				.post_author{
					font-weight: 700;
				}
				.btn-read-more{
					display: flex;
					flex-grow: 1;
					justify-content: flex-end;
					font-weight: 300;
					.more-link{ //Remove from structure
						position: relative;
						padding: 0 17px;
						&:before,
						&:after{
							position: absolute;
							top: 45%;
							@include transform(translateY(-50%));
							font-size: 1.4em;
							@include transition(left .2s ease, right .2s ease);
						}
						&:before{
							content: '[';
							left: 0;
						}
						&:after{
							content: ']';
							right: 0;
						}
						&:hover{
							&:before{
								left: 5px;
							}
							&:after{
								right: 5px;
							}
						}
					}
				}
				.custom-hash{
					font-size: 30px;
					opacity: 0.8;
				}
			}
			.like, //Remove from structure
			.post_comments, //Remove from structure
			.post_category, //Remove from structure
			.post_tags{ //Remove from structure
				a{
					&:before{
						content: '';
						width: 100%;
						height: 1px;
						opacity: 0;
						position: absolute;
						left: 0;
						bottom: -10px;
						@include transition(bottom .2s linear, opacity .2s ease);
					}
					&:hover{
						&:before{
							opacity: 1;
							bottom: -2px;
						}
					}
				}
			}
			.post_meta_date,
			.post_comments,
			.post_tags,
			.post_category,
			.post_author,
			.like,
			.pf{
				margin-right: 15px;
			}
			i{
				margin-right: 5px;
				display: inline-block;
				vertical-align: middle;
				&.flaticon-business-1{
					@include transform(scaleX(-1));
				}
				&:before{
					margin-left: 0;
					font-size: 1.2em;
					-webkit-font-smoothing: antialiased;
					font-smoothing: antialiased;
				}
			}
		}
	}
}
/*  --------------------
	Post Navigation
--------------------  */
.nav_post_links{
	margin-top: 40px;
	padding: 35px 0;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	@include flex(row, nowrap, space-between, center);
	.nav_prev,
	.nav_next{
		a{
			position: relative;
			opacity: .6;
			&:before{
				content: '\f100';
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
				font-family: 'Flaticon';
				font-size: 45px;
				color: inherit;
				opacity: .8;
				@include transition(transform .15s linear, color .3s ease, left .15s linear, right .15s linear, opacity .2s ease);
			}
			.sub_title{
				font-weight: 500;
				position: relative;
				&:after{
					content: '-';
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
				}
			}
		}
	}
	.nav_prev{
		padding-right: 15px;
		a{
			padding-left: 45px;
			&:before{
				left: 0;
			}
			&:hover{
				&:before{
					left: -8px;
					opacity: 1;
				}
			}
			@include flex(row-reverse, nowrap, flex-start, center);
			.sub_title{
				margin-right: 5px;
				padding-right: 13px;
				&:after{
					right: 0;
				}
			}
		}
	}
	.nav_next{
		padding-left: 15px;
		a{
			padding-right: 45px;
			@include flex(row, nowrap, flex-start, center);
			text-align: right;
			&:before{
				@include transform(translateY(-50%) rotate(180deg));
				right: 0;
			}
			&:hover{
				&:before{
					right: -8px;
					opacity: 1;
				}
			}
			.sub_title{
				margin-left: 5px;
				padding-left: 13px;
				&:after{
					left: 0;
				}
			}
		}
	}
}

/*  --------------------
	Comments
--------------------  */
.comments-area{
	margin: 80px 170px 0; //Remove from stucture
	width: calc(100% - 340px); //Remove from stucture
	.comments_title{
		font-size: 2.06em;
		font-weight: 500;
	}
	.comment_list{
		padding-top: 55px;
		.comment{
			margin-bottom: 60px;
			&.even.parent{
				> .comment-body{
					position: relative;
					padding: 20px 45px;
					&:before{
						content: '';
						position: absolute;
						left: 20px;
						top: -9px;
						width: 0;
						height: 0;
						border-left: 9px solid transparent;
						border-right: 9px solid transparent;
						border-bottom: 9px solid transparent;
					}
				}
				> .comments_children{
					padding-left: 100px;
				}
			}
		}
		.comment-body{
			margin-bottom: 60px;
		}
		.comments_children{
			padding-left: 55px;
		}
		.comment_info{
			.avatar_section{
				float: left;
				padding: 0 25px 0 0;
				font-size: 0px;
				line-height: 0;
				img{
					@include border-radius(50%);
				}
			}
			.comment-meta{
				@include simple-flex(1 0 auto);
				&:after{
					display: none;
				}
				.comment_top_info{
					color: #898989;
					font-weight: 300;
					.author-name{
						margin-right: 10px;
						font-weight: 500;
						font-style: normal;
					}
				}
			}
			.comment-content{
				float: left;
				max-width: 100%;
				margin-top: 15px;
				.comments_buttons{
					margin-top: 15px;
					@include flex(row, nowrap, flex-start, center);
					> *:not(:first-child){
						margin-left: 15px;
					}
					.reply:empty{
						margin-left: -15px;
					}
					.reply_icon{
						&:before{
							margin: 0 10px 0 0;
							-webkit-font-smoothing: antialiased;
									font-smoothing: antialiased;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}
.comment-respond{
	.comment-form{
		> p {
			label{
				margin-bottom: 3px;
			}
		}
		.comment-form-url{
			display: none;
		}
		.comment-form-author,
		.comment-form-email{
			width: 48%;
			display: inline-block;
		}
		.comment-form-email{
			float: right;
		}
	}
}