/*  --------------------
	Layout media styles
--------------------  */
@media screen and (max-width: 1199px){
	.page_content{
		&:not(:empty){
			padding: 60px 0;
		}
		> .container{
			> .sb_left,
			> .sb_right{
				min-width: 230px;
			}
			main{
				min-width: 700px;
			}
		}
		.news{
			.sticky-post{
				padding: 30px;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.page_content{
		&:not(:empty){
			padding: 40px 0;
		}
		> .container{
			> .sb_left,
			> .sb_right{
				display: none;
			}
			main{
				min-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.page_content{
		&:not(:empty){
			padding: 30px 0;
		}
		.news{
			.sticky-post{
				padding: 15px;
				margin-bottom: 40px;
			}
		}
	}
}

@media screen and (max-width: 767px){
	.page_content{
		&:not(:empty){
			padding: 10px 0;
		}
	}
}