/*  ====================
	Resete styles
====================  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    -webkit-text-size-adjust: none;
    text-decoration: none;
}

ol, ul, li {
	list-style-type: none;
}
a img {
	border: none;
}
*, *:hover, *:focus, *:active, *:visited {
    outline: none;
}
details, hgroup, main, menu, summary {
	display: block;
}
input, textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
