/*  --------------------
	Blog media styles
--------------------  */
@media screen and (max-width: 1199px){
	.single{
		.item{
			.post_wrapper{
				> *:not(.post_media){
					margin: 0 120px; //Remove from stucture
				}
			}
		}
	}
	.comments-area{
		margin: 80px 120px 0; //Remove from stucture
		width: calc(100% - 240px); //Remove from stucture
		.comment_list{
			.comment{
				&.even.parent{
					> .comments_children{
						padding-left: 70px;
					}
				}
			}
			.comments_children{
				padding-left: 35px;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.single{
		.item{
			.post_wrapper{
				> *:not(.post_media){
					margin: 0 65px; //Remove from stucture
				}
			}
		}
	}
	.item{
		.post_bottom_wrapper{
			&.meta-top{
				> * {
					padding-bottom: 0;
				}
			}
		}
	}
	.comments-area{
		margin: 50px 65px 0; //Remove from stucture
		width: calc(100% - 130px); //Remove from stucture
		.comment_list{
			.comment{
				&.even.parent{
					> .comments_children{
						padding-left: 50px;
					}
				}
			}
			.comments_children{
				padding-left: 25px;
			}
		}
	}
	.nav_post_links{
		padding: 0;
		margin-top: 30px;
		-webkit-flex-direction: column;
		   -moz-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
		.nav_prev,
		.nav_next{
			width: 100%;
			padding: 15px 0;
			&:first-child{
				padding-top: 35px;
			}
			&:last-child{
				padding-bottom: 35px;
			}
			a{
				-webkit-justify-content: flex-end;
				   -moz-justify-content: flex-end;
					-ms-justify-content: flex-end;
						justify-content: flex-end;
			}
		}
	}
}

@media screen and (max-width: 767px){
	.single{
		.item{
			.post_wrapper{
				> *:not(.post_media){
					margin: 0; //Remove from stucture
				}
			}
		}
	}
	.item{
		&:not(:last-child){
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		.post_bottom_wrapper{
			padding: 5px 0;
			&.meta-bottom{
				> * {
					padding: 2px 0;
				}	
			}
			.custom-hash{
				font-size: 20px;
			}
		}
	}
	.nav_post_links{
		.nav_prev,
		.nav_next{
			padding: 5px 0;
			a{
				&:before{
					font-size: 25px;
				}
			}
			&:last-child{
				padding-bottom: 15px;
			}
			&:first-child{
				padding-top: 15px;
			}
		}
		.nav_prev{
			a{
				padding-left: 30px;
			}
		}
		.nav_next{
			a{
				padding-right: 30px;
			}
		}
	}
	.comments-area{
		margin: 50px 0 0; //Remove from stucture
		width: 100%; //Remove from stucture
		.comment_list{
			.comment{
				margin-bottom: 30px;
				&.even.parent{
					.comment-body{
						padding: 15px;
					}
					> .comments_children{
						padding-left: 20px;
					}
				}
			}
			.comment-body{
				margin-bottom: 30px;
			}
			.comments_children{
				padding-left: 10px;
			}
		}
	}
}