/*  --------------------
	Info-boxes styles
--------------------  */
.cws_msg_box{
	width: 100%;
	position: relative;
	@include border-radius(4px);
	padding: 18px 20px 15px 25px;
	color: #fff;
	&:first-child{
		margin-bottom: 30px;
	}
	&.info{
		background-color: #2D74D3;
		@include box-shadow(0 6px 40px -3px rgba(45,116,211,.8));
	}
	.icon_part{
		display: inline-block;
		vertical-align: middle;
		&:before{
			content: '\f124'; //Change
			font-family: 'Flaticon';
			margin-right: 25px;
		}
	}
	.content_part{
		display: inline-block;
		vertical-align: middle;
		p{

		}
	}
	.close_button{
		position: absolute;
		right: 20px;
		top: 50%;
		@include transform(translateY(-50%));
		width: 25px;
		height: 25px;
		background-color: #fff;
		@include border-radius(50%);
		cursor: pointer;
		&:before{
			content: '\f00d';
			font-family: 'FontAwesome';
			font-size: 16px;
			line-height: 0;
			color: #000;
			position: absolute;
			left: 50%;
			top: 46%;
			@include transform(translate(-50%, -50%));
		}
	}
}