/*  --------------------
	Layout styles
--------------------  */
.wide_container{
	width: calc(100% - 50px);
	margin: 0 25px;
}

.page_content{
	&:not(:empty){
		padding: 70px 0;
	}
	&.full_width_featured{
		padding: 0;
	}
	> .container{
		@include flex(row, nowrap, space-between, flex-start);
		> .sb_left{
			min-width: 270px;
			width: 100%;
			margin-right: 30px;
			@include order(1);
		}
		main{
			min-width: 870px;
			width: 100%;
			@include order(2);
		}
		> .sb_right{
			min-width: 270px;
			width: 100%;
			padding-right: 15px;
			margin-left: 30px;
			@include order(3);
		}
	}
	.news{
		.sticky-post{
			padding: 40px;
			margin-bottom: 60px;
			@include box-shadow(0 1px 2px 0 #b3b3b3);
			@include transition(box-shadow .3s linear);
			background-color: rgb(253,253,253);
		}
		.item{
			.post_title{
				margin: 10px 0 15px;
				a{
					-ms-word-wrap: break-word;
						word-wrap: break-word;
					font-size: inherit;
					font-weight: 500;
				}
			}
		}
	}
}