/*  --------------------
	Layout media styles
--------------------  */
@media screen and (max-width: 1199px){
	.wide_container{
		width: 100%;
		margin: 0 auto;
	}
	.single{
		.page_content{
			&:not(:empty){
				padding: 50px 0;
			}
		}
	}
	.page_content{
		&:not(:empty){
			padding: 60px 0;
		}
		> .container{
			> .sb_left,
			> .sb_right{
				min-width: 230px;
				padding-right: 0;
			}
			main{
				min-width: 700px;
			}
		}
		.news{
			.sticky-post{
				padding: 30px;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.single{
		.page_content{
			&:not(:empty){
				padding: 30px 0;
			}
		}
	}
	.page_content{
		&:not(:empty){
			padding: 40px 0;
		}
		> .container{
			> .sb_left,
			> .sb_right{
				position: fixed !important;
				overflow: auto !important;
				top: 0;
				width: 300px;
				background-color: #fff;
				z-index: 15;
				padding: 15px;
				height: 100vh;
				@include transition(all .3s ease-in-out);
			}
			> .sb_left{
				left: -300px;
				&.active{
					left: 0;
					@include box-shadow(2px 0px 5px 0px rgba(0,0,0,.15));
				}
			}
			> .sb_right{
				right: -300px;
				&.active{
					right: 0;
					@include box-shadow(-2px 0px 5px 0px rgba(0,0,0,.15));
				}
			}
			main{
				min-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 767px){
	.single{
		.page_content{
			&:not(:empty){
				padding: 15px 0 35px;
			}
		}
	}
	.page_content{
		&:not(:empty){
			padding: 30px 0;
		}
		.news{
			.sticky-post{
				padding: 15px;
				margin-bottom: 40px;
			}
		}
	}
}