/*  --------------------
	Portfolio styles
--------------------  */
.cws_portfolio{
	&.showcase{
		.showcase_wrapper{
			&.showcase-effect-hover_z{
				.portfolio_item{
					.cws_portfolio_media{
						@include transform(scale(1));
					}
					&:hover{
						.cws_portfolio_media{
							@include transform(scale(1.1));
						}
					}
				}
			}
			&.showcase-effect-hover_g{
				.portfolio_item{
					.cws_portfolio_media{
						@include filter(grayscale(100%));
					}
					&:hover{
						.cws_portfolio_media{
							@include filter(grayscale(0%));
						}
					}
				}
			}
			&.showcase-effect-hover_r{
				.portfolio_item{
					.cws_portfolio_media{
						top: -10%;
						@include transform(scale(1.1) rotate(0deg));
					}
					&:hover{
						.cws_portfolio_media{
							@include transform(scale(1.1) rotate(5deg));
						}
					}
				}
			}
			&.showcase-effect-hover_b{
				.portfolio_item{
					.cws_portfolio_media{
						@include filter(blur(2px));
					}
					&:hover{
						.cws_portfolio_media{
							@include filter(blur(0px));
						}
					}
				}
			}
			&.showcase-effect-hover_zg{
				.portfolio_item{
					.cws_portfolio_media{						
						@include transform(scale(1));
						@include filter(grayscale(100%));
					}
					&:hover{
						.cws_portfolio_media{
							@include transform(scale(1.1));
							@include filter(grayscale(0%));
						}
					}
				}
			}
			&.showcase-effect-hover_zb{
				.portfolio_item{
					.cws_portfolio_media{
						@include transform(scale(1));
						@include filter(blur(2px));						
					}
					&:hover{
						.cws_portfolio_media{
							@include transform(scale(1.1));
							@include filter(blur(0px));
						}
					}
				}
			}
			&.showcase-horizontal{
				@include flex(column, nowrap, space-between, stretch);
				.portfolio_item{
					&:first-child{
						margin-top: 0px !important;
					}
					&:last-child{
						margin-bottom: 0px !important;
					}
				}
			}
			&.showcase-vertical{
				@include flex(row, nowrap, space-between, stretch);
				.portfolio_item{
					&:first-child{
						margin-left: 0px !important;
					}
					&:last-child{
						margin-right: 0px !important;
					}					
					.cws_portfolio_media{
						.pic{
							@include flex(row, nowrap, center, center);
							overflow: hidden;
							img{
								height: 100%;
								max-width: initial;
							}
						}
					}
				}
			}
			&.showcase-anim-sine{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.39, 0.575, 0.565, 1));
				}
			}
			&.showcase-anim-quint{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.23, 1, 0.32, 1));
				}
			}
			&.showcase-anim-cubic{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.215, 0.61, 0.355, 1));
				}
			}
			&.showcase-anim-expo{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.19, 1, 0.22, 1));
				}
			}
			&.showcase-anim-circ{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.83, 0.08, 0.16, 0.97));
				}
			}
			&.showcase-anim-back{
				.portfolio_item{
					@include transition-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
				}
			}			
			.portfolio_item{
				@include flex(row, nowrap, space-between, stretch);
				@include transform(translateZ(0));
			    -webkit-flex-shrink: 0;
			    -ms-flex-negative: 0;
			    flex-shrink: 0;
			    -webkit-flex-basis: auto;
			    -ms-flex-preferred-size: auto;
			    flex-basis: auto;
			    -webkit-transition-property: all;
			    -o-transition-property: all;
			    transition-property: all;
				overflow: hidden;
				flex-grow: 1;
				margin: 0px;		
				.cws_portfolio_media{
					@include transition(all 300ms ease);
				    position: absolute;
				    top: 0;
				    left: 0;
				    -o-object-fit: cover;
				    object-fit: cover;
				    width: 100%;
				    height: 100% !important;
				}
			}
			position: relative;
			width: 100%;
			overflow: hidden;
			z-index: 1;					
		}
	}
	.item{
		.post_media,
		.media_part{
			position: relative;
			font-size: 0px;
			line-height: 0;
			margin-bottom: 30px;
			display: inline-block;
			&.portfolio_media{
				margin-bottom: 0px;
			}
		}
	}
}