* { margin: 0; padding: 0; }

   html {
   overflow: hidden; 
   }
   
#photos {
   line-height: 0;

   -webkit-column-count: 30;
   -webkit-column-gap:   0px;
   -moz-column-count:    30;
   -moz-column-gap:      0px;
   column-count:         30;
   column-gap:           0px;

}
#myModal{
zoom: 200%;
}

#photos img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 4000px) {
  #photos {
  -moz-column-count:    26;
  -webkit-column-count: 26;
  column-count:         26;
  }
}

@media (max-width: 2500px) {
  #photos {
  -moz-column-count:    24;
  -webkit-column-count: 24;
  column-count:         24;
  }
}

@media (max-width: 2000px) {
  #photos {
  -moz-column-count:    20;
  -webkit-column-count: 20;
  column-count:         20;
  }
}

@media (max-width: 1600px) {
  #photos {
  -moz-column-count:    18;
  -webkit-column-count: 18;
  column-count:         18;
  }
}

@media (max-width: 1500px) {
  #photos {
  -moz-column-count:    16;
  -webkit-column-count: 16;
  column-count:         16;
  }
}

@media (max-width: 1300px) {
  #photos {
  -moz-column-count:    14;
  -webkit-column-count: 14;
  column-count:         14;
  }
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    12;
  -webkit-column-count: 12;
  column-count:         12;
  }
}

@media (max-width: 1100px) {
  #photos {
  -moz-column-count:    10;
  -webkit-column-count: 10;
  column-count:         10;
  }
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    8;
  -webkit-column-count: 8;
  column-count:         8;
  }
}

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}