/*  --------------------
	CWS-Services Module
--------------------  */
.elementor-widget-cws_services{
	.elementor-widget-container{
		@include clearfix();
		&.elementor-block-animation{
			&:hover{
				&:before{
					@include transform(scaleY(1.1));
				}
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: inherit;
				border-radius: inherit;
				@include transition(all .2s linear);
			}
		}
		&.side_divider{
			.cws_service_item{
				.cws_left_divider,
				.cws_right_divider{
					display: none;
				}
			}
		}
		&.bottom_divider{
			.cws_service_item{
				&.custom_icon{
					&:not(.shape_none){
						&:before{
							left: 44px;
						}
					}
				}
				&:before{
					content: '';
					position: absolute;
					left: 34px;
					bottom: 0;
					width: 2px;
				}
				&.shape_none{
					min-height: 85px;
					&:before{
						height: calc(100% - 75px);
					}
				}
				.cws_service_icon_wrapper{
					text-align: center;
				}
			}
		}
		.cws_service_item{
			position: relative;
			&.custom_icon{
				&:not(.shape_none){
					.cws_service_icon_wrapper{
						.cws_service_icon_container{
							.cws_icon{
								font-style: normal;
								font-size: 0;
								overflow: hidden;
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%, -50%));
							}
						}
					}
				}
				&.shape_round,
				&.shape_square,
				&.shape_diamond{
					.cws_service_icon_wrapper{
						.cws_service_icon_container{
							&:before,
							&:after{
								content: '';
								position: absolute;
								left: 0; right: 0;
								top: 0; bottom: 0;
								@include transition(all .2s linear);
								z-index: 1;	
							}
						}
					}
				}
				&.shape_round{
					.cws_service_icon_wrapper{
						.cws_service_icon_container{
							@include border-radius(50%);
							&:before,
							&:after{
								@include border-radius(50%);
							}
						}
					}
				}
				&.shape_diamond{
					.cws_service_icon_wrapper{
						.cws_service_icon_container{
							&:before,
							&:after{
								@include transform(rotate(45deg));
							}
						}
					}
				}
			}
			.cws_left_divider,
			.cws_right_divider{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: none;
				&:before,
				&:after{
					content: '';
					position: absolute;
					top: 0;
					width: 1px;
				}
				&:before{
					height: 100%;
				}
				&:after{
					height: 35%;
				}
			}
			.cws_left_divider{
				&:before,
				&:after{
					left: 0;
				}
			}
			.cws_right_divider{
				&:before,
				&:after{
					right: 0;
				}
			}
			.cws_service_icon_wrapper{
				display: block;
				position: relative;
				.cws_service_icon_container{
					position: relative;
					display: inline-block;
					.cws_icon{
						position: relative;
						z-index: 2;
						@include transition(color .2s linear);
					}
				}
				.cws_service_divider{
					display: none;
					position: absolute;
					left: 100%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					min-width: 150px;
				}
			}
			.cws_service_info{
				overflow: hidden;
				margin: 0 auto;
				.cws_service_title{
					margin: 0;
					@include transition(color .2s linear);
					.cws_service_subtitle{
						display: inline-block;
						@include transition(color .2s linear);
					}
				}
				.cws_service_desc{
					white-space: pre-line;
					@include transition(color .2s linear);
				}
			}
		}
	}
}

@media(min-width: 1200px){
	.elementor-widget-cws_services{
		.elementor-widget-container{
			&.side_divider{
				&.side_left{
					.cws_service_item{
						&.desktop_side_divider{
							.cws_left_divider{
								display: block;
							}
						}
					}
				}
				&.side_double{
					.cws_service_item{
						&.desktop_side_divider{
							.cws_right_divider,
							.cws_left_divider{
								display: block;
							}
						}
					}
				}
				&.side_right{
					.cws_service_item{
						&.desktop_side_divider{
							.cws_right_divider{
								display: block;
							}
						}
					}
				}
			}
			.cws_service_item{
				&.desktop_image_divider{
					.cws_service_divider{
						display: inline-block;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1199px) and (min-width: 768px){
	.elementor-widget-cws_services{
		.elementor-widget-container{
			&.side_divider{
				.cws_service_item{
					&.tablet_side_divider{
						&.side_left{
							.cws_service_item{
								.cws_left_divider{
									display: block;
								}
							}
						}
						&.side_double{
							.cws_service_item{
								.cws_left_divider,
								.cws_right_divider{
									display: block;
								}
							}
						}
						&.side_right{
							.cws_service_item{
								.cws_right_divider{
									display: block;
								}
							}
						}
					}
				}
			}
			.cws_service_item{
				&.tablet_image_divider{
					.cws_service_divider{
						display: inline-block;
					}
				}
			}
		}
	}
}
@media(max-width:767px){
	.elementor-widget-cws_services{
		.elementor-widget-container{
			&.side_divider{
				.cws_service_item{
					&.mobile_side_divider{
						&.side_left{
							.cws_service_item{
								.cws_left_divider{
									display: block;
								}
							}
						}
						&.side_double{
							.cws_service_item{
								.cws_left_divider,
								.cws_right_divider{
									display: block;
								}
							}
						}
						&.side_right{
							.cws_service_item{
								.cws_right_divider{
									display: block;
								}
							}
						}
					}
				}
			}
			.cws_service_item{
				&.mobile_image_divider{
					.cws_service_divider{
						display: inline-block;
					}
				}
			}
		}
	}
}