/*  --------------------
	CWS-Icon List Module
--------------------  */
.elementor-widget-icon-list{
	.elementor-widget-container{
		.elementor-icon-list-items{
			.elementor-icon-list-item{
				&:before{
					display: none;
				}
			}
		}
	}
}