/*  --------------------
	CWS-Testimonial Module
--------------------  */
.elementor-widget-cws_testimonial{
	.elementor-widget-container{
		.cws_testimonials{
			.cws_wrapper{
				.cws_grid{
					@include flex(row, wrap, flex-start, stretch);
					&.layout-1{
						.item{
							width: 100%;
						}
					}
					&.layout-2{
						.item{
							width: calc(50% - 10px);
						}
					}
					&.layout-3{
						.item{
							width: calc(33.3% - 10px);
						}
					}
					&.layout-4{
						.item{
							width: calc(25% - 10px);
						}
					}
				}
				.item{
					@include flex(row, wrap, flex-start, stretch);
					.content_wrapper{
						padding: 0px 20px 0px 20px;
						@include simple-flex(1 1 auto);
					}
				}				
			}
		}
	}
}