/*  --------------------
	CWS-Section-Tabs
--------------------  */
.elementor-section{
	.elementor-cws-tabs{
		&.cws_tabs_init.tabs-horizontal{
			@include flex-direction(column);
			.tabs_navigation{
				border-bottom: 1px solid #DDE0E7;		
			}				
		}
		&.cws_tabs_init.tabs-vertical{
			@include flex-direction(row);
			.tabs_navigation{
				border-right: 1px solid #DDE0E7;
				.tab_title{
					width: 100%;
				}				
			}			
		}
		.tabs_navigation{
			;
			.tab_title{
				&.active{
					cursor: default;
				}
				display: inline-block;
				cursor: pointer;
				padding: 10px;
			}
		}
		>.tabs_content{
			>.tab_item{
				>.elementor-column{
					width: 100%;
				}
			}
		}
	}
}