/*  --------------------
	CWS-Categories Module
--------------------  */
.elementor-widget-cws_categories{
	.elementor-widget-container{
		.cws_categories{
			.cws_wrapper{
				.cws_grid{
					@include flex(row, wrap, space-between, stretch);
					&.layout-1{
						.item{
							width: 100%;
						}
					}
					&.layout-2{
						.item{
							width: calc(50% - 10px);
						}
					}
					&.layout-3{
						.item{
							width: calc(33.3% - 10px);
						}
					}
					&.layout-4{
						.item{
							width: calc(25% - 10px);
						}
					}
					.item{
						padding-bottom: 0;
						margin-bottom: 0;
						position: relative;
						.category-block{
							display: block;
							font-size: 0px;
							&:hover{
								.category-label{
									margin-top: 10px;
									opacity: 0;
									@include transform(translate(-50%, -50%));
								}
							}
							img{
								width: 100%;
								@include border-radius(4px);
							}
							.category-label{
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%, -50%));
								@include border-radius(4px);
								padding: 5px 15px;
								max-width: 70%;
								display: inline-table;
								text-align: center;
								opacity: 1;
								@include transition(margin-top .25s linear, opacity .25s linear);
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}