/*  --------------------
	CWS-Divider Module
--------------------  */
.elementor-widget-divider{
	overflow: hidden;
	.elementor-widget-container{
		.elementor-divider{
			.elementor-divider-separator{
				position: relative;
				@include transition(height .1s linear);
				@include flex(row, nowrap, center, center);
				&.has_bg{
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						background-color: #e3e3e3;
					}
				}
				>*{
					position: relative;
				}
				.icon_image{
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
}