/*  --------------------
	CWS-Pricing-Plan Module
--------------------  */
.elementor-container{
	.elementor-element{
		&:not(:last-child){
			.elementor-widget-cws_pricing_plan{
				.elementor-widget-container{
					position: relative;
					&:hover{
						&:after{
							opacity: 0;
							@include transition(opacity .1s ease);
						}
					}
					&:after{
						content: '';
						position: absolute;
						right: 0;
						opacity: 1;
						top: 40px;
						height: calc(100% - 80px);
						width: 1px;
						background-color: #DEDEDE;
					}
				}
			}
		}
		.elementor-widget-cws_pricing_plan{
			position: relative;
			height: 100%;
			&:hover{
				z-index: 1;
			}
			.elementor-widget-container{
				height: 100%;
				position: relative;
				@media(min-width: 1200px){
					&:hover{
						&:before{
							height: 104%;
							@include border-radius(5px);
							@include transition(height .2s ease, border-radius .2s ease, box-shadow .2s ease);
						}
					}
				}
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					height: 100%;
					background-color: inherit;
					box-shadow: 0px 0px 0px 0px rgb(255,255,255);
					@include border-radius(0);
					@include transform(translateY(-50%));
				}
			}
		}
	}
}
.cws_pricing_plan_wrapper{
	position: relative;
	min-height: inherit;
	height: 100%;
	.cws_pricing_plan_item{
		min-height: inherit;
		position: relative;
		height: 100%;
		padding-bottom: 110px;
		p, h1, h2, h3, h4, h5, h6{
			margin: 0;
			font-weight: 400;
			word-break: break-word;
		}
		.cws_pricing_plan_headers{
			.cws_pricing_plan_title{
				&:not(:first-child){
					margin: 15px 0 0;
				}
				@include transition(color .2s ease);
			}
		}
		.cws_pricing_plan_extra_button{
			&:not(:first-child){
				margin-top: 50px;
			}
			display: inline-block;
			padding: 5px 25px;
			font-size: 15px;
			@include border-radius(4px);
			@include transition(color .2s ease, background-color .2s ease);
		}
		.cws_pricing_plan_price_wrapper{
			&:not(:first-child){
				margin-top: 50px;
			}
			.cws_pricing_plan_price{
				&:not(:first-child){
					margin-top: 15px;
				}
				font-weight: 500;
				position: relative;
				display: inline-block;
				@include transition(color .2s ease);
				.cws_pricing_plan_price_currency{
					font-weight: 400;
					font-size: 0.5em;
					font-style: normal;
					position: absolute;
					left: 100%;
					top: -15%;
					color: inherit;
				}
			}
			.cws_pricing_plan_price_description{
				margin-top: 5px;
				@include transition(color .2s ease);
			}
		}
		.cws_pricing_plan_content_wrapper{
			&:not(:first-child){
				margin-top: 50px;
			}
			.cws_pricing_plan_content{
				&:not(:first-child){
					margin-top: 10px;
				}
				@include transition(color .2s ease);
			}
		}
		.cws_pricing_plan_main_button{
			display: block;
			text-align: center;
			padding: 15px 30px;
			font-size: 18px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
		.cws_pricing_plan_subtitle{
			@include transition(color .2s ease);
		}
	}
}