/*  --------------------
	CWS-Icon Module
--------------------  */
.elementor-widget-cws_icon{
	.elementor-widget-container{
		.icons-wrapper{
			.icon-wrapper:last-child{
				margin-right: 0px !important;
				margin-bottom: 0px !important;
			}
		}
	}
}
.elementor-widget-cws_icon{
	text-align: center;
	.icons-wrapper{
		.icon-container{
			.cws_icon{
				svg,
				&:before{
					@include transition(color .2s linear, fill .2s linear);
				}
			}
			overflow: hidden;
			position: relative;
			&:not(.shape-none){
				&.position-left{
					margin: 0 auto 0 0;
				}
				&.position-center{
					margin: 0 auto;
				}				
				&.position-right{
					margin: 0 0 0 auto;
				}					
				&:before,
				&:after{
					content: '';
					position: absolute;
					left: 0; right: 0;
					top: 0; bottom: 0;
					@include transition(all .2s linear);
				}
				&:before{
					z-index: 1;
				}
				i{
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
				}
			}
			&.shape-round{
				@include border-radius(50%);
				&:before,
				&:after{
					@include border-radius(50%);
				}
			}
			&.shape-diamond{
				overflow: visible;
				&:before,
				&:after{
					@include transform(rotate(45deg));
				}
			}
			>*{
				z-index: 2;
			}
			span{
				position: relative;
				display: block;
				height: inherit;
				width: inherit;
			}
			a{
				display: inline-block;
				height: inherit;
				width: inherit;
				font-size: 0px;
			}
		}
	}
}