/*  --------------------
	CWS-Blog Module
--------------------  */
.elementor-widget-cws_blog{
	&.arrow-position-inside{
		.swiper-button-prev{
			left: 10px;
		}
		.swiper-button-next{
			right: 10px;
		}		
	}
	&.arrow-position-outside{
		.swiper-button-prev{
			left: -70px;
		}
		.swiper-button-next{
			right: -70px;
		}
	}
	&.bullets-squared{
		.cws_blog_wrapper{
			.cws_blog_carousel{
				.swiper-pagination{
					.swiper-pagination-bullet{
						@include border-radius(0%);
					}
				}
			}
		}
	}
	&.scrollbar-squared{
		.cws_blog_carousel{
			.swiper-scrollbar{
				@include border-radius(0px);
				.swiper-scrollbar-drag{					
					@include border-radius(0px);
				}
			}
		}
	}
	.cws_blog_wrapper{
		.swiper-container{
			&.swiper-container-vertical{
				max-height: 100%;
			}
		}
		.cws_blog_carousel{
			.swiper-button-prev,
			.swiper-button-next{
				font-family: FontAwesome;
				font-size: 70px;
				background-image: none;
				text-align: center;
			}
			.swiper-button-prev{
				&:before{
					content: "\f104";
				}
			}
			.swiper-button-next{
				&:before{
					content: "\f105";					
				}
			}
		}
	}
}