/*  --------------------
	CWS-Tips Module
--------------------  */
.elementor-widget-cws_tips{
	&.animation-grow,
	&.animation-fade,
	&.animation-swing{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							&.top{
								bottom: 100%;
								left: 50%;
								@include transform(translate(-50%, 0));
							}
							&.top-right{
								bottom: 100%;
								left: 100%;
							}
							&.right{
								left: 100%;
								top: 50%;
								@include transform(translate(0, -50%));
							}
							&.bottom-right{
								top: 100%;
								left: 100%;
							}
							&.bottom{
								top: 100%;
								left: 50%;
								@include transform(translate(-50%, 0));
							}
							&.bottom-left{
								top: 100%;
								right: 100%;
							}
							&.left{
								right: 100%;
								top: 50%;
								@include transform(translate(0, -50%));
							}
							&.top-left{
								bottom: 100%;
								right: 100%;
							}
						}
					}
				}
			}
		}
	}
	&.animation-grow{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							@include transform(scale(0.5));
							@include transition(opacity .3s ease, background-color .2s ease, transform .3s cubic-bezier(.15,.48,.2,1.45));
							&.top{
								@include transform(translate(-50%, 0) scale(0.5));
							}
							&.right{
								@include transform(translate(0, -50%) scale(0.5));
							}
							&.bottom{
								@include transform(translate(-50%, 0) scale(0.5));
							}
							&.left{
								@include transform(translate(0, -50%) scale(0.5));
							}
						}
						&.hover_trigger{
							&.show-desc,
							&:hover{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									@include transform(scale(1));
									&.top{
										@include transform(translate(-50%, 0) scale(1));
									}
									&.right{
										@include transform(translate(0, -50%) scale(1));
									}
									&.bottom{
										@include transform(translate(-50%, 0) scale(1));
									}
									&.left{
										@include transform(translate(0, -50%) scale(1));
									}
								}
							}
						}
						&.click_trigger{
							&.show-desc,
							&.active{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									@include transform(scale(1));
									&.top{
										@include transform(translate(-50%, 0) scale(1));
									}
									&.right{
										@include transform(translate(0, -50%) scale(1));
									}
									&.bottom{
										@include transform(translate(-50%, 0) scale(1));
									}
									&.left{
										@include transform(translate(0, -50%) scale(1));
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.animation-fade{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							@include transition(opacity .3s ease, background-color .2s ease);
						}
						&.hover_trigger{
							&.show-desc,
							&:hover{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
								}
							}
						}
						&.click_trigger{
							&.show-desc,
							&.active{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}
			}
		}
	}
	&.animation-fade_slide{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							left: 50%;
							top: 50%;
							bottom: 0;
							right: 0;
							@include transform(translate(-50%, -50%));
						}
						&.hover_trigger{
							&.show-desc,
							&:hover{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									&.top{
										bottom: 100%; top: auto;
										left: 50%; right: auto;
										@include transform(translate(-50%, 0));
										@include transition(bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.top-right{
										bottom: 100%; top: auto;
										left: 100%; right: auto;
										@include transform(translate(0, 0));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.right{
										left: 100%; right: auto;
										top: 50%; bottom: auto;
										@include transform(translate(0, -50%));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom-right{
										top: 100%; bottom: auto;
										left: 100%; right: auto;
										@include transform(translate(0, 0));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom{
										top: 100%; bottom: auto;
										left: 50%; right: auto;
										@include transform(translate(-50%, 0));
										@include transition(top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom-left{
										top: 100%; bottom: auto;
										right: 100%; left: auto;
										@include transform(translate(0, 0));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.left{
										right: 100%; left: auto;
										top: 50%; bottom: auto;
										@include transform(translate(0, -50%));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.top-left{
										bottom: 100%; top: auto;
										right: 100%; left: auto;
										@include transform(translate(0, 0));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
								}
							}
						}
						&.click_trigger{
							&.show-desc,
							&.active{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									&.top{
										bottom: 100%; top: auto;
										left: 50%; right: auto;
										@include transform(translate(-50%, 0));
										@include transition(bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.top-right{
										bottom: 100%; top: auto;
										left: 100%; right: auto;
										@include transform(translate(0, 0));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.right{
										left: 100%; right: auto;
										top: 50%; bottom: auto;
										@include transform(translate(0, -50%));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom-right{
										top: 100%; bottom: auto;
										left: 100%; right: auto;
										@include transform(translate(0, 0));
										@include transition(left .4s cubic-bezier(.15,.48,.2,1.45), top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom{
										top: 100%; bottom: auto;
										left: 50%; right: auto;
										@include transform(translate(-50%, 0));
										@include transition(top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.bottom-left{
										top: 100%; bottom: auto;
										right: 100%; left: auto;
										@include transform(translate(0, 0));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), top .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.left{
										right: 100%; left: auto;
										top: 50%; bottom: auto;
										@include transform(translate(0, -50%));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
									&.top-left{
										bottom: 100%; top: auto;
										right: 100%; left: auto;
										@include transform(translate(0, 0));
										@include transition(right .4s cubic-bezier(.15,.48,.2,1.45), bottom .4s cubic-bezier(.15,.48,.2,1.45), background-color .2s ease, opacity .4s ease);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.animation-swing{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							@include transform(rotate(20deg));
							&.top{
								@include transform(translate(-50%, 0) rotate(20deg));
							}
							&.right{
								@include transform(translate(0, -50%) rotate(20deg));
							}
							&.bottom{
								@include transform(translate(-50%, 0) rotate(20deg));
							}
							&.left{
								@include transform(translate(0, -50%) rotate(20deg));
							}
						}
						&.hover_trigger{
							&.show-desc,
							&:hover{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									@include transform(rotate(0));
									@include transition(opacity .3s ease, background-color .2s ease, transform .3s cubic-bezier(.15,.48,.2,1.45));
									&.top{
										@include transform(translate(-50%, 0) rotate(0deg));
									}
									&.right{
										@include transform(translate(0, -50%) rotate(0deg));
									}
									&.bottom{
										@include transform(translate(-50%, 0) rotate(0deg));
									}
									&.left{
										@include transform(translate(0, -50%) rotate(0deg));
									}
								}
							}
						}
						&.click_trigger{
							&.show-desc,
							&.active{
								.cws-tooltip{
									opacity: 1;
									visibility: visible;
									@include transform(rotate(0));
									@include transition(opacity .3s ease, background-color .2s ease, transform .3s cubic-bezier(.15,.48,.2,1.45));
									&.top{
										@include transform(translate(-50%, 0) rotate(0deg));
									}
									&.right{
										@include transform(translate(0, -50%) rotate(0deg));
									}
									&.bottom{
										@include transform(translate(-50%, 0) rotate(0deg));
									}
									&.left{
										@include transform(translate(0, -50%) rotate(0deg));
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.animation-slide{
		.elementor-widget-container{
			.cwstooltip-wrapper{
				.cws-hotspots{
					.hotspot-item{
						.cws-tooltip{
							opacity: 1;
							visibility: visible;
							left: -3000px;
							&.top{
								bottom: 100%;
							}
							&.top-right{
								bottom: 100%;
							}
							&.right{
								top: 50%;
								@include transform(translateY(-50%));
							}
							&.bottom-right{
								top: 100%;
							}
							&.bottom{
								top: 100%;
							}
							&.bottom-left{
								top: 100%;
								right: -3000px;
								left: auto;
							}
							&.left{
								right: -3000px;
								left: auto;
								top: 50%;
								@include transform(translateY(-50%));
							}
							&.top-left{
								bottom: 100%;
								right: -3000px;
								left: auto;
							}
						}
						&.hover_trigger{
							&.show-desc,
							&:hover{
								.cws-tooltip{
									&.top{
										left: 50%;
										@include transform(translateX(-50%));
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.top-right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom-right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom{
										left: 50%;
										@include transform(translateX(-50%));
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom-left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.top-left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
								}
							}
						}
						&.click_trigger{
							&.show-desc,
							&.active{
								.cws-tooltip{
									&.top{
										left: 50%;
										@include transform(translateX(-50%));
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.top-right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom-right{
										left: 100%;
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom{
										left: 50%;
										@include transform(translateX(-50%));
										@include transition(left .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.bottom-left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
									&.top-left{
										right: 100%;
										@include transition(right .5s cubic-bezier(.15,.48,.41,1.29), background-color .2s ease);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include transition(cubic-bezier(.09,1.03,.72,.75));
	.elementor-widget-container{
		.cwstooltip-wrapper{
			font-size: 0px;
			@include border-radius(inherit);
			img{
				@include border-radius(inherit);
			}
			.cws-hotspots{
				position: absolute;
				left: 0; right: 0;
				top: 0; bottom: 0;
				.hotspot-item{
					position: absolute;
					@include transform(translate(-50%, -50%));
					&.tips-icon{
						
					}
					&.tips-dots{
						.tip{
							i{
								&:after{
									content: '';
									position: absolute;
									left: 50%;
									top: 50%;
									@include transform(translate(-50%, -50%));
									@include border-radius(50%);
								}
							}
						}
						&.pulse-active{
							.tip{
								&:before{
									content: '';
									width: 98%;
									height: 98%;
									position: absolute;
									left: 50%;
									top: 50%;
									@include transform(translate(-50%, -50%));
									@include border-radius(50%);
									-webkit-animation: cws_pulse 2s infinite;
									   -moz-animation: cws_pulse 2s infinite;
											animation: cws_pulse 2s infinite;
								}
							}
						}
					}
					&.tips-number{
						.tip{
							text-align: center;
						}
					}
					.tip{
						position: relative;
						display: block;
						i{
							position: relative;
							font-style: normal;
							display: block;
						}
					}
					.cws-tooltip{
						position: absolute;
						display: block;
						min-width: 135px;
						font-size: 14px;
						@include border-radius(3px);
						opacity: 0;
						visibility: hidden;
						.cws-tooptip-title{
							font-weight: bold;
							margin-bottom: 5px;
						}
						.cws-tooptip-title,
						.cws-tooptip-content{
							display: block;
							line-height: 1.4;
							@include transition(color .2s ease);
						}
					}
				}
			}
		}
	}
}