#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:100%; 
	height: 100%;
	/*display: none;*/


	overflow: hidden;
	z-index: 100;
	
	


	}
#slider{ /* Оболочка слайдера */
	width:100%; 
	height: 95%;	
	overflow: hidden;
	position: relative;
	/*overflow: scroll;*/

	/*border:#eee solid 10px;*/
	
}

#close-baner{
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	right: 0;
	overflow:hidden;
	text-align: center;
	background:white;
	z-index:90;
	border: 1px white solid;
	text-decoration: none;
	cursor: pointer;
	color: black;
	border: 1px white solid;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

#close-baner:hover{
	color: red;
}

.slide{ /* Слайд */
	width:100%;
	height:100%;
	}

.slideheader{
    text-align: center;
	background: rgba(255,255,255,1);

/*border-bottom: 1px black solid;*/
z-index: 10;
}

.post-in-slide{
	
position: relative;
}

.slidecontent{
	position: relative;
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #5b5b5a;

height: 88%;

border: 1px solid white; /*#B3B3B3*/ /*#eee*/

background: white;
-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

/*.slidecontent img{

margin: 3px;

display: inline-block;
}*/

.slidecontent h1{
    min-width: 206px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 12px 12px;
    background: #de4a4a;
    color: white;
    border: 0;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    outline: 0;
    margin: 10px;
}

.slidecontent h1:hover{
    background:#c64545;
    color:#fff
}

.slidecontent h2{
  font-family: inherit;
  font-size: 36px;

}

.slidecontent h3{
  font-family: inherit;
  font-size: 30px;
  margin: 2px 0 13px 0;
}

.slidecontent p{
  font-family: inherit;
  font-size: 12px;
  font-style: italic;
  color: #a2a2a2;
}

.banner-link {
  text-decoration: none;
}
.banner-link:hover {
  text-decoration: none;
}

.slidefooter{
	position: relative;
    height: 12%;
    

background: rgba(255,255,255,1);
border-top: 1px solid #CCC;
z-index: 10;
}
.slidefooter > *{
	display: table-cell;
	vertical-align: middle;
}
.slidestar{
	float: left;
	width: 50%
}
.slideinfo{
	float: right;
	text-align: center;
	height: 100%;
	width: 50%;
	vertical-align: middle;
}

.slide .admin{ /* Слайд */
display: none;
}

.banner-title{
/*font-family: comic sans ms,sans-serif;*/

border: 1px solid #E5E5E5;
border-radius: 4px;
padding: 0px 5px 0px 5px;
color: blue;
}

.banner-title:hover{
text-decoration: none;
color: #cf0404 !important;
}


.sli-links{ /* Кнопки смены слайдов */
	/*margin-top:10px;*/
	text-align:center;
	position: relative;
	height: 5%;
	background: rgba(0,0,0,0.1);
	border-top: 1px solid #CCC;
	
}
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../img/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}
.sli-links .control-slide.active{
	background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
	display:block;
	width:15px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(../img/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;
}
#prewbutton{left:10px;}
#nextbutton{
	right:10px;
	background:url(../img/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;}