/*  ====================
	Footer styles
====================  */
body{
	&:not(.side_panel_show){
		.page_footer.fixed,
		.copyrights_area.fixed{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	&.cws_default{
		.copyrights_area{
			&.absolute{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
	}
}
.page_footer{
	position: relative;
	.bg_layer,
	.footer-pattern{
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}
.copyrights_area{
	.copyrights_container{
		@include flex(row, nowrap, space-between, center);
		&.a-center{
			text-align: center;
		}
		&.a-left{
			text-align: left;
		}
		&.a-right{
			text-align: right;
		}
		> *:not(:last-child){
			padding-right: 15px;
		}
		.footer_nav_part{
			display: -webkit-box;
			display: -moz-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			@include simple-flex(1 1 auto);
			&.menu-left{
				-webkit-justify-content: flex-start;
				   -moz-justify-content: flex-start;
					-ms-justify-content: flex-start;
						justify-content: flex-start;
			}
			&.menu-right{
				-webkit-justify-content: flex-end;
				   -moz-justify-content: flex-end;
					-ms-justify-content: flex-end;
						justify-content: flex-end;
			}
		}
	}
}
.footer_container{
	@include flex(row, wrap, flex-start, flex-start);
	.cws-widget{
		width: 100%;
		margin: 15px 35px;
		.widget-title{
			.inherit-wt{
				font-size: inherit;
				font-weight: 400;
			}
		}
	}
	&.col-1{
		.cws-widget{
			margin: 15px 0;
		}
	}
	&.col-2{
		.cws-widget{
			width: calc(50% - 35px);
			&:first-child,
			&:nth-of-type(2n+1){
				margin-left: 0;
			}
			&:nth-of-type(2n){
				margin-right: 0;
			}
		}
	}
	&.col-3{
		.cws-widget{
			width: calc(33.3% - 70px);
			&:first-child,
			&:nth-of-type(3n+1){
				margin-left: 0;
				width: calc(33.3% - 35px)
			}
			&:nth-of-type(3n){
				margin-right: 0;
				width: calc(33.3% - 35px)
			}
		}
	}
	&.col-4{
		.cws-widget{
			width: calc(25% - 70px);
			&:first-child,
			&:nth-of-type(4n+1){
				margin-left: 0;
				width: calc(25% - 35px);
			}
			&:nth-of-type(4n){
				margin-right: 0;
				width: calc(25% - 35px);
			}
		}
	}
	&.col-two-three{
		> .cws-widget{
			width: calc(66.6% - 35px);
			&:first-child,
			&:nth-of-type(2n+1){
				margin-left: 0;
			}
			&:nth-child(2n){
				width: calc(33.3% - 35px);
				margin-right: 0;
			}
		}
	}
	&.col-one-two{
		> .cws-widget{
			width: calc(33.3% - 35px);
			&:first-child,
			&:nth-of-type(2n+1){
				margin-left: 0;
			}
			&:nth-child(2n){
				width: calc(66.6% - 35px);
				margin-right: 0;
			}
		}
	}
	&.col-one-three{
		> .cws-widget{
			width: calc(25% - 35px);
			&:first-child,
			&:nth-of-type(2n+1){
				margin-left: 0;
			}
			&:nth-child(2n){
				width: calc(75% - 35px);
				margin-right: 0;
			}
		}
	}
	&.col-one-one-two{
		> .cws-widget{
			width: calc(25% - 70px);
			&:first-child,
			&:nth-of-type(3n+1){
				margin-left: 0;
				width: calc(25% - 35px);
			}
			&:nth-child(3n){
				width: calc(50% - 35px);
				margin-right: 0;
			}
		}
	}
	&.col-two-one-one{
		> .cws-widget{
			width: calc(25% - 70px);
			&:first-child,
			&:nth-of-type(3n+1){
				margin-left: 0;
			}
			&:nth-of-type(3n){
				margin-right: 0;
				width: calc(25% - 35px);
			}
			&:first-child,
			&:nth-child(3n) + .cws-widget{
				width: calc(50% - 35px);
			}
		}
	}
	&.col-one-two-one{
		> .cws-widget{
			width: calc(25% - 70px);
			&:first-child,
			&:nth-of-type(3n+1){
				margin-left: 0;
				width: calc(25% - 35px);
			}
			&:nth-of-type(3n){
				margin-right: 0;
				width: calc(25% - 35px);
			}
			&:nth-child(2),
			&:nth-child(3n+2){
				width: calc(50% - 70px);
			}
		}
	}
}
.cryptop-new-layout{
	.footer_container{
		.cws-widget{
			.widget-title{
				font-size: 1.65em;
			}
		}
	}
}