/*  ====================
	Header styles
====================  */
body{
	&:not(.cws_mobile){
		.site_header.logo-left .header_logo_part .logo,
		.header_logo_part .logo{
			@include flex(row, nowrap, center, center);
		}
	}
}

.cws_mobile .site_header,
.site_header{
	&.menu-right.logo-in-menu .menu_box,
	&.menu-right .menu_box{
			.main-nav-container{
				-webkit-justify-content: flex-end;
				   -moz-justify-content: flex-end;
					-ms-justify-content: flex-end;
						justify-content: flex-end;
				text-align: right;
			}
	}
	&.menu-center.logo-in-menu .menu_box,
	&.menu-center .menu_box{
			.main-nav-container{
				-webkit-justify-content: center;
				   -moz-justify-content: center;
					-ms-justify-content: center;
						justify-content: center;
				text-align: center;
			}
	}
	&.menu-left.logo-in-menu .menu_box,
	&.menu-left .menu_box{
			.main-nav-container{
				-webkit-justify-content: flex-start;
				   -moz-justify-content: flex-start;
					-ms-justify-content: flex-start;
						justify-content: flex-start;
				text-align: left;
			}
	}
	&.sticky_enable{
		@include box-shadow(0 1px 3px 5px rgba(0,0,0,.15));
		.header_logo_part{
			.logo{
				.logo_mobile{
					display: none;
				}
			}
		}
	}
}
.header_wrapper{
	position: relative;
	z-index: 5;
	&.header_outside_slider{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 5;
	}
}
body.blog{
	.header_wrapper{
		&.header_outside_slider{
			position: absolute;
			left: 0; top: 0;
			z-index: 10;
			width: 100%;
		}
		.header_cont{
			position: relative;
			.site_header{
				@include box-shadow(0 1px 3px rgba(0,0,0,.15));
			}
		}
	}
}
.site_header{
	.container{
		@include flex(row, nowrap, space-between, center);
	}
	&.logo-center{
		text-align: center;
		.menu-center-part{
			margin: 0 20px;
		}
		.header_logo_part{
			text-align: center;
			.container{
				-webkit-justify-content: center;
				   -moz-justify-content: center;
					-ms-justify-content: center;
						justify-content: center;
			}
		}
	}
	&.logo-in-menu{
		.main-nav-container{
			@include flex(row, nowrap, flex-start, center);
		}
		&.logo-center{
			.menu-left-part{
				width: 100%;
				text-align: right;
				.main-menu{
					text-align: inherit;
				}
			}
			.menu-right-part{
				width: 100%;
				text-align: left;
				.main-menu{
					text-align: inherit;
				}
			}
		}
		.header_logo_part,
		.header_nav_part{
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
		}
		.menu-center-part{
			margin: 0 20px;
		}
	}
	&.logo-right{
		.header_logo_part{
			text-align: right;
			-ms-flex-order: 3;
			 -webkit-order: 3;
					 order: 3;
			.container{
				-webkit-justify-content: flex-end;
				   -moz-justify-content: flex-end;
					-ms-justify-content: flex-end;
						justify-content: flex-end;
			}
		}
	}
	&:not(.logo-in-menu){
		.main-menu{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.header_logo_part{
		@include simple-flex(1 0 auto);
		.logo{
			display: inline-block;
			.logo_sticky,
			.logo_mobile{
				display: none;
			}
		}
	}
	.header_nav_part{
		width: 100%;
		&:not(.topbar_nav_part){
			@include simple-flex(auto);
			-webkit-box-ordinal-group: 3;
			   -moz-box-ordinal-group: 3;
			-webkit-order: 2;
				-ms-order: 2;
					order: 2;
		}
	}
	&:not(.logo-left){
		&:not(.logo-in-menu){
			.main-nav-container{
				.menu_left_icons{
					div:first-child{
						padding-left: 0;
					}
				}
			}
		}
	}
	.main-nav-container{
		@include flex(row, nowrap, center, center);
		.menu_left_icons,
		.menu_center_icons,
		.menu_right_icons{
			@include flex(row, nowrap, space-between, center);
			-webkit-flex-grow: 1;
			   -moz-flex-grow: 1;
				-ms-flex-grow: 1;
					flex-grow: 1;
		}
		.menu_left_icons{
			-webkit-justify-content: flex-start;
			   -moz-justify-content: flex-start;
				-ms-justify-content: flex-start;
					justify-content: flex-start;
			.menu_icons_wrapper{
				> *{
					padding: 12px 15px;
					position: relative;
					&:first-child{
						padding-left: 0;
					}
					&:not(:last-child){
						&:after{
							content: '';
							width: 1px;
							height: 20px;
							position: absolute;
							top: 50%;
							right: 0;
							@include transform(translateY(-50%));
							background-color: rgba(255, 255, 255, 0.3);
						}
					}
				}
				.menu-bar{
					-ms-flex-order: 0;
					 -webkit-order: 0;
							 order: 0;
				}
				.side_panel_icon{
					padding: 26px 24.5px;
				}
			}
		}
		.menu_right_icons{
			-webkit-justify-content: flex-end;
			   -moz-justify-content: flex-end;
				-ms-justify-content: flex-end;
					justify-content: flex-end;
			.menu_icons_wrapper{
				.mini-cart{
					margin: 0 0 0 10px;
					&:before{ //woocommerce
						content: '\f13a';
						opacity: 1;
						line-height: 27px;
						font-family: Flaticon;
						font-style: normal;
						display: inline-block;
						font-size: 19px;
						@include transition(color .2s ease);
					}
					&:hover{ //woocommerce
						.woo_mini_cart{
							border: 1px solid #f2f2f2;
							visibility: visible;
							opacity: 1;
							@include transform(scale(1));
						}
					}
					.woo_icon{
						display: none; //woocommerce
					}
					.woo_mini_cart{ //wocommerce
						position: absolute;
						top: 100%;
						right: 0;
						z-index: 1;
						margin-top: 4px;
						width: 370px;
						padding: 28px 20px;
						background-color: #fff;
						text-align: center;
						@include box-sizing;
						@include transform(scale(0));
						visibility: hidden;
						opacity: 0;
						@include border-radius(14px);
						@include box-shadow(0 0 12px rgba(0,0,0,.12));
						@include transition(all .3s ease-in-out 0s);
					}
					.woocommerce-mini-cart__empty-message{
						padding: 15px;
						line-height: 30px;
					}
				}
				>*{
					padding: 12px 15px;
					position: relative;
					&:last-child{
						padding-right: 0;
					}
					&:not(:first-child){
						&:after{
							content: '';
							width: 1px;
							height: 20px;
							position: absolute;
							top: 50%;
							left: 0;
							@include transform(translateY(-50%));
							background-color: rgba(255, 255, 255, 0.3);
						}
					}
				}
				.side_panel_icon{
					padding: 26px 24.5px;
				}
				div:last-child{
					padding-right: 0;
				}
			}
		}
	}
	.search_menu{
		display: inline-block;
		vertical-align: middle;
		line-height: 26px;
		cursor: pointer;
		text-align: right;
		&:before{
			content: '\f002';
			font-family: 'FontAwesome';
			font-size: 19px;
			display: inline-block;
			@include transition(color .2s linear 0s);
		}
	}
}
.header_zone{
	position: relative;
	.header_overlay{
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}
.header_container{
	.header_zone{
		.side_panel_icon{
			@include transition(all .3s ease);
		}
	}
	.menu_box{
		.main-nav-container{
			> .menu-left-part,
			> .no-split-menu,
			> .menu-right-part{
				padding: 12px 0;
			}
		}
	}
}
.header_site_title{
	font-weight: 300;
	font-size: 40px;
	padding: 0 10px;
	position: relative;
}
.bg_page_header{
	.bg_layer{
		z-index: 1;
	}
	.bg_layer,
	.stat_img_cont{
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
	}
	.container{
		display: block;
	}
}
.menu_box{
	position: relative;
}
.wide_container{
	width: calc(100% - 80px);
	margin: 0 40px;
}

@import "_menus";

@import "_search";

@import "_top-bar";

@import "_site-title";

@import "../cws/_cws-icons";

@import "_side-panel";

@import "_sticky-header";