/*  -------------------
	Menus styles
-------------------  */
.site_header{
	&.active-sandwich-menu{
		.main-nav-container{
			.main-menu{
				&.items-visible{
					.menu-item{
						visibility: visible;
						opacity: 1;
						top: 0;
					}
				}
				.menu-item{
					visibility: hidden;
					opacity: 0;
					top: 15px;
					@include transition(all 0s ease);
					&:first-child{
						@include transition-duration(250ms);
						@include transition-delay(60ms);
					}
					&:nth-of-type(2){
						@include transition-duration(350ms);
						@include transition-delay(120ms);
					}
					&:nth-of-type(3){
						@include transition-duration(450ms);
						@include transition-delay(180ms);
					}
					&:nth-of-type(4){
						@include transition-duration(550ms);
						@include transition-delay(220ms);
					}
					&:nth-of-type(5){
						@include transition-duration(650ms);
						@include transition-delay(280ms);
					}
					&:nth-of-type(6){
						@include transition-duration(750ms);
						@include transition-delay(320ms);
					}
					&:nth-of-type(n+6){
						@include transition-duration(850ms);
						@include transition-delay(380ms);
					}
				}
			}
		}
	}
}
.main-nav-container{
	.main-menu{
		> .menu-item{
			display: inline-block;
			vertical-align: middle;
			padding-left: 9px;
			text-align: left;
			&.right{
				>.sub-menu{
					left: auto;
					right: 0;
				}
			}
			&.menu-item-object-megamenu_item,
			&.menu-item-has-children{
				> a:before,
				> .cws_megamenu_item_title:before,
				> a:after,
				> .cws_megamenu_item_title:after{
					content: '\f12c';
					font-family: 'cwsicon';
					display: inline-block;
					position: absolute;
					font-size: 8px;
					right: -8px;
					top: 4px;
					@include transform(rotate(180deg));
				}
				> a:before,
				> .cws_megamenu_item_title:before{
					@include transition(top .2s linear);
					opacity: .5;
				}
				&:hover{
					> a:before,
					> .cws_megamenu_item_title:before{
						top: 9px;
					}
				}
			}
			> a{
				line-height: 1;
			}
			> .button_open{
				display: none;
			}
			.sub-menu{
				margin-top: 13px;
			}
		}
		&:not(.mobile_menu){
			> .menu-item{
				.sub-menu{
					.menu-item{
						> .sub-menu{
							right: 100%;
							z-index: 1;
							margin: 0 2px 0 0;
							left: auto;
							top: 12px;
						}
					}
				}
			}
		}
	}
	.menu-item{
		cursor: pointer;
		position: relative;
		> a,
		> span{
			position: relative;
			display: block;
			width: 100%;
			padding: 0 12px;
		}
		&:hover{
			> .sub-menu{
				max-height: 2000px;
				opacity: 1;
				visibility: visible;
				@include transform(scale(1));
				-webkit-transition-delay: .2s;
						transition-delay: .2s;
			}
			> .button_open{
				color: #fff;
			}
		}
		.sub-menu{
			margin: 0;
			padding: 10px 0;
			@include border-radius(4px);
			@include box-shadow(3px 3px 10px 0 rgba(0,0,0,.5));
			@include flex(column, nowrap, flex-start, flex-start);
			background-color: #ffffff;
			position: absolute;
			top: 100%; left: 0;
			max-height: 0;
			@include transform(scale(0));
			-webkit-transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.2s transform cubic-bezier(0.1, 1.26, 0.83, 1);
		   	-moz-transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.2s transform cubic-bezier(0.1, 1.26, 0.83, 1);
			-ms-transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.2s transform cubic-bezier(0.1, 1.26, 0.83, 1);
			-o-transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.2s transform cubic-bezier(0.1, 1.26, 0.83, 1);
			transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.2s transform cubic-bezier(0.1, 1.26, 0.83, 1);
			opacity: 0;
			visibility: hidden;
		}
	}
	.sub-menu{
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			width: calc(100% + 60px);
			height: calc(100% + 30px);
			top: -15px; left: -30px;
		}
		.menu-item{
			width: 100%;
			padding: 8px 12px;
			@include flex(row, nowrap, space-between, center);
			&.menu-item-has-children{
				padding: 8px 36px 8px 12px;
			}
			&.current_page_item{
				a{
					color: #fff;
				}
			}
			&.menu-item-has-children{
				&:before,
				&:after{
					content: '\f12c';
					font-family: 'Flaticon';
					display: inline-block;
					position: absolute;
					font-size: 8px;
					right: 15px;
					top: 11px;
					@include transform(rotate(180deg));
					background: none;
				}
				&:after{
					@include transition(top .2s linear);
					opacity: 0.5;
				}
				&:hover{
					&:before,
					&:after{
						color: #fff;
					}
				}
			}
			&:hover{
				> a{
					color: #fff;
				}
				&:after{
					top: 16px;
				}
			}
			> a{
				text-transform: capitalize;
				white-space: nowrap;
				@include transition(none);
			}
		}
	}
	.menu_left_icons{
		.menu_icons_wrapper{
			@include flex(row, nowrap, flex-start, center);
		}
	}
	.menu_right_icons{
		.menu-bar{
			.ham{
				width: 20px;
				&:before,
				&:after{
					width: inherit;
				}
			}
		}
		.menu_icons_wrapper{
			@include flex(row, nowrap, flex-end, center);
		}
	}
	.menu-bar{
		min-width: 35px;
		height: 2px;
		vertical-align: middle;
		@include simple-flex(1 0 auto);
    	-ms-flex-order: 3;
		 -webkit-order: 3;
				 order: 3;
		&.items-visible{
			.ham{
				background-color: transparent !important;
				&:before{
					@include transform(rotateZ(-45deg));
					width: 26px;
					top: 0;
				}
				&:after{
					@include transform(rotateZ(45deg));
					width: 26px;
					top: 0;
				}
			}
		}
		.ham{
			display: block;
			position: relative;
			top: -1px;
			height: 1px;
			width: auto;
			opacity: 1;
			@include transition(all .3s ease);
			&:before,
			&:after{
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: inherit;
				@include transition(all .3s ease);
			}
			&:before{
				top: -8px;
			}
			&:after{
				top: 8px;
			}
		}
	}
}

@import "_mobile-menu.scss";