/*  -------------------
	Mobile menu
-------------------  */
.cws_tablet,
.cws_mobile{
	&.show_mobile_menu{
		.header_nav_part{
			.main-menu{
				display: none;
			}
		}
		.menu_box{
			.search_menu{
				display: none;
			}
		}
	}
	.mobile_menu{
		display: block;
		padding: 0 150px;
		ul{
			li{
				line-height: initial;
			}
		}
		li{
			position: relative;
			overflow: hidden;
			padding: 0;
			border-bottom-width: 1px;
			border-style: solid;
			@include transition(border-width .2s ease);
			padding: 5px 0;
			&.active{
				border-width: 0;
				> .menu_row{
					.button_open{
						&:before{
							@include transform(rotate(90deg));
						}
					}
				}
			}
			&:last-child{
				&:before{
					display: none;
				}
			}
		}
		> li{
			left: -30px;
			top: -30px;
			opacity: 0;
			@include transition(top .3s ease, left .3s ease, opacity .3s linear);
			&:first-child{
				transition-delay: .3s;
			}
			&:nth-of-type(2){
				transition-delay: .35s;
			}
			&:nth-of-type(3){
				transition-delay: .4s;
			}
			&:nth-of-type(4){
				transition-delay: .45s;
			}
			&:nth-of-type(5){
				transition-delay: .5s;
			}
			&:nth-of-type(6){
				transition-delay: .55s;
			}
			&:nth-of-type(n+7){
				transition-delay: .6s;
			}
		}
		.sub-menu{
			li{
				.menu_row{
					padding-left: 0;
				}
			}
		}
	}
	.site_header{
		.menu-left-part{
			text-align: right;
		}
		.header_logo_part{
			text-align: center;
			.logo{
				.logo_mobile{
					display: block;
				}
				.logo_default{
					display: none;
				}
			}
		}
		.menu-right-part{
			text-align: left;
		}
		.main-nav-container{
			@include flex(row, nowrap, flex-start, center);
		}
		.menu-center-part{
			margin: 0 20px;
		}
	}
}
.mobile_menu_hamburger{
	display: none;
	vertical-align: middle;
	margin: 0;
	font-size: 0;
	width: 40px;
	.mobile_menu_hamburger_wrapper{
		width: 100%;
		height: 100%;
		padding: 5px;
		@include box-sizing;
		position: relative;
		span{
		    width: 3px;
		    height: 3px;
		    background-color: #4e4e4e;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    @include border-radius(50%);
		    @include transform(translate(-50%, -50%));
			@include transition(margin .4s ease .4s, width .4s ease);
		    &:nth-of-type(1) {
		      margin-top: -8px;
		      margin-left: -8px;
		      @include transform(translate(-50%, -50%) rotate(45deg));
		    }
		    &:nth-of-type(2) {
		      margin-top: -8px;
		      @include transform(translate(-50%, -50%) rotate(-45deg));
		    }
		    &:nth-of-type(3) {
		      margin-top: -8px;
		      margin-left: 8px;
		    }
		    &:nth-of-type(4) {
		      margin-left: -8px;
		    }
		    &:nth-of-type(5){

		    }
		    &:nth-of-type(6) {
		      margin-left: 8px;
		    }
		    &:nth-of-type(7) {
		      margin-top: 8px;
		      margin-left: -8px;
		    }
		    &:nth-of-type(8) {
		      margin-top: 8px;
		    }
		    &:nth-of-type(9) {
		      margin-top: 8px;
		      margin-left: 8px;
		    }
		}
	}
	&.is-active{
		.mobile_menu_hamburger_wrapper{
			span {
				@include transition(margin .4s ease, width .4s ease .4s, height .4s ease .4s);
				margin-left: 0;
				margin-top: 0;
				&:nth-of-type(1) {
				  width: 25px;
				  height: 2px;
				}
				&:nth-of-type(2) {
				  width: 25px;
				  height: 2px;
				}
			}
		}
	}
}
.mobile_menu_wrapper{
	position: fixed;
	bottom: 300vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 30;
	display: none;
	@include transition(top .4s linear 0s);
	&.active_menu{
		top: 0;
		overflow-y: scroll;
		.close_menu{
			top: 20px;
			opacity: 1;
		}
		.mobile_menu{
			> li{
				top: 0;
				left: 0;
				opacity: 1;
			}
		}
	}
	&.light{
		.mobile_menu_container{
			background-color: #fff;
		}
		.mobile_menu{
			li{
				border-color: rgba(0,0,0,.15);
				&.active{
					> .menu_row{
						.button_open{
							&:before{
								color: #000;
							}
						}
						> a{
							color: #000;
						}
					}
				}
				&:hover{
					a,
					.cws_megamenu_item_title{
						color: rgba(0,0,0,1);
					}
				}
				a,
				.cws_megamenu_item_title{
					color: rgba(0,0,0,.8);
				}
			}
		}
		.close_menu{
			&:before,
			&:after{
				background-color: #000;
			}
		}
	}
	&.dark{
		.mobile_menu_container{
			background-color: #000;
		}
		.mobile_menu{
			li{
				border-color: rgba(255,255,255,.15);
				&:last-child{
					border-color: #fff;
				}
				&.active{
					> .menu_row{
						.button_open{
							&:before{
								color: #fff;
							}
						}
						> a{
							color: #fff;
						}
					}
				}
				&:hover{
					a,
					.cws_megamenu_item_title{
						color: rgba(255,255,255,1);
					}
				}
				a,
				.cws_megamenu_item_title{
					color: rgba(255,255,255,.8);
				}
			}
		}
		.close_menu{
			&:before,
			&:after{
				background-color: #fff;
			}
		}
	}
	.close_menu{
		position: absolute;
		right: 20px;
		top: -50px;
		padding: 30px;
		z-index: 2;
		opacity: 0;
		@include transition(top .4s ease, opacity .4s linear);
		transition-delay: .6s;
		&:before,
		&:after{
			content: '';
			position: absolute;
			left: 10px;
			top: 30px;
			width: 40px;
			height: 1px;
		}
		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}
	}
	.mobile_menu_container{
		width: 100%;
		height: auto;
		min-height: 100%;
		padding: 80px 0;
		.menu-item-object-megamenu_item, //Remove from structure
		.menu-item-has-children{ //Remove from structure
			&:after,
			&:before{
				content: '\f109';
				font-family: 'Flaticon';
				display: inline-block;
				position: absolute;
				font-size: 8px;
				right: 10px;
				top: 10px;
				@include transform(rotate(-90deg));
				@include transition(top .2s linear, opacity .2s linear);
			}
			&.active_menu{
				&:after{
					opacity: .5;
					top: 9px;
				}
			}
		}
	}
	.search_menu_wrap{
		position: relative;
		display: block;
		background-color: transparent;
		width: inherit;
		height: auto;
		.search_menu_cont{
			.search_back_button{
				display: none;
			}
			.container{
				padding: 0;
				margin: 0;
				width: 100%;
				height: auto;
				display: block;
				.search-form{
					position: relative;
					width: 100%;
					@include transform(translate(0));
					top: 0;
					left: 0;
					padding-left: 25px;
					&:before{
						content: '\f002';
						font-family: 'FontAwesome';
						position: absolute;
						left: 0;
						top: 5px;
						font-size: 18px;
						color: #fff;
					}
					label{
						display: none;
					}
					.search-field{
						height: auto;
						font-size: 16px;
						background-color: transparent;
						width: 100%;
						@include border-radius(0);
						border-bottom: 0;
						color: #fff;
						&::placeholder{
							color: rgba(255,255,255,.8);
						}
						::-ms-input-placeholder{
							color: rgba(255,255,255,.8);
						}
						:-ms-input-placeholder{
							color: rgba(255,255,255,.8);
						}
					}
				}
			}
		}
	}
}
.mobile_menu{
	.menu_row{
		height: 36px;
		padding: 0;
		@include flex(row, nowrap, space-between, center);
	}
	.menu-item{
		a{
			@include transition(color .3s ease);
			white-space: nowrap;
		}
	}
	.button_open{
		position: relative;
		width: 100%;
		font-size: 15px;
		text-align: right;
		padding: 10px 0;
		&:before{
			content: '\f105';
			display: inline-block;
			font-family: 'FontAwesome';
			position: relative;
			right: 15px;
			@include transition(transform .3s ease, color .3s ease);
		}
	}
	.sub-menu{
		position: relative;
		padding: 5px 0 5px 20px;
		opacity: 1;
		display: none;
		> .menu-item{
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}