/*  -------------------
	Sticky header
-------------------  */
.sticky_header_wrapper{
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	z-index: 10;
	@include transform(translateY(-100%));
	@include transition(transform .2s linear);
	&.sticky_active{
		@include transform(translateY(10px));
	}
	.header_logo_part{
		.logo{
			.logo_sticky{
				display: inline-block;
			}
			.logo_default{
				display: none;
			}
		}
	}
}