    /*
    Flaticon icon font: Flaticon
    Creation date: 26/07/2018 08:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bookmark-2:before { content: "\f100"; }
.flaticon-bookmark-1:before { content: "\f101"; }
.flaticon-bookmark:before { content: "\f102"; }
.flaticon-black-shop-tag:before { content: "\f103"; }
.flaticon-tag-1:before { content: "\f104"; }
.flaticon-price-1:before { content: "\f105"; }
.flaticon-right-quote-sign:before { content: "\f106"; }
.flaticon-play-button-1:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-zcash-1:before { content: "\f109"; }
.flaticon-ripple-1:before { content: "\f10a"; }
.flaticon-dash-1:before { content: "\f10b"; }
.flaticon-monero-2:before { content: "\f10c"; }
.flaticon-bitcoin-70:before { content: "\f10d"; }
.flaticon-ethereum-3:before { content: "\f10e"; }
.flaticon-bitcoin-69:before { content: "\f10f"; }
.flaticon-ethereum-2:before { content: "\f110"; }
.flaticon-litecoin-1:before { content: "\f111"; }
.flaticon-share:before { content: "\f112"; }
.flaticon-cart-1:before { content: "\f113"; }
.flaticon-supermarket:before { content: "\f114"; }
.flaticon-shopping-carts:before { content: "\f115"; }
.flaticon-cart:before { content: "\f116"; }
.flaticon-unlink:before { content: "\f117"; }
.flaticon-link-1:before { content: "\f118"; }
.flaticon-link-button:before { content: "\f119"; }
.flaticon-search:before { content: "\f11a"; }
.flaticon-list-3:before { content: "\f11b"; }
.flaticon-list-2:before { content: "\f11c"; }
.flaticon-menu-6:before { content: "\f11d"; }
.flaticon-menu-5:before { content: "\f11e"; }
.flaticon-circles:before { content: "\f11f"; }
.flaticon-menu-4:before { content: "\f120"; }
.flaticon-menu-3:before { content: "\f121"; }
.flaticon-list-1:before { content: "\f122"; }
.flaticon-menu-2:before { content: "\f123"; }
.flaticon-menu-1:before { content: "\f124"; }
.flaticon-menu:before { content: "\f125"; }
.flaticon-info:before { content: "\f126"; }
.flaticon-danger:before { content: "\f127"; }
.flaticon-no-waiting:before { content: "\f128"; }
.flaticon-checkmark:before { content: "\f129"; }
.flaticon-edit:before { content: "\f12a"; }
.flaticon-right-arrow:before { content: "\f12b"; }
.flaticon-up-chevron:before { content: "\f12c"; }
.flaticon-briefcase-2:before { content: "\f12d"; }
.flaticon-exchange-3:before { content: "\f12e"; }
.flaticon-diamond:before { content: "\f12f"; }
.flaticon-bitcoin-68:before { content: "\f130"; }
.flaticon-bitcoin-67:before { content: "\f131"; }
.flaticon-bitcoin-66:before { content: "\f132"; }
.flaticon-bitcoin-65:before { content: "\f133"; }
.flaticon-briefcase-1:before { content: "\f134"; }
.flaticon-bitcoin-64:before { content: "\f135"; }
.flaticon-worldwide-1:before { content: "\f136"; }
.flaticon-idea:before { content: "\f137"; }
.flaticon-leadership:before { content: "\f138"; }
.flaticon-teamwork-1:before { content: "\f139"; }
.flaticon-loupe:before { content: "\f13a"; }
.flaticon-objective:before { content: "\f13b"; }
.flaticon-clock:before { content: "\f13c"; }
.flaticon-consulting:before { content: "\f13d"; }
.flaticon-seminar:before { content: "\f13e"; }
.flaticon-wrong:before { content: "\f13f"; }
.flaticon-blockchain:before { content: "\f140"; }
.flaticon-bitcoin-63:before { content: "\f141"; }
.flaticon-price:before { content: "\f142"; }
.flaticon-reply:before { content: "\f143"; }
.flaticon-send:before { content: "\f144"; }
.flaticon-wall-clock:before { content: "\f145"; }
.flaticon-pin:before { content: "\f146"; }
.flaticon-qr-code:before { content: "\f147"; }
.flaticon-chat:before { content: "\f148"; }
.flaticon-eye:before { content: "\f149"; }
.flaticon-upload-1:before { content: "\f14a"; }
.flaticon-bitcoin-62:before { content: "\f14b"; }
.flaticon-bitcoin-61:before { content: "\f14c"; }
.flaticon-consultant:before { content: "\f14d"; }
.flaticon-driver:before { content: "\f14e"; }
.flaticon-financial-analyst:before { content: "\f14f"; }
.flaticon-at:before { content: "\f150"; }
.flaticon-smartphone-1:before { content: "\f151"; }
.flaticon-link:before { content: "\f152"; }
.flaticon-telephone:before { content: "\f153"; }
.flaticon-heart-1:before { content: "\f154"; }
.flaticon-left-arrow-angle:before { content: "\f155"; }
.flaticon-bitcoin-60:before { content: "\f156"; }
.flaticon-tag:before { content: "\f157"; }
.flaticon-star-1:before { content: "\f158"; }
.flaticon-star:before { content: "\f159"; }
.flaticon-move-to-the-next-page-symbol:before { content: "\f15a"; }
.flaticon-left-arrow-chevron:before { content: "\f15b"; }
.flaticon-team:before { content: "\f15c"; }
.flaticon-brainstorming:before { content: "\f15d"; }
.flaticon-teamwork:before { content: "\f15e"; }
.flaticon-users:before { content: "\f15f"; }
.flaticon-laptop-1:before { content: "\f160"; }
.flaticon-data:before { content: "\f161"; }
.flaticon-chip:before { content: "\f162"; }
.flaticon-tick:before { content: "\f163"; }
.flaticon-bitcoin-59:before { content: "\f164"; }
.flaticon-pay:before { content: "\f165"; }
.flaticon-barcode:before { content: "\f166"; }
.flaticon-wallet:before { content: "\f167"; }
.flaticon-cross-remove-sign:before { content: "\f168"; }
.flaticon-list:before { content: "\f169"; }
.flaticon-strategy:before { content: "\f16a"; }
.flaticon-gear-1:before { content: "\f16b"; }
.flaticon-coffee-cup:before { content: "\f16c"; }
.flaticon-rocket:before { content: "\f16d"; }
.flaticon-store:before { content: "\f16e"; }
.flaticon-business-and-finance:before { content: "\f16f"; }
.flaticon-briefcase:before { content: "\f170"; }
.flaticon-cogwheel:before { content: "\f171"; }
.flaticon-bitcoin-58:before { content: "\f172"; }
.flaticon-bitcoin-57:before { content: "\f173"; }
.flaticon-bitcoin-56:before { content: "\f174"; }
.flaticon-bitcoin-55:before { content: "\f175"; }
.flaticon-bitcoin-54:before { content: "\f176"; }
.flaticon-bitcoin-53:before { content: "\f177"; }
.flaticon-bitcoin-52:before { content: "\f178"; }
.flaticon-bitcoin-51:before { content: "\f179"; }
.flaticon-bitcoin-50:before { content: "\f17a"; }
.flaticon-bitcoin-49:before { content: "\f17b"; }
.flaticon-bitcoin-48:before { content: "\f17c"; }
.flaticon-bitcoin-47:before { content: "\f17d"; }
.flaticon-bitcoin-46:before { content: "\f17e"; }
.flaticon-bitcoin-45:before { content: "\f17f"; }
.flaticon-bitcoin-44:before { content: "\f180"; }
.flaticon-bitcoin-43:before { content: "\f181"; }
.flaticon-bitcoin-42:before { content: "\f182"; }
.flaticon-bitcoin-41:before { content: "\f183"; }
.flaticon-bitcoin-40:before { content: "\f184"; }
.flaticon-bitcoin-39:before { content: "\f185"; }
.flaticon-bitcoin-38:before { content: "\f186"; }
.flaticon-bitcoin-37:before { content: "\f187"; }
.flaticon-bitcoin-36:before { content: "\f188"; }
.flaticon-bitcoin-35:before { content: "\f189"; }
.flaticon-bitcoin-34:before { content: "\f18a"; }
.flaticon-bitcoin-33:before { content: "\f18b"; }
.flaticon-bitcoin-32:before { content: "\f18c"; }
.flaticon-bitcoin-31:before { content: "\f18d"; }
.flaticon-bitcoin-30:before { content: "\f18e"; }
.flaticon-bitcoin-29:before { content: "\f18f"; }
.flaticon-upload:before { content: "\f190"; }
.flaticon-check:before { content: "\f191"; }
.flaticon-testing-glasses:before { content: "\f192"; }
.flaticon-test-1:before { content: "\f193"; }
.flaticon-test:before { content: "\f194"; }
.flaticon-gear:before { content: "\f195"; }
.flaticon-heart:before { content: "\f196"; }
.flaticon-verification-mark:before { content: "\f197"; }
.flaticon-zcash:before { content: "\f198"; }
.flaticon-bitcoin-28:before { content: "\f199"; }
.flaticon-bitcoin-27:before { content: "\f19a"; }
.flaticon-bitcoin-26:before { content: "\f19b"; }
.flaticon-bitcoin-25:before { content: "\f19c"; }
.flaticon-bitcoin-24:before { content: "\f19d"; }
.flaticon-monero-1:before { content: "\f19e"; }
.flaticon-bitcoin-23:before { content: "\f19f"; }
.flaticon-monero:before { content: "\f1a0"; }
.flaticon-bitcoin-22:before { content: "\f1a1"; }
.flaticon-dash:before { content: "\f1a2"; }
.flaticon-ethereum-1:before { content: "\f1a3"; }
.flaticon-bitcoin-21:before { content: "\f1a4"; }
.flaticon-ripple:before { content: "\f1a5"; }
.flaticon-exchange-2:before { content: "\f1a6"; }
.flaticon-chains:before { content: "\f1a7"; }
.flaticon-litecoin:before { content: "\f1a8"; }
.flaticon-bitcoin-20:before { content: "\f1a9"; }
.flaticon-ethereum:before { content: "\f1aa"; }
.flaticon-bitcoin-19:before { content: "\f1ab"; }
.flaticon-growth:before { content: "\f1ac"; }
.flaticon-bitcoin-18:before { content: "\f1ad"; }
.flaticon-bitcoin-17:before { content: "\f1ae"; }
.flaticon-bitcoin-16:before { content: "\f1af"; }
.flaticon-suitcase:before { content: "\f1b0"; }
.flaticon-bitcoin-15:before { content: "\f1b1"; }
.flaticon-bitcoin-14:before { content: "\f1b2"; }
.flaticon-bitcoin-13:before { content: "\f1b3"; }
.flaticon-bitcoin-12:before { content: "\f1b4"; }
.flaticon-bitcoin-11:before { content: "\f1b5"; }
.flaticon-safebox:before { content: "\f1b6"; }
.flaticon-bitcoin-10:before { content: "\f1b7"; }
.flaticon-pick-1:before { content: "\f1b8"; }
.flaticon-bitcoin-9:before { content: "\f1b9"; }
.flaticon-profits-1:before { content: "\f1ba"; }
.flaticon-laptop:before { content: "\f1bb"; }
.flaticon-bank:before { content: "\f1bc"; }
.flaticon-credit-card:before { content: "\f1bd"; }
.flaticon-network-1:before { content: "\f1be"; }
.flaticon-keyword:before { content: "\f1bf"; }
.flaticon-smartphone:before { content: "\f1c0"; }
.flaticon-bitcoin-8:before { content: "\f1c1"; }
.flaticon-worldwide:before { content: "\f1c2"; }
.flaticon-bitcoin-7:before { content: "\f1c3"; }
.flaticon-pick:before { content: "\f1c4"; }
.flaticon-piggy-bank:before { content: "\f1c5"; }
.flaticon-network:before { content: "\f1c6"; }
.flaticon-exchange-1:before { content: "\f1c7"; }
.flaticon-bitcoin-6:before { content: "\f1c8"; }
.flaticon-bitcoin-5:before { content: "\f1c9"; }
.flaticon-hacker:before { content: "\f1ca"; }
.flaticon-shopping-cart:before { content: "\f1cb"; }
.flaticon-exchange:before { content: "\f1cc"; }
.flaticon-bitcoin-4:before { content: "\f1cd"; }
.flaticon-money-bag:before { content: "\f1ce"; }
.flaticon-bitcoin-3:before { content: "\f1cf"; }
.flaticon-bitcoin-2:before { content: "\f1d0"; }
.flaticon-bitcoin-1:before { content: "\f1d1"; }
.flaticon-bitcoin:before { content: "\f1d2"; }
.flaticon-profits:before { content: "\f1d3"; }
    
    $font-Flaticon-bookmark-2: "\f100";
    $font-Flaticon-bookmark-1: "\f101";
    $font-Flaticon-bookmark: "\f102";
    $font-Flaticon-black-shop-tag: "\f103";
    $font-Flaticon-tag-1: "\f104";
    $font-Flaticon-price-1: "\f105";
    $font-Flaticon-right-quote-sign: "\f106";
    $font-Flaticon-play-button-1: "\f107";
    $font-Flaticon-play-button: "\f108";
    $font-Flaticon-zcash-1: "\f109";
    $font-Flaticon-ripple-1: "\f10a";
    $font-Flaticon-dash-1: "\f10b";
    $font-Flaticon-monero-2: "\f10c";
    $font-Flaticon-bitcoin-70: "\f10d";
    $font-Flaticon-ethereum-3: "\f10e";
    $font-Flaticon-bitcoin-69: "\f10f";
    $font-Flaticon-ethereum-2: "\f110";
    $font-Flaticon-litecoin-1: "\f111";
    $font-Flaticon-share: "\f112";
    $font-Flaticon-cart-1: "\f113";
    $font-Flaticon-supermarket: "\f114";
    $font-Flaticon-shopping-carts: "\f115";
    $font-Flaticon-cart: "\f116";
    $font-Flaticon-unlink: "\f117";
    $font-Flaticon-link-1: "\f118";
    $font-Flaticon-link-button: "\f119";
    $font-Flaticon-search: "\f11a";
    $font-Flaticon-list-3: "\f11b";
    $font-Flaticon-list-2: "\f11c";
    $font-Flaticon-menu-6: "\f11d";
    $font-Flaticon-menu-5: "\f11e";
    $font-Flaticon-circles: "\f11f";
    $font-Flaticon-menu-4: "\f120";
    $font-Flaticon-menu-3: "\f121";
    $font-Flaticon-list-1: "\f122";
    $font-Flaticon-menu-2: "\f123";
    $font-Flaticon-menu-1: "\f124";
    $font-Flaticon-menu: "\f125";
    $font-Flaticon-info: "\f126";
    $font-Flaticon-danger: "\f127";
    $font-Flaticon-no-waiting: "\f128";
    $font-Flaticon-checkmark: "\f129";
    $font-Flaticon-edit: "\f12a";
    $font-Flaticon-right-arrow: "\f12b";
    $font-Flaticon-up-chevron: "\f12c";
    $font-Flaticon-briefcase-2: "\f12d";
    $font-Flaticon-exchange-3: "\f12e";
    $font-Flaticon-diamond: "\f12f";
    $font-Flaticon-bitcoin-68: "\f130";
    $font-Flaticon-bitcoin-67: "\f131";
    $font-Flaticon-bitcoin-66: "\f132";
    $font-Flaticon-bitcoin-65: "\f133";
    $font-Flaticon-briefcase-1: "\f134";
    $font-Flaticon-bitcoin-64: "\f135";
    $font-Flaticon-worldwide-1: "\f136";
    $font-Flaticon-idea: "\f137";
    $font-Flaticon-leadership: "\f138";
    $font-Flaticon-teamwork-1: "\f139";
    $font-Flaticon-loupe: "\f13a";
    $font-Flaticon-objective: "\f13b";
    $font-Flaticon-clock: "\f13c";
    $font-Flaticon-consulting: "\f13d";
    $font-Flaticon-seminar: "\f13e";
    $font-Flaticon-wrong: "\f13f";
    $font-Flaticon-blockchain: "\f140";
    $font-Flaticon-bitcoin-63: "\f141";
    $font-Flaticon-price: "\f142";
    $font-Flaticon-reply: "\f143";
    $font-Flaticon-send: "\f144";
    $font-Flaticon-wall-clock: "\f145";
    $font-Flaticon-pin: "\f146";
    $font-Flaticon-qr-code: "\f147";
    $font-Flaticon-chat: "\f148";
    $font-Flaticon-eye: "\f149";
    $font-Flaticon-upload-1: "\f14a";
    $font-Flaticon-bitcoin-62: "\f14b";
    $font-Flaticon-bitcoin-61: "\f14c";
    $font-Flaticon-consultant: "\f14d";
    $font-Flaticon-driver: "\f14e";
    $font-Flaticon-financial-analyst: "\f14f";
    $font-Flaticon-at: "\f150";
    $font-Flaticon-smartphone-1: "\f151";
    $font-Flaticon-link: "\f152";
    $font-Flaticon-telephone: "\f153";
    $font-Flaticon-heart-1: "\f154";
    $font-Flaticon-left-arrow-angle: "\f155";
    $font-Flaticon-bitcoin-60: "\f156";
    $font-Flaticon-tag: "\f157";
    $font-Flaticon-star-1: "\f158";
    $font-Flaticon-star: "\f159";
    $font-Flaticon-move-to-the-next-page-symbol: "\f15a";
    $font-Flaticon-left-arrow-chevron: "\f15b";
    $font-Flaticon-team: "\f15c";
    $font-Flaticon-brainstorming: "\f15d";
    $font-Flaticon-teamwork: "\f15e";
    $font-Flaticon-users: "\f15f";
    $font-Flaticon-laptop-1: "\f160";
    $font-Flaticon-data: "\f161";
    $font-Flaticon-chip: "\f162";
    $font-Flaticon-tick: "\f163";
    $font-Flaticon-bitcoin-59: "\f164";
    $font-Flaticon-pay: "\f165";
    $font-Flaticon-barcode: "\f166";
    $font-Flaticon-wallet: "\f167";
    $font-Flaticon-cross-remove-sign: "\f168";
    $font-Flaticon-list: "\f169";
    $font-Flaticon-strategy: "\f16a";
    $font-Flaticon-gear-1: "\f16b";
    $font-Flaticon-coffee-cup: "\f16c";
    $font-Flaticon-rocket: "\f16d";
    $font-Flaticon-store: "\f16e";
    $font-Flaticon-business-and-finance: "\f16f";
    $font-Flaticon-briefcase: "\f170";
    $font-Flaticon-cogwheel: "\f171";
    $font-Flaticon-bitcoin-58: "\f172";
    $font-Flaticon-bitcoin-57: "\f173";
    $font-Flaticon-bitcoin-56: "\f174";
    $font-Flaticon-bitcoin-55: "\f175";
    $font-Flaticon-bitcoin-54: "\f176";
    $font-Flaticon-bitcoin-53: "\f177";
    $font-Flaticon-bitcoin-52: "\f178";
    $font-Flaticon-bitcoin-51: "\f179";
    $font-Flaticon-bitcoin-50: "\f17a";
    $font-Flaticon-bitcoin-49: "\f17b";
    $font-Flaticon-bitcoin-48: "\f17c";
    $font-Flaticon-bitcoin-47: "\f17d";
    $font-Flaticon-bitcoin-46: "\f17e";
    $font-Flaticon-bitcoin-45: "\f17f";
    $font-Flaticon-bitcoin-44: "\f180";
    $font-Flaticon-bitcoin-43: "\f181";
    $font-Flaticon-bitcoin-42: "\f182";
    $font-Flaticon-bitcoin-41: "\f183";
    $font-Flaticon-bitcoin-40: "\f184";
    $font-Flaticon-bitcoin-39: "\f185";
    $font-Flaticon-bitcoin-38: "\f186";
    $font-Flaticon-bitcoin-37: "\f187";
    $font-Flaticon-bitcoin-36: "\f188";
    $font-Flaticon-bitcoin-35: "\f189";
    $font-Flaticon-bitcoin-34: "\f18a";
    $font-Flaticon-bitcoin-33: "\f18b";
    $font-Flaticon-bitcoin-32: "\f18c";
    $font-Flaticon-bitcoin-31: "\f18d";
    $font-Flaticon-bitcoin-30: "\f18e";
    $font-Flaticon-bitcoin-29: "\f18f";
    $font-Flaticon-upload: "\f190";
    $font-Flaticon-check: "\f191";
    $font-Flaticon-testing-glasses: "\f192";
    $font-Flaticon-test-1: "\f193";
    $font-Flaticon-test: "\f194";
    $font-Flaticon-gear: "\f195";
    $font-Flaticon-heart: "\f196";
    $font-Flaticon-verification-mark: "\f197";
    $font-Flaticon-zcash: "\f198";
    $font-Flaticon-bitcoin-28: "\f199";
    $font-Flaticon-bitcoin-27: "\f19a";
    $font-Flaticon-bitcoin-26: "\f19b";
    $font-Flaticon-bitcoin-25: "\f19c";
    $font-Flaticon-bitcoin-24: "\f19d";
    $font-Flaticon-monero-1: "\f19e";
    $font-Flaticon-bitcoin-23: "\f19f";
    $font-Flaticon-monero: "\f1a0";
    $font-Flaticon-bitcoin-22: "\f1a1";
    $font-Flaticon-dash: "\f1a2";
    $font-Flaticon-ethereum-1: "\f1a3";
    $font-Flaticon-bitcoin-21: "\f1a4";
    $font-Flaticon-ripple: "\f1a5";
    $font-Flaticon-exchange-2: "\f1a6";
    $font-Flaticon-chains: "\f1a7";
    $font-Flaticon-litecoin: "\f1a8";
    $font-Flaticon-bitcoin-20: "\f1a9";
    $font-Flaticon-ethereum: "\f1aa";
    $font-Flaticon-bitcoin-19: "\f1ab";
    $font-Flaticon-growth: "\f1ac";
    $font-Flaticon-bitcoin-18: "\f1ad";
    $font-Flaticon-bitcoin-17: "\f1ae";
    $font-Flaticon-bitcoin-16: "\f1af";
    $font-Flaticon-suitcase: "\f1b0";
    $font-Flaticon-bitcoin-15: "\f1b1";
    $font-Flaticon-bitcoin-14: "\f1b2";
    $font-Flaticon-bitcoin-13: "\f1b3";
    $font-Flaticon-bitcoin-12: "\f1b4";
    $font-Flaticon-bitcoin-11: "\f1b5";
    $font-Flaticon-safebox: "\f1b6";
    $font-Flaticon-bitcoin-10: "\f1b7";
    $font-Flaticon-pick-1: "\f1b8";
    $font-Flaticon-bitcoin-9: "\f1b9";
    $font-Flaticon-profits-1: "\f1ba";
    $font-Flaticon-laptop: "\f1bb";
    $font-Flaticon-bank: "\f1bc";
    $font-Flaticon-credit-card: "\f1bd";
    $font-Flaticon-network-1: "\f1be";
    $font-Flaticon-keyword: "\f1bf";
    $font-Flaticon-smartphone: "\f1c0";
    $font-Flaticon-bitcoin-8: "\f1c1";
    $font-Flaticon-worldwide: "\f1c2";
    $font-Flaticon-bitcoin-7: "\f1c3";
    $font-Flaticon-pick: "\f1c4";
    $font-Flaticon-piggy-bank: "\f1c5";
    $font-Flaticon-network: "\f1c6";
    $font-Flaticon-exchange-1: "\f1c7";
    $font-Flaticon-bitcoin-6: "\f1c8";
    $font-Flaticon-bitcoin-5: "\f1c9";
    $font-Flaticon-hacker: "\f1ca";
    $font-Flaticon-shopping-cart: "\f1cb";
    $font-Flaticon-exchange: "\f1cc";
    $font-Flaticon-bitcoin-4: "\f1cd";
    $font-Flaticon-money-bag: "\f1ce";
    $font-Flaticon-bitcoin-3: "\f1cf";
    $font-Flaticon-bitcoin-2: "\f1d0";
    $font-Flaticon-bitcoin-1: "\f1d1";
    $font-Flaticon-bitcoin: "\f1d2";
    $font-Flaticon-profits: "\f1d3";