*{
	margin:0;
	padding:0;
}

body{
	color:#eee;
	background:url('Background/page_bg.jpg') repeat-x #f3f3f3;
	font:15px Calibri,Arial,sans-serif;
	border-top:5px solid #212121;
}

#Container{
	background:url('Background/section_bg.png');
	border:1px solid #F4F4F4;
	margin:0px auto 0;
	overflow:hidden;
	
	padding:20px 0 20px 20px;
	width:230px;
	
	-moz-box-shadow:0 0 10px #C4C4C4;
	-webkit-box-shadow:0 0 10px #C4C4C4;
	box-shadow:0 0 10px #C4C4C4;
}

#Container a{
	float:center;
	margin:0px 0px 0 0;
}

#footer{
	background-color:#212121;
	position:fixed;
	width:100%;
	height:30px;
	bottom:0;
	left:0;
}

p.note{
	color:#999999;
	font-style:italic;
	margin:50px 0 120px;
	text-align:center;
	text-shadow:1px 1px 0 #FFFFFF;
}

p.theme{
	color:#999999;
	margin:0px 0 0px;
	text-align:left;
	text-shadow:1px 1px 0 #FFFFFF;
}

.tri{
	border-color:transparent transparent #212121;
	border-style:solid;
	border-width:20px 17px;
	height:0;
	left:50%;
	margin:-40px 0 0 -400px;
	position:absolute;
	top:0;
	width:0;
}

h1{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-410px;
	padding:-10px 0;
	position:absolute;
	width:400px;
}