@font-face {
    font-family:'Most';
    src: url(Most.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
/*    border-left: 1px solid #000;
    border-right: 1px solid #000;*/
}

footer {  
    position: fixed;  
    bottom: 0px;  
    height: 40px; 
    width: 90%;
    background-color: #f5f5f5;
    border-top: 1px solid black; 
    text-align: center;
}  

/*Меню*/
.menu-div {
    width: 100%;
    display: table;
}
.menu {
    display: table-row;
}
.menu li {
    display: table-cell;
    float: none;
}
.menu li a {
    display: block;
    padding: 8px 15px;
    background: #7E7E7E;
    font-family: Tahoma;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.menu li a:hover {
    background: #000;
}
.menu li a:active {
    background: #AD0000;
}
.menu li a.panel {
    margin-left: 1px
}

/*Login Form*/
.login-form{
    margin-top: 10%;
    text-align: center;
    border: 1px solid #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
.login-form input{
    margin-bottom: 10px;
}
/*//Login Form*/

/*Кнопка входа*/
input.login-button {
    position: relative;
    display: inline-block;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    cursor: pointer;
}
input.login-button:hover{
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);  
}
input.login-button:active{
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

/*Кнопка регистрации*/
input.reg-button {
    position: relative;
    display: inline-block;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #3EF62B;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 60px transparent inset, 0.1em 0.1em 0.2em #1B8800;
    background: linear-gradient(#86FB75, #3CF438 48%, #02EA0D 52%, #1CD509) repeat scroll 0% 0% transparent;
    cursor: pointer;
}
input.reg-button:hover{
    background: linear-gradient(to bottom, #4FFF19 0%, #3BCF04 100%) repeat scroll 0% 0% transparent;
}
input.reg-button:active{
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.most-text{
    font-family: 'Most';
    font-size: 30px;
}

.post{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #5b5b5a;

    height: 100%;

    border: 1px solid white; /*#B3B3B3*/ /*#eee*/
    margin-bottom: 10px;
    background: white;
    -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

.baner-div{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    /*background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);*/
}

hr{
    margin: 20px 0px;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: #EEE -moz-use-text-color #FFF;
}

a{
    text-decoration: none;
}