/*  -------------------
	Side panel styles
-------------------  */
body{
	&.slide_side_panel{
		.body-cont{
			position: relative;
			@include transition(left .3s ease, right .3s ease);
		}
		&.right_slide,
		&.right_pull{
			.body-cont{
				right: 0;
			}
		}
		&.left_slide,
		&.left_pull{
			.body-cont{
				left: 0;
			}
		}
	}
	&.show-overlay{
		.side_panel_overlay{
			opacity: 1;
			visibility: visible;
		}
	}
	&.side_panel_show{
		.side_panel_overlay{
			opacity: 1;
			visibility: visible;
		}
		.side_panel_container{
			.side_panel{
				overflow-y: scroll;
			}
			&.panel-left{
				left: 0;
			}
			&.panel-right{
				right: 0;
			}
		}
		&.left_pull{
			.side_panel_overlay{
				left: 360px;
			}
		}
		&.right_pull{
			.side_panel_overlay{
				right: 360px;
			}
		}
		&.left_slide,
		&.left_pull{
			.body-cont{
				left: 360px;
			}
		}
		&.right_slide,
		&.right_pull{
			.body-cont{
				left: auto;
				right: 360px;
			}
		}
		.side_panel{
			> div{
				top: 0;
				opacity: 1;
			}
		}
	}
	.side_panel_bg{
		width: 100%;
		height: 100%;
		background-color: #fff;
		background-repeat: no-repeat;
	}
	.side_panel_overlay{
		opacity: 0;
		background-color: rgba(0,0,0,.9);
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		visibility: hidden;
		z-index: 15;
		@include transition(opacity .4s linear, left .3s ease, right .3s ease);
	}
}
.side_panel_icon{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 1;
	width: 19px;
	height: 26px;
	&:before{
		content: '';
		border-color: inherit;
		width: 18px;
		height: 18px;
		position: absolute;
		top: 50%;
		left: 50%;
		border-width: 2px;
		border-style: solid;
		@include transform(translate(-50%, -50%));
		@include border-radius(50%);
	}
}
.side_panel_container{
	width: 360px;
	height: 100%;
	top: 0;
	position: fixed;
	overflow-y: hidden;
	@include transition(left .3s ease, right .3s ease);
	&:not(.pull){
		z-index: 20;
		&.panel-left{
			left: -360px;
		}
		&.panel-right{
			left: auto;
			right: -360px;
		}
	}
	&.panel-left{
		left: 0;
	}
	&.panel-right{
		right: 0;
	}
}
.side_panel{
	width: inherit;
	height: 100%;
	position: fixed;
	top: 0;
	padding: 30px;
	overflow-y: hidden; 
	.side_panel_wrapper{
		position: relative;
		padding: 45px 0 15px;
		.mobile_menu_bar{
			position: absolute;
			z-index: 1;
			top: 0;
		}
		&.close-left{
			.mobile_menu_bar{
				left: 0;
			}
		}
		&.close-right{
			.mobile_menu_bar{
				right: 0;
			}
		}
	}
	> div{
		top: -20px;
		opacity: 0;
		@include transition(opacity .3s ease, top .3s linear);
		&:first-child{
			transition-delay: .3s;
		}
		&:nth-of-type(2){
			transition-delay: .35s;
		}
		&:nth-of-type(3){
			transition-delay: .4s;
		}
		&:nth-of-type(4){
			transition-delay: .45s;
		}
		&:nth-of-type(n+5){
			transition-delay: .5s;
		}
	}
}
.mobile_menu_hamburger.close_side_panel{
	display: block;
	cursor: pointer;
	top: -5px;
	padding: 15px;
	height: 20px;
	cursor: pointer;
	&:hover{
		&:before{
			@include transform(translate(-50%, -50%) rotate(90deg));
		}
	}
	&:before{
		content: '\f00d';
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 24px;
		font-family: 'FontAwesome';
		@include transform(translate(-50%, -50%));
		@include transition(transform .3s ease);
	}
	span{
		display: none;
	}
}
.side_panel_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 360px;
	padding: 15px 30px 20px;
	background-color: #000;
	&:after{
		content: '';
		width: 100%;
		position: absolute;
		height: 20px;
		top: -20px;
		left: 0;
		@include linear-gradient(top, #000, transparent 65%);
	}
	p{
		margin: 0 0 15px 0;
		&:last-child{
			margin-bottom: 0;
		}
		i{
			margin-right: 10px;
		}
	}
}
