/*  -------------------
	Site title styles
-------------------  */
.title_box{
	position: relative;
	text-align: center;
	overflow: hidden;
	&.hide_header{
		height: 0;
	}
}
body.page,
body.single{
	.page_title{
		.title{
			h1{
				text-transform: capitalize;
				font-weight: 500;
				font-size: .8em;
			}
		}
		.bread-crumbs{
			margin-top: 30px;
			> *:not(.delimiter){
				opacity: .8;
			}
		}
	}
}
.page_title{
	@include transition(all .3s linear);
	&.customized{
		.container{
			display: block;
		}
	}
	.container{
		@include transition(all .3s linear);
		&:not(.header_center){
			@include flex(row, nowrap, space-between, center);
		}
		&.header_center{
			> *{
				display: block;
				text-align: center;
			}
			.bread-crumbs{
				margin-top: 15px;
			}
		}
	}
	&.no_title{
		.container{
			-webkit-justify-content: center;
			   -moz-justify-content: center;
				 -o-justify-content: center;
					justify-content: center;
			.title{
				display: none;
			}
		}
	}
	.bread-crumbs{
		@include transition(all .3s linear);
		position: relative;
		z-index: 2;
		@include flex(row, wrap, center, center);
		.delimiter{
			margin: 0 18px;
			font-size: 0px;
			position: relative;
			width: 10px;
			height: 10px;
			@include border-radius(50%);
		}
		> *{
			color: inherit;
			display: inline-block;
			vertical-align: middle;
		}
		a{
			&:before{
				content: '';
				width: 100%;
				position: absolute;
				height: 1px;
				left: 0;
				bottom: -8px;
				opacity: 0;
				@include transition(bottom .15s linear, opacity .2s ease);
			}
			&:hover{
				opacity: 1;
				&:before{
					opacity: 1;
					bottom: -1px;
				}
			}
		}
	}
	.logo_breadcrumbs{
		display: block;
	}
	.title{
		h1{
			position: relative;
			z-index: 1;
			@include transition(all .3s linear);
			font-weight: 700;
			text-transform: uppercase;
			-ms-word-wrap: break-word;
				word-wrap: break-word;
		}
	}
}
.cws_parallax_section{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	.layer{
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}