﻿ <meta charset="windows-1251">
 
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="fullajax.js"></script> 

	
<script type="text/javascript">
      $(document).ready(function(){
  $('a').click(function(){
    var url=$(this).attr("href");
    history.pushState(null, null, url);
	//alert(url);
	hax({url:url, id:'pjax-container',  onload:function(){
	admin ( )
}})
	//$('#pjax-container').load(url);
    return false;
  }) 
  });
</script> 
  
  
  1234
    <div id="pjax-container"></div>
	123
	<a href="page2.html">2 page</a>. <br>
	<a href="page1.html">1 page</a>
	

